{% extends "base.html" %}
{% block title %}Visualize - {{ block.super }}{% endblock title %}

{% block content %}
<div class="row collapse">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">

        <h1>{{ apps.total }} Applications</h1>

        <h2>Applications by completion stage</h2>
        <div id="chart__stage" class="chart"><svg></svg></div>
      </div>
    </div>
  </div>
</div>

<div class="row collapse">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <h2>Applications by domain</h2>
        <div id="chart__domain" class="chart"><svg></svg></div>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <h2>Applications by features</h2>
        <div id="chart__feature" class="chart"><svg></svg></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/nv.d3.css" type="text/css" media="screen" />
<style type="text/css" media="screen">
  .chart svg{
    height:500px;
    width:100%;
  }
  .chart svg text {
    font-size: 1.2em;
  }
  .nv-slice {
    cursor: pointer;
  }
</style>
{% endblock extra_styles %}

{% block extra_scripts %}
<script src="{{ STATIC_URL}}js/d3/d3.min.js" charset="utf-8"></script>
<script src="{{ STATIC_URL}}js/d3/nv.d3.min.js" charset="utf-8"></script>
<script src="{{ STATIC_URL}}js/visualize.js" charset="utf-8"></script>
<script src="{% url 'visual_json' %}" charset="utf-8"></script>
{% endblock extra_scripts %}
