/**
 * OVERRIDES
 *
 * This file will contain a bunch of overrides in order to improve the
 * current front end presentation.
 *
 * The purpose of this file is to leave everything how it was before
 * in case things need to be reverted.
 *
 * The work set up of the CSS on this project is built on top of a Framework
 * therefore making changes very restricted.
 * SCSS files are contained in multiple folders, making it highlighly unmanageable.
 *
 * Ideally the whole front end needs a re-structure.
 * There needs to be more consistent rules used across the markup.
 *
 * I would suggest putting together a custom styleguide.
 * I would rely on Foundation only for the grid and nothing else.
 *
 *
 * @author Pedro Duarte
 */



 html, input, button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }


/* _slides */
.slide__panel {
 	background: rgba(255, 255, 255, .9);

	.slide__heading {
		margin-bottom: 10px;
	}

	.slide__desc {
		margin-bottom: 0;
	}

	.button {
		margin-top: 2rem;
	}

	&.slide__panel--dark {
		background-color: rgba($dark-color, .9);
	}
}



/* _furniture */
.quicklinks .quicklinks__link {
	margin-bottom: 2px;
}

@media #{$xlarge-up} {
  body > .row {
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }
}

.top-bar-section {
  .has-form {
  	padding-right: 1.78571rem;
  }
}

.top-bar {
  .toggle-topbar.menu-icon a {
  	&:after {
  		right: 10px;
  	}
  }
}

.top-bar-section {
  .right {
    margin-top: 39px;
  }

  ul {
    li > a {
      border-bottom: 1px solid #e1e1e1;

      @media #{$nav-breakpoint} {
      	border: none;
      }
    }

    li:first-child > a {
    	border-top: 1px solid #e1e1e1;

    	@media #{$nav-breakpoint} {
    		border: none;
    	}
    }
  }

	// Make it clear this is a back button and not another nav link
  .dropdown li.title h5 a {
  	border-bottom: 1px solid #e1e1e1;
  	text-transform: uppercase;
  	font-size: .8rem;

  	&:before {
  		@extend .arrow-left;
  		display: inline-block;
  		content: "";
  		margin-right: 5px;
  	}
  }
}



/* _featured */
.featured__link {
	position: relative;

	&:after {
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;

		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 19%, rgba(255,255,255,0) 76%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(19%,rgba(255,255,255,0)), color-stop(76%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,0)), color-stop(98%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 19%,rgba(255,255,255,0) 76%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 19%,rgba(255,255,255,0) 76%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 19%,rgba(255,255,255,0) 76%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 19%,rgba(255,255,255,0) 76%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	}

	&:hover {
		&:after {
			background: none;
		}
		.featured__tags {
			@media #{$large-up} {
				display: none;
			}
		}
		@media #{$large-up} {
			.columns {
				height: 100%;
			}
			.featured__cta {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				// width: 100%;
			}
		}
	}

}





/* _callout */
.callout {
	border: none;
	text-align: center;

	@media #{$medium-up} {
		float: none;
	}

	@media only screen and (min-width: 1080px) {
		float: left;
	}
}

.callout__image {
	border: 1px solid #ccc;
	width: 100%;
	max-width: rem-calc(380);

	@media only screen and (min-width: 1080px) {
		width: auto;
	}
}


/* _homepage-grid */
.homepage-grid__col {
  &:nth-child(odd) {
    border-width: 3px;
  }

  @media #{$large-up} {
    border-width: 3px;
  }
}

.homepage-grid__desc {
	@media #{$medium-up} {
		min-height: 80px;
	}
}

.homepage-grid__button {
	margin-top: 1rem;
	margin-bottom: 0;
}



/* _newsletter */
.newsletter__heading {
	font-size: 1.2rem;
	display: block;
}



/* _buttons */
.button {
	text-transform: uppercase;


	// a bit of breathing space on narrow buttons
	&.expand {
		padding-left: 5px;
		padding-right: 5px;
	}
}



/* _footer */
.footer {
  a:link,
  a:visited {
    font-size: 1rem;
  }
}



/* _domains */
.domains-full-list {
	font-size: 1rem;
}



/* File unknown (?) */
.top-bar-section .has-dropdown.hover>.dropdown,
.top-bar-section .has-dropdown.not-click:hover>.dropdown {
	border: 1px solid #e1e1e1;
}


.top-bar .toggle-topbar.menu-icon {
	width: 60%;
	@media #{$medium-up} {
		margin-top: -8px;
	}
}
