@if $oldIE {
  .top-bar-section {
    left: 0 !important;

    ul {
      width: auto;
      height: auto !important;
      display: inline;

      li {
        float: left;
        
        a {
          padding: 0 15px;
          line-height: 45px;
          background: #ffffff;
          padding-right: 35px !important;
        }
      }
    }
  }

  .top-bar .toggle-topbar {
    display: none;
  }
}