{% load thumbnail %}{% if object %}
<div class="row" data-equalizer-watch>
  <div class="small-12 columns">
    {% if object.image %}<img src="{% thumbnail object.image 80x78 crop %}" alt="{{ object.name }}">{% endif %}
    <h4 class="homepage-grid__heading homepage-grid__heading__plain">{{ object.name }}</h4>
    {{ object.body|safe }}
  </div>
</div>
{% if object.url and object.url_text %}
<div class="row">
  <div class="small-12 columns">
    <a class="homepage-grid__button button expand alert" href="{{ object.url }}" >{{ object.url_text }}</a>
  </div>
</div>
{% endif %}
{% endif %}
