<aside class="large-4 medium-3 columns sidebar show-for-medium-up">{% load snippets_tags news_tags %}
  <div class="row">
    <div class="large-12 columns" data-equalizer-watch>
      

      <ul class="no-bullet sidebar__list sidebar__list--chevrons">
      	{% block sidenav %}
        {% include "includes/navigation/about.html" with as_sidebar="true" %}
        {% endblock sidenav %}
      </ul>


      <a class="twitter-timeline" href="https://twitter.com/US_Ignite" data-widget-id="440812138123116544">Tweets by @US_Ignite</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
  </div>
</aside>
