{% extends "sections/base.html" %} {% block title %}Board of directors - {{ block.super }}{% endblock title %} {% block section %}
<h2 class="heading">Board of directors</h2>

<div class="staff">

  <h3 class="subheading">Sue Spradley</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/spradleyw.jpg" class="callout__image" alt="">
  </div>

  <p>Senior Vice President and General Manager of Communications Test and Measurement, JDSU Susan (Sue) Spradley brings to US Ignite more than 20 years of experience in the wireless telecommunications industry in which she has held senior executive positions in sales, product line management, operations, services and customer support. Most recently she was Head of the North American Region at Nokia Siemens Networks and also a member of the company’s Executive Board.</p>
  <p>Prior to joining Nokia Siemens Networks, Ms. Spradley held prominent leadership roles at Nortel Networks including President of Global Services and Operations, President of Global Product Line Management and North American Sales, and Vice-President of Customer Service and Operations. She also served as Vice-President of Marketing and Product Development for North America at Siemens Communications.</p>
  <p>In addition, she previously was a member of the National Security Telecommunications Advisory Committee reporting to the President of the United States.</p>
  <p>Susan Spradley holds a bachelor’s degree in Computer Science from the University of Kansas and completed the Advanced Management Program at Harvard Business School. Susan is a member of the Executive Board of the Perot Museum of Nature and Science in Dallas, and a board member at Tango Networks and EXFO.</p>


</div>

<div class="staff">

  <h3 class="subheading">Lev Gonick</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/Lev-Gonick.jpg" class="callout__image" alt="">
  </div>

  <p>Lev is co-founder of OneCommunity and became CEO July 1, 2013.</p>
  <p>In 2011 Government Technology awarded Lev one of their “Top 25 Doers, Dreamers & Drivers in Public-Sector Innovation.” In the same year Crain’s Business Cleveland named Gonick one its “10 Difference Makers” in Northeast Ohio and Broadband Properties honored him with their Cornerstone Award for “using fiber to build an inclusive society and empower individuals.” In 2010 he received recognition as “Visionary of the Year” from NATOA. Lev has been recognized by ComputerWorld as a Premier 100 IT leader and honored by CIO magazine with a CIO 100 Award. Northeast Ohio’s Inside Business has recognized Lev as one of their Power 100.</p>
  <p>Lev was CIO at Case Western Reserve University from 2001-2013. He and his colleagues were internationally recognized for technology innovations in community engagement, learning spaces, next generation network projects, and organizational development. Lev’s innovations, including the Case Connection Zone catalyzed national projects, including US Ignite and Gig.U</p>
  <p>A frequent international speaker and consultant, Lev currently serves on the Boards of Monarch Teaching Technologies (educational software developers for persons with autism), DecisionDesk, EGenio, Groundworks Dance Theater, and Cleveland Independents (Restaurants).</p>

</div>

<div class="staff">

  <h3 class="subheading">Rick Hitchcock</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/hitchcockw.jpg" class="callout__image" alt="">
  </div>

  <p>Shareholder, Chambliss, Bahner & Stophel, P.C</p>
  <p>Rick Hitchcock advises and represents clients in environmental matters, business planning, technology issues, transactions, and trial and appellate litigation. He also counsels businesses and utilities concerning environmental compliance matters.</p>
  <p>Mr. Hitchcock has represented clients in significant environmental matters before administrative agencies, regional EPA offices, and several state and federal courts. He has successfully handled a number of appellate cases, including a leading case on the lender exception to liability under the federal Superfund law. He has served as special counsel to local governments on contract, franchise, and constitutional issues and represents electric and telecommunications utilities in strategic business planning. As counsel to the charter study commission of the City of Chattanooga, he served as a principal drafter of a charter framework that was implemented in 1990.</p>
  <p>Mr. Hitchcock is involved in a variety of community activities. He helped lead successful voter initiatives to combine local schools and to provide financial resources to support public education. He has been actively involved in the revitalization of downtown Chattanooga.</p>

</div>

<div class="staff">

  <h3 class="subheading">C. Link Hoewing</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/hoeweingw.jpg" class="callout__image" alt="">
  </div>

  <p>Vice President of Internet and Technology Policy, Verizon Communications</p>
  <p>C. Lincoln (Link) Hoewing is Vice President of Internet and Technology Policy for Verizon, one of America’s largest telecommunications providers providing wireless voice and data services, Internet backbone and businesses services, and local phone, television and broadband services.</p>
  <p>Mr. Hoewing is responsible for identifying and assessing emerging issues, developing corporate positions on Internet and Technology industry issues, and assessing key technology and communications industry trends. Mr. Hoewing develops relationships with high technology industry members, interactive technology associations, research institutes, and think tanks. He is a frequent speaker on high technology issues, such as net neutrality and network management, has written articles on using the Internet in the public policy process, and blogs frequently.</p>
  <p>Mr. Hoewing’s prior responsibilities include three years in marketing, network interconnection negotiations and external affairs positions at Bell Atlantic and Telecom in New Zealand.</p>
  <p>He also served eight years as a Congressional Legislative Aide and Deputy Staff Director on the U. S. Senate Governmental Affairs Committee. As Deputy Staff Director he managed the scheduling of hearings, committee legislative structures, and oversight and budget authorization procedures. He initiated oversight hearings on defense programs that resulted in major reform to the management of defense programs.</p>
  <p>Link Hoewing has a Bachelor's degree from Carthage College, Wisconsin and a Masters degree in Public Administration from American University.</p>

</div>

<div class="staff">

  <h3 class="subheading">David Lambert</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/lambertw.jpg" class="callout__image" alt="">
  </div>

  <p>President and CEO, Internet2</p>
  <p>In partnership with the Board of Trustees and the Executive Leadership Team, Lambert is responsible for leading and implementing the organization’s strategic vision and ensuring its priorities are aligned with the technical and thought leadership of its membership.</p>
  <p>Lambert is leading Internet2 to focus on several key areas: advanced network services and leadership, national and regional collaboration, global reach and leadership, industry and research partnership development and engagement, CIO engagement, NET+ Services “above the network,” and the U.S. Unified Community Anchor Network (U.S. UCAN).</p>
  <p>Prior to joining Internet2, Lambert was the first Vice President for Information Services and Chief Information Officer at Georgetown University, where he held the position of VP/CIO since early 1998. He was recruited to Georgetown University from Cornell University, where he served as Vice President for Information Technology from 1994 through 1997 and as Director of Network Services from 1989 through 1993.</p>
  <p>Prior to joining Cornell in 1989, Lambert held several technical and leadership positions at Indiana University, Bloomington, where he was responsible for the deployment of the first university-wide multi-service IP network.</p>
  <p>Mr. Lambert's academic background includes a B.A. in Political Science from West Virginia University and doctoral studies in Political Science at Indiana University, Bloomington.</p>
  <p>He and his family live in Bethesda, Maryland.</p>

</div>

<div class="staff">

  <h3 class="subheading">Mike Marcellin</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/marcellinw.jpg" class="callout__image" alt="">
  </div>

  <p>Senior Vice President, Strategy & Marketing, Platform Systems Division, Juniper Networks, Inc.</p>
  <p>Mike Marcellin maintains responsibility for business strategy and marketing of Juniper’s industry-leading portfolio of high performance routing, switching, and data center fabric products, as well as the company’s groundbreaking Junos operating system and best-in-industry silicon portfolio. Marcellin’s team is responsible for business strategy and product marketing, go-to-market planning, sales and customer education and information experience, as well as competitive analysis worldwide.</p>
  <p>Previously, Marcellin served as Vice President of Global Managed Solutions for Verizon, responsible for product development and marketing of its portfolio of managed IP networking, hosting, security and IT solutions for businesses around the world. During his tenure, Marcellin managed this $4 billion portfolio, along with $75 million in product development capital, to deliver best-in-industry security solutions, an innovative cloud computing offering for enterprises and a first-of-its-kind managed mobility solution.</p>
  <p>Prior to that, Marcellin served as Vice President of Global Product Marketing for Verizon Business. Under his direction, Marcellin’s team received numerous industry awards and recognition, including the 2008 Frost & Sullivan North American Product Line Strategy awards for hosted IP telephony and VoIP access and the Metro Ethernet Forum 2008 Ethernet Service Provider of the Year awards for North America and Europe.</p>
  <p>A Rodman Scholar at the University of Virginia, Marcellin received a Bachelor of Science degree with Distinction in Systems Engineering. Marcellin is based in Sunnyvale, California.</p>


</div>

<div class="staff">

  <h3 class="subheading">Bob Metcalfe</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/metcalfew.jpg" class="callout__image" alt="">
  </div>

  <p>Professor of Innovation and Murchison Fellow of Free Enterprise in the University of Texas at Austin's Cockrell School Of Engineering</p>
  <p>Bob Metcalfe was an Inter­net pioneer at MIT starting in 1970 and in 1973 received his PhD from Harvard for “Packet Communication.” He invented Ethernet in 1973 and founded 3Com Corpora­tion (now part of HP) in 1979. He was a publisher-pundit in the 1990s with International Data Group and a venture capitalist in the 2000s with Polaris Venture Partners.</p>
  <p>Dr. Metcalfe has received awards including the ACM Grace Hopper Award in 1980, the IEEE Alexander Graham Bell Medal in 1988, the IEEE Medal of Honor in 1996, the National Medal of Technology in 2005, induction into to the National Inventors Hall of Fame in 2007, the Fellow Award from the Computer History Museum in 2008, and the Japan NEC C&C (Computing and Communication) Prize in 2011. He is a life trustee of MIT and a member of the National Academy of Engineering.</p>
</div>

<div class="staff">

  <h3 class="subheading">Ben Moskowitz</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/moskowitzw.jpg" class="callout__image" alt="">
  </div>

  <p>Media Program Officer, Mozilla Foundation</p>
  <p>Ben Moskowitz bridges open web R&D with innovators inside news and media organizations, foundations and industry. He has led development on Popcorn.js, Popcorn Maker, the Knight Mozilla news fellows, and other initiatives in Mozilla's portfolio of media projects.</p>
  <p>Ben previously founded the Open Video Alliance, a coalition dedicated to promoting free and open technologies, policies and practices in online video, and the Open Video Conference, a gathering of international technology, creative, and policy experts driving innovation in web video.</p>
  <p>Ben also serves as an Adjunct Professor at NYU's Interactive Telecommunications Program.</p>


</div>

<div class="staff">

  <h3 class="subheading">William Wallace</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/billwallace.jpg" class="callout__image" alt="">
  </div>

  <p>Executive Director, US Ignite</p>
  <p>William Wallace brings to US Ignite more than 25 years of experience in the telecommunications industry, most recently as co-founder and Executive Vice President of DigitalBridge Communications (DBC), a venture-backed startup dedicated to bringing 4G broadband wireless services to underserved portions of the U.S.</p>
  <p>Prior to DBC, Mr. Wallace was co-founder and CEO of OnePoint Communications, which was purchased by Verizon Communications in 2000. OnePoint and its successor company, Verizon Avenue, provide bundled communications services to concentrated communities nationwide, including apartment communities, military bases, and rural areas.</p>
  <p>Previously, he served as head of the Telecommunications practice and Chief Operating Officer for Gemini Consulting, a wholly-owned subsidiary of the Cap Gemini Sogeti group. In that role, he led teams that developed strategies and improved operations for many of the world’s largest carriers.</p>
  <p>Mr. Wallace received an AB degree in Government and Economics from Harvard College and an MBA from Harvard Business School.</p>

</div>

<div class="staff">

  <h3 class="subheading">Glenn Ricart</h3>

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/20130924-GR-headshot-1.jpg" class="callout__image" alt="">
  </div>

  <p>Founder and CTO, US Ignite</p>
  <p>Glenn Ricart brings forty years of innovation in computer networking and related fields to US Ignite. Glenn is an Internet pioneer who implemented the first Inter-net interconnection point (the FIX in College Park, Maryland) and was recognized for this achievement by being inducted into the Internet Hall of Fame in August 2013. In one of his previous roles where he was academic CIO at the University of Maryland, his campus implemented the first institution-wide TCP/IP (Internet) network in 1983 using low-cost PDP-11 routers (“Fuzballs”) with software devised at the University of Maryland. Glenn was principal investigator of SURAnet, the first regional TCP/IP (Internet) network of academic and commercial institutions.</p>
  <p>Dr. Ricart has also held other senior management positions including Executive Vice President and CTO for Novell in the 1990s, Managing Director of PricewaterhouseCoopers, and CEO and President of National LambdaRail. Dr. Ricart is also the founder or co-founder of five startups; the one previous to US Ignite, CenterBeam, was sold to Earthlink in 2013 after 14 years of independent operation.</p>
  <p>Glenn’s formal education includes degrees from Case Institute of Technology and Case Western Reserve University, and his Ph.D. in Computer Science is from the University of Maryland, College Park. His inventions have resulted in more than a dozen patents. Dr. Ricart has served on the boards of three public companies, CACI, the SCO Organization, and First USA Financial Services, in addition to numerous non-profits.</p>
</div>

{% endblock section %}