{% extends "sections/base.html" %}

{% block title %}Partners - {{ block.super }}{% endblock title %}

{% block section %}
<h1>Current Sponsors and Partners</h1>

<p>
  <a href="http://www.att.com" target="_blank"><img title="att" src="{{ STATIC_URL }}img/partners/att1.png" alt="AT&amp;T" width="150" height="75" /></a>

  <a href="http://www.atcnet.net" target="_blank"><img title="atc" src="{{ STATIC_URL }}img/partners/atc.png" alt="ATC Communications" width="150" height="75" /></a>

  <a href="http://www.bigswitch.com" target="_blank"><img title="bigswitch" src="{{ STATIC_URL }}img/partners/bigswitch.png" alt="Big Switch" width="150" height="75" /></a>

  <a href="http://www.cenic.org" target="_blank"><img title="cenic" src="{{ STATIC_URL }}img/partners/cenic.png" alt="Cenic" width="150" height="75" /></a>

  <a href="http://www.mott.org/" target="_blank"><img title="charlesstewartmott" src="{{ STATIC_URL }}img/partners/charlesstewartmott.png" alt="Charles Stewart Mott Foundation" width="150" height="75" /></a>

  <a href="http://www.ciena.com/" target="_blank"><img title="ciena" src="{{ STATIC_URL }}img/partners/ciena.png" alt="Ciena" width="150" height="75" /></a>

  <a href="http://www.cisco.com/" target="_blank"><img title="cisco" src="{{ STATIC_URL }}img/partners/cisco.png" alt="Cisco" width="150" height="75" /></a>

  <a href="http://www.ci.ammon.id.us/" target="_blank"><img title="ammon" src="{{ STATIC_URL }}img/partners/ammon.png" alt="City of Ammon" width="150" height="75" /></a>

  <a href="http://www.phila.gov/Pages/default.aspx" target="_blank"><img title="philadelphia" src="{{ STATIC_URL }}img/partners/philadelphia.png" alt="City of Philadelphia" width="150" height="75" /></a>

  <a href="http://www.ci.sf.ca.us/index.asp" target="_blank"><img title="sanfran" src="{{ STATIC_URL }}img/partners/sanfran.png" alt="City of San Francisco" width="150" height="75" /></a>

  <a href="http://www.smgov.net/" target="_blank"><img title="santamonica" src="{{ STATIC_URL }}img/partners/santamonica.png" alt="City of Santa Monica" width="150" height="75" /></a>

  <a href="http://www.wilsonnc.org/" target="_blank"><img title="wilson" src="{{ STATIC_URL }}img/partners/wilson.png" alt="" width="150" height="75" /></a>

  <a href="http://www.comcast.com/" target="_blank"><img title="comcast" src="{{ STATIC_URL }}img/partners/comcast.png" alt="Comcast" width="150" height="75" /></a>

  <a href="http://dcnet.dc.gov/DC/DCNET" target="_blank"><img title="dc-net" src="{{ STATIC_URL }}img/partners/dc-net.png" alt="DC Net" width="150" height="75" /></a>

  <a href="http://www.dra.gov/" target="_blank"><img title="delta-regional" src="{{ STATIC_URL }}img/partners/delta-regional.png" alt="Delta Regional" width="150" height="75" /></a>

  <a href="https://www.epb.net/" target="_blank"><img title="epb" src="{{ STATIC_URL }}img/partners/epb.png" alt="EPB" width="150" height="75" /></a>

  <a href="http://www.extremenetworks.com/" target="_blank"><img title="extreme" src="{{ STATIC_URL }}img/partners/extreme.png" alt="" width="150" height="75" /></a>

  <a href="http://www.flrnet.org/" target="_blank"><img title="florida" src="{{ STATIC_URL }}img/partners/florida.png" alt="Florida LambdaRail" width="150" height="75" /></a>

  <a href="http://www.greenlightnc.com/" target="_blank"><img title="greenlight" src="{{ STATIC_URL }}img/partners/greenlight.png" alt="Greenlight" width="150" height="75" /></a>

  <a href="http://hbci.com/" target="_blank"><img title="hbc" src="{{ STATIC_URL }}img/partners/hbc.png" alt="HBC" width="150" height="75" /></a>

  <a href="http://www.hp.com/" target="_blank"><img title="hp" src="{{ STATIC_URL }}img/partners/hp.png" alt="HP" width="150" height="75" /></a>

  <a href="http://www.internet2.edu/" target="_blank"><img title="2internet" src="{{ STATIC_URL }}img/partners/2internet.png" alt="Internet 2" width="150" height="75" /></a>

  <a href="http://www.juniper.net/us/en/" target="_blank"><img title="juniper" src="{{ STATIC_URL }}img/partners/juniper.png" alt="Juniper Networks" width="150" height="75" /></a>

  <a href="http://lus.org/site.php" target="_blank"><img title="LUS" src="{{ STATIC_URL }}img/partners/LUS.png" alt="Lafayette Utilities System" width="150" height="75" /></a>

  <a href="http://learnlakenona.com/" target="_blank"><img title="lake-nona" src="{{ STATIC_URL }}img/partners/lake-nona.png" alt="Lake Nona" width="150" height="75" /></a>

  <a href="http://www.lyndhurstfoundation.org/" target="_blank"><img title="lyndhurst" src="{{ STATIC_URL }}img/partners/lyndhurst.png" alt="Lyndhurst Foundation" width="150" height="75" /></a>

  <a href="http://www.merit.edu/" target="_blank"><img title="merit" src="{{ STATIC_URL }}img/partners/merit.png" alt="Merit Network" width="150" height="75" /></a>

  <a href="http://www.mozilla.org/en-US/" target="_blank"><img title="mozilla" src="{{ STATIC_URL }}img/partners/mozilla.png" alt="Mozilla" width="150" height="75" /></a>

  <a href="http://www.nec.com/" target="_blank"><img title="nec" src="{{ STATIC_URL }}img/partners/nec.png" alt="NEC" width="150" height="75" /></a>

  <a href="http://www.onecommunity.org/" target="_blank"><img title="onecommunity" src="{{ STATIC_URL }}img/partners/onecommunity.png" alt="One Community" width="150" height="75" /></a>

  <a href="http://www.thegigcity.com/" target="_blank"><img title="gigcity" src="{{ STATIC_URL }}img/partners/gigcity.png" alt="The Gig City" width="150" height="75" /></a>

  <a href="http://uc2b.net/" target="_blank"><img title="urbana" src="{{ STATIC_URL }}img/partners/urbana.png" alt="Urbana Champaign Big Broadband" width="150" height="75" /></a>

  <a href="http://www.uen.org/" target="_blank"><img title="utah-ed" src="{{ STATIC_URL }}img/partners/utah-ed.png" alt="Utah Education Network" width="150" height="75" /></a>

  <a href="http://www.utopianet.org/" target="_blank"><img title="utopia" src="{{ STATIC_URL }}img/partners/utopia.png" alt="UTOPIA" width="150" height="75" /></a>

  <a href="http://www22.verizon.com/home/verizonglobalhome/ghp_landing.aspx" target="_blank"><img title="verizon" src="{{ STATIC_URL }}img/partners/verizon.png" alt="Verizon" width="150" height="75" /></a>

</p>


{% endblock section %}
