{% extends "sections/base.html" %}

{% block title %}Staff - {{ block.super }}{% endblock title %}

{% block section %}
<h2 class="header">Staff</h2>

<div class="staff">
  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/20130924-GR-headshot-1.jpg" class="callout__image">
  </div>
  <h3 class="subheader">Glenn Ricart</h3>


  <p>Glenn Ricart brings forty years of innovation in computer networking and related fields to US Ignite. Glenn is an Internet pioneer who implemented the first Inter-net interconnection point (the FIX in College Park, Maryland) and was recognized for this achievement by being inducted into the Internet Hall of Fame in August 2013. In one of his previous roles where he was academic CIO at the University of Maryland, his campus implemented the first institution-wide TCP/IP (Internet) network in 1983 using low-cost PDP-11 routers (“Fuzballs”) with software devised at the University of Maryland.  Glenn was principal investigator of SURAnet, the first regional TCP/IP (Internet) network of academic and commercial institutions.</p>
  <p>Dr. Ricart has also held other senior management positions including Executive Vice President and CTO for Novell in the 1990s, Managing Director of PricewaterhouseCoopers, and CEO and President of National LambdaRail. Dr. Ricart is also the founder or co-founder of five startups; the one previous to US Ignite, CenterBeam, was sold to Earthlink in 2013 after 14 years of independent operation.</p>
  <p>Glenn’s formal education includes degrees from Case Institute of Technology and Case Western Reserve University, and his Ph.D. in Computer Science is from the University of Maryland, College Park. His inventions have resulted in more than a dozen patents. Dr. Ricart has served on the boards of three public companies, CACI, the SCO Organization, and First USA Financial Services, in addition to numerous non-profits</p>
</div>

<div class="staff">

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/billwallace.jpg" class="callout__image">
  </div>

  <h3 class="subheader">William Wallace</h3>

  <p>William Wallace is Executive Director and brings to US Ignite more than 30 years of experience in the telecommunications industry, most recently as co-founder of DigitalBridge Communications (DBC), a venture-backed startup dedicated to bringing 4G broadband wireless services to underserved portions of the U.S.</p>
  <p>Prior to DBC, Mr. Wallace was co-founder and CEO of OnePoint Communications, which was purchased by Verizon Communications in 2000.  OnePoint and its successor company, Verizon Avenue, provide bundled communications services to concentrated communities nationwide, including apartment communities, military bases, and rural areas.</p>
  <p>Previously, he served as head of the Telecommunications practice and Chief Operating Officer for Gemini Consulting, a wholly-owned subsidiary of the Cap Gemini Sogeti group.  In that role, he led teams that developed strategies and improved operations for many of the world’s largest carriers.</p>
   <p>Mr. Wallace received an AB degree in Government and Economics from Harvard College and an MBA from Harvard Business School.</p>
</div>

<div class="staff">

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/IMG_7898-2.jpg" class="callout__image">
  </div>

  <h3 class="subheader">Joe Kochan</h3>
   
  <p>Joseph (Joe) Kochan joins US Ignite as management consultant from Widelity, Inc. specializing in business strategy, business plan development and modeling, project management, network deployment and operations, and federal grant compliance.</p>
  <p>Prior to joining Widelity, Mr. Kochan worked as part of the Department of Commerce’s BTOP grant program. Prior to that role, he was a founder and Vice President–Operations of DigitalBridge Communications (DBC), a Virginia-based startup backed by over $40M in venture funding dedicated to bringing broadband services to small, underserved markets nationwide using broadband wireless technology. At DBC, Mr. Kochan managed the design and deployment of 4G wireless networks covering over 600,000 people in 6 states, as well as the acquisition of the company’s first 20,000 customers.</p>
  <p>Previously, he was with Verizon Avenue, the Verizon subsidiary focused on providing bundled communications services to concentrated communities nationwide. At Verizon he had responsibility for strategic planning and strategic project management, specifically focusing on the military housing market and the implementation of the first Verizon FiOS networks at military bases across the country.</p>
  <p>Mr. Kochan received a Bachelor of Science in Engineering degree from Princeton University and lives in Washington, DC, where he serves as a volunteer and also is on the board of directors of Miriam’s Kitchen, a not-for-profit service organization serving the homeless population of the city.</p>
</div>

<div class="staff">

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/bill-maquire.jpg" class="callout__image">
  </div>

  <h3 class="subheader">Bill Maguire</h3>

  <p>Bill Maguire serves as a Project Director for US Ignite. Bill acts as US Ignite’s primary liaison to the Global City Team Challenge, a partnership between NIST and US Ignite through which international teams work on collaborative deployments of Internet of Things technologies in a smart city environment.</p>
  <p>Formerly, Bill served as Chief of Staff for the Broadband Technology Opportunities Program (BTOP) at the National Telecommunications and Information Administration (NTIA). Through the $4.7 billion BTOP program, NTIA supported the deployment of 100,000 new and upgraded fiber network miles connecting 20,000 anchor institutions, including more than 10,000 K-12 schools.</p>
  <p>Bill is a graduate of Reed College and of Union Theological Seminary in New York.</p>
</div>

<div class="staff">

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/Jenniferweb-sized-e1373996631989.jpg" class="callout__image">
  </div>

  <h3 class="subheader">Jennifer Mott</h3>

  <p>Jennifer Mott is the outreach and marketing manager for the US Ignite.  She brings over ten years of experience in community engagement, digital marketing, social media, web design and development to the team.</p>
  <p>Prior to joining US Ignite, Jennifer served as the manager of outreach and education for the Entertainment Software Association (ESA) the national trade group for the video game industry. While there, Jennifer lead the ESA’s nationally recognized public awareness campaign “Join the © Team.”  Through relationship building with community leaders, key stakeholders and influencers, the campaign successfully reached 25 million students highlighting cyber-ethics and the video game industry. While at ESA, Jennifer also worked extensively with technology executives in Mexico and Canada to develop digital campaigns and social media contests to highlight the impact of game piracy in the local economy.</p>
  <p>Outside the office, Jennifer serves on the parent board of her daughter’s elementary school, and enjoys exploring all the great museums, and parks that DC has to offer. </p>
</div>

<div class="staff">

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/rick-mcgeer-1.jpg" class="callout__image">
  </div>

  <h3 class="subheader">Rick McGeer</h3>

  <p>Rick McGeer joins US Ignite as Chief Scientist. He received his Ph. D. in Computer Science from the University of California at Berkeley in 1989. He was an Assistant Professor in the Computer Science Department at the University of British Columbia, until returning to UC-Berkeley as a Research Engineer in 1991. In 1993,  he co-founded the
  Cadence Berkeley Laboratories, the research arm of Cadence Design Systems. In 1998, he co-founded  Softface, Inc., where he remained as Chief Scientist until 2003.</p>
  <p>In 2003 he joined Hewlett-Packard Laboratories, transferring to HP Enterprise Systems in 2013, where he is currently a Distinguished Technologist.  Dr. McGeer co-founded the PlanetLab consortium in 2003, where he currently serves on the Steering Committee.</p>
  <p>In 2013, he joined US Ignite on a part-time, volunteer basis as Chief Scientist on loan from HP.  He is the author of over 90 papers and one book in the fields of Computer-Aided Design, circuit theory, programming languages, distributed systems, networking, and information system design. His research interests include logic synthesis, timing analysis, formal verification, circuit simulation, programming languages, networking, wide-area distributed systems, and cloud systems.</p>
  <p>He has acted as a Principal Investigator on three DARPA and three GENI projects over the past two decades.  He is an Adjunct Professor of Computer Science at the University of Victoria, Victoria, BC, Canada.</p>
</div>

<div class="staff">

  <div class="callout">
    <img src="{{ STATIC_URL }}img/staff/maxime.jpg" class="callout__image">
  </div>

  <h3 class="subheader">Maxime Paul</h3>

  <p>Maxime Paul is the Evangelist for CloudLab platform. He brings over 5 years of diverse experience in technology innovation, education, and business development experience to the team.</p>
  <p>Prior to joining US Ignite, Maxime ran multiple edtech startups including a twitter platform for the classroom. One of his biggest assets in the classroom and beyond has been his ability to empathize with people of all communities and break down the even most complicated topics to all parties involved. In addition, Maxime served as an IT consultant for a number of federal organizations and non-profit clients. Throughout his various roles, he ensured to provide the greatest impact and implemented creative ideas to see what worked best. He has experience throughout the software development lifecycle from gathering requirements, to building, to testing the final solution.</p>
  <p>Maxime holds a Bachelor of Science degree from Rice University in Electrical and Computer Engineering. Outside of the office, he still works on his feedback-driven pitch company pitchLove and loves music and learning about new topics.</p>
</div>
{% endblock section %}
