{% extends "sections/base.html" %}

{% block title %}What is US Ignite - {{ block.super }}{% endblock %}

{% block section %}

<h2 class="header">What is US Ignite?</h2>

<div class="callout">
  <img class="callout__image" src="{{ STATIC_URL }}img/dummy/usignite.jpg">
</div>

<h3 class="subheader">US Ignite fosters the creation of next-generation Internet applications that provide transformative public benefit.</h3>

<p>By engaging diverse public and private leaders, we “ignite” the development and deployment of new apps with profound impact on how Americans work, live, learn and play. </p>

<p>Our organization is an independent, 501(c)(3) nonprofit, with original inspiration from the White House Office of Science and Technology Policy and the National Science Foundation, and our deeply experienced team is responsible for convening US Ignite partners in industry, academia and government to identify and share best practices and resources.</p>

<h3 class="subheader">Our applications are focused in six areas of national priority:</h3>

<ul class="small-block-grid-3 medium-block-grid-6 domains-full-list">
  <li><span class="domains-full__icon--education"></span> Education & Workforce</li>
  <li><span class="domains-full__icon--energy"></span> Energy</li>
  <li><span class="domains-full__icon--health"></span> Health</li>
  <li><span class="domains-full__icon--safety"></span> Public Safety</li>
  <li><span class="domains-full__icon--transport"></span> Transportation</li>
  <li><span class="domains-full__icon--manufacturing"></span> Advanced Manufacturing</li>
</ul>

<p>As transformative, next-generation applications begin to be experienced by Americans across the country, US Ignite has the ripple effect of driving new business opportunities and accelerating U.S. leadership in the adoption of ultra-fast broadband and software-defined networks in communities nationwide. </p>

<h3 class="subheader">Over the next five years, the ecosystem created by US Ignite will deliver: </h3>

<ul>
  <li>60 next-generation applications</li>
  <li>200 community test beds where applications can be researched, developed, tested, refined, and deployed</li>
  <li>A new forum for collaboration between an array of diverse partners</li>
</ul>

<p>US Ignite will transform how we receive healthcare, educate our children, keep our communities safe, become more energy efficient, train our employees, and manufacture goods. And we can’t do it without you.</p>
<br>
<br>
<small style="font-style: italic; font-size: 11px;">It is the policy of US Ignite to not pay indirect expenses such as program administration and overhead due to the relatively small size of the grants made by the organization. Exceptions will be made for certain grant programs, on a case‐by‐case basis, at the sole discretion of US Ignite management.
</small>

{% endblock section %}

{% block related %}
{% endblock related %}

{% comment %}
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      <h3 class="subheader">Links:</h3>

      <ul class="no-bullet">
        <li><a href="#">Hacking the Gigabit: Reflections on the US Ignite Gigabit Explorer Challenge</a></li>
        <li><a href="#">US Ignite Communities – Year 2</a></li>
        <li><a href="#">The First Gigabit Wireless City</a></li>
      </ul>
    </div>
  </div>
</div>
{% endcomment %}
