*.py[co]
*.sw[po]
.coverage
pip-log.txt
.DS_Store
.noseids
*~
#*
.#*
*.egg-info
.vagrant
settings_local.py
local.py
gunicorn.log
tmp/
notes.org
mercurio.cfg
static/*
media/
words
node_modules/*
node_modules
certs/
*.dump
*.psd
