{% extends "includes/lists/object_detail_base.html" %}
{% load apps_urls common_markdown thumbnail tz %}

{% block title %}Event: {{ object.name }} on {{ object.start_datetime }} - {{ block.super }}{% endblock title %}

{% block tag_list %}
{{ object.printable_date }}
{% endblock tag_list %}

{% block detail_content %}
<!-- description -->
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      <h2>
        {% if object.is_ignite %}
        US Ignite event
        {% else %}
        Description
        {% endif %}
      </h2>
      <p>{{ object.description|markdown }}</p>
    </div>
  </div>
</div>
<!-- /description -->


<!-- event details -->
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      {% if object.is_ignite %}
      {% endif %}

      {% timezone object.timezone %}
      <h2>Date / Time</h2>
      <p>
        Starts: {{ object.start_datetime }} ({{ object.timezone }}) <br>

        {% if object.end_datetime %}
        Ends: {{ object.end_datetime }} ({{ object.timezone }})
        {% endif %}
      </p>


      {% endtimezone%}

      <p>
        <a href="{{ object.get_ics_url }}" class="button">Download calendar invite</a>
      </p>

      {% if object.address %}
      <h2>Address</h2>
      <p>
        {{ object.address|linebreaksbr }}
      </p>
      {% endif %}

      <h2>Event Type</h2>
      <p>{{ object.event_type }}</p>

      <h2>Scope</h2>
      <p>{{ object.get_scope_display }}</p>

      {% if audience_list %}
      <h2>Audience</h2>
      <p>
        {% for audience in audience_list %}{{ audience }}{% if not forloop.last %}, {% endif %}{% endfor%}.
      </p>
      {% endif %}

      {% if object.tickets_url %}
      <h2>Register</h2>
      <p><a href="{{ object.tickets_url }}">Register for this event.</a></p>
      {% endif %}

    </div>
  </div>
</div>
<!-- /event details -->

<!-- Extras -->
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      {% include "includes/hubs.html"  with hub_list=hub_list%}
    </div>
  </div>
</div>
<!-- /Extras -->

{% endblock %}

{% block sidebar_content %}

{% if is_owner %}
<h3 class="sidebar__heading">EVENT ADMIN</h3>
<ul class="no-bullet sidebar__list">
  <li class="sidebar__list__item">
    <a href="{{ object.get_edit_url }}" class="sidebar__list__link row collapse">Edit event</a>
  </li>
</ul>
{% endif %}

{% include "includes/sidebar/contact.html" with contact=object.user %}

{% if object.contact %}
<h3 class="sidebar__heading">Organization</h3>
<ul class="no-bullet sidebar__list">
  <li class="sidebar__list__item">
    <a href="{{ object.contact.get_absolute_url }}" class="sidebar__list__link row collapse">{{ object.contact.name }}</a>
  </li>
</ul>
{% endif %}

{% include "includes/links.html" with object=object url_list=url_list %}

{% endblock sidebar_content %}
