{% extends "includes/lists/object_detail_base.html" %}{% load apps_urls thumbnail common_markdown %}

{% block title %}Event: {{ object.name }} on {{ object.start_datetime }} - {{ block.super }}{% endblock title %}

{% block content_title %}{{ object.name }} on {{ object.start_datetime }} {% if object.is_draft %}(Draft){% endif %}{% endblock content_title %}

{% block intro %}
  {% if is_owner %}
  <li><a href="{{ object.get_edit_url }}">Edit event</a></li>
  {% endif %}
  <li><a href="{{ object.website }}">Website</a></li>
  {% if object.tickets_url %}<li><a href="{{ object.tickets_url }}">Tickets</a></li>{% endif %}
  <li>Start: {{ object.start_datetime }}</li>
  {% if object.end_datetime %}<li>End: {{ object.end_datetime }}</li>{% endif %}
  <li>Scope: {{ object.get_scope_display }}</li>
  {% if object.audience %}<li>{{ object.audience.name }}</li>{% endif %}
  <li>Created by {% include "includes/display_name.html" with user=object.user %} on {{ object.created }}</li>
<li><a href="{{ object.get_ics_url }}" class="button">Download calendar invite</a></li>
{% endblock intro %}

{% block tag_list %}
  {% include "includes/tag_list.html" with tag_type="search_events" tag_list=object.tags.all %}
{% endblock tag_list %}
