{% extends "includes/lists/object_list_base.html" %}

{% block title %}Upcoming Events - {{ block.super }}{% endblock title %}

{% block page_title %}Upcoming Events{% endblock page_title %}

{% block top_panel %}
<div class="row panel">
  <div class="small-12 columns">
    <h2>Lorem Ipsum isn't it wonderful</h2>
    <p>Ipsum dolor sit amet, consectetur adipiscing elit. Cras nulla turpis, interdum ac mi et, volutpat semper est. Nulla imperdiet turpis ac massa ornare pulvinar. Maecenas vulputate ligula sollicitudin orci ultricies sollicitudin. Sed euismod enim sit amet auctor elementum. Aenean et eros quis leo elementum tristique ut eu justo. Nullam ante enim, dapibus ut lectus fringilla, facilisis placerat elit. Vestibulum id congue lacus, sit amet molestie tellus. Nam eget erat facilisis.</p>
  </div>
</div>
<div class="row newsletter newsletter--primary">
  <div class="small-12 medium-8 columns newsletter__column">
    <h4 class="newsletter__heading"><strong>GOT A GREAT IDEA FOR AN EVENT?</strong> TELL US ABOUT IT...</h4>
  </div>

  <div class="small-12 medium-4 columns newsletter__column">
    <a href="{% url 'event_add' %}" class="button alert postfix">ADD YOUR EVENT</a>{% csrf_token %}
  </div>
</div>
{% endblock top_panel %}

{% block add_to_list %}
{% endblock add_to_list %}

{% block tags %}{% endblock tags %}
