{% extends "includes/lists/object_list_base.html" %}

{% block title %}Testbeds - {{ block.super }}{% endblock title %}

{% block top_panel %}
<div class="row panel">
  <div class="small-12 columns">
    <h2>Find a testbed</h2>
    <p>
      Search the network testbeds to find a potential location to
      test out or deploy your advanced application.
    </p>
    <p>
      Set the minimum requirements needed to run your application:
    </p>
    <form method="get" action=".">
      {% include "testbed/object_filter_form.html" with form=form %}
      <p><button type="submit">Search</button></p>
    </form>
  </div>
</div>

{% endblock top_panel %}

{% block tags %}{% endblock tags %}
