<h2>INTRO PART</h2>
<h3>{{ intro }}</h3>
<p>{{ desc }}</p>

{% for pitch in pitch_list %}
    <p>Title: {{ pitch.title }}</p>
    <p>Subtitle: {{ pitch.subtitle }}</p>
    <p>Content: {{ pitch.content }}</p>
    <p>Logo:</p>
    <img src="{{ SITE_URL }}{{ MEDIA_URL }}{{ pitch.logo }}" alt="">
    {% if pitch.pitch_video %}
        <p>PITCH VIDEO: {{ pitch.pitch_video }}</p>
    {% else %}
        <p>PITCH IMAGE: </p>
        <img src="{{ SITE_URL }}{{ MEDIA_URL }}{{ pitch.pitch_image }}" alt="">
    {% endif %}
    <p>FB: {{ pitch.facebook }}</p>
    <p>TW: {{ pitch.twitter }}</p>
    <p>YT: {{ pitch.youtube }}</p>
    <p>GP: {{ pitch.google }}</p>
    <p>Email them: {{ pitch.email }}</p>
{% endfor %}