{% load thumbnail %}
<a href="{{ object.get_absolute_url }}" title="{{ object.name }}" class="sidebar__list__link row collapse">

  <div class="medium-4 large-2 columns">
    {% if object.image %}
    <img src="{% thumbnail object.image 50x50 crop %}" alt="{{ object.name }}" class="sidebar__list__image">
    {% else %}
    <img src="{{ STATIC_URL }}img/default-square.png" alt="{{ object.name }}" class="sidebar__list__image">
    {% endif %}
  </div>

  <div class="medium-8 large-10 columns">
    <span class="sidebar__list__desc">
      {{ object.name }}
    </span>
  </div>
</a>
