{% if object.is_open %}
<h2>Participate</h2>
<p>This challenge is open for entries.</p>
{% if entry_list %}
<table class="hide-for-medium">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
  </tr>
  {% for entry in entry_list %}
  {% include "challenges/includes/entry_block.html" with object=object application=entry.application entry=entry.entry %}
  {% endfor%}
</table>

{% else %}
<p><a href="{% url "app_add" %}" class="button">Create an application</a> to participate.</p>
{% endif %}
{% else %}
<p>This challenge is closed.</p>
{% endif %}
