{% extends "registration/base.html" %}

{% block title %}Edit {{ object.name }} - {{ block.super }}{% endblock title %}

{% block section_title %}
Edit {{ object.name }}
{% endblock section_title %}

{% block section %}

<form method="post" action="{{ object.get_edit_url }}" enctype="multipart/form-data">
  {% include "includes/form.html" with form=form %}
  <h2>Additional URLs</h2>
  {% include "apps/object_form_links.html" with formset=link_formset %}
  <p>
    {% csrf_token %}
    <button type="submit">Update</button>
  </p>
</form>
{% endblock section %}
