{% extends "includes/lists/object_detail_base.html" %}{% load apps_urls thumbnail common_markdown %}

{% block title %}Community: {{ object.name }} - {{ block.super }}{% endblock title %}

{% block tag_list %}
{% include "includes/tag_list.html" with tag_list=object.tags.all tag_type="search_hubs" %}
{% endblock tag_list %}

{% block detail_content %}

<!-- description -->
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      <h2>Description</h2>
      <p>{{ object.description|markdown }}</p>
      {% include "includes/network_features.html" with feature_list=feature_list %}

      {% with feature_list=hub.features.all %}
      {% if feature_list %}
      <h2>Features</h2>
      <ul>
        {% for feature in feature_list %}
        <li>{{ feature.name }}</li>
        {% endfor%}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
<!-- /description -->

{% if testbed_list %}
<!-- testbeds -->
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      <h2>Testbeds</h2>
      {% for testbed in testbed_list %}
      <h3>{{ testbed.name }} features:</h3>
      {% with feature_list=testbed.features.all %}
      {% if feature_list %}
      <ul>
        {% for feature in feature_list %}
        <li>{{ feature.name }}</li>
        {% endfor%}
      </ul>
      {% endif %}
      {% endwith %}
      {% endfor%}
    </div>
  </div>
</div>
<!-- /testbeds -->
{% endif %}

{% if event_list %}
<!-- event list -->
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      <h2>Upcoming events</h2>
      <ul>
        {% for event in event_list %}
        <li><a href="{{ event.get_absolute_url }}">{{ event.name }}</a> on {{ event.start_datetime }}</li>
        {% endfor%}
      </ul>
    </div>
  </div>
</div>
<!-- /event list -->
{% endif %}

{% endblock detail_content %}

{% block related %}
{% include "includes/maps/canvas.html" %}
{% endblock related %}

{% block extra_scripts %}
{% include "includes/maps/scripts.html" %}
<script type="text/javascript" src="{% url 'hub_locations_json' object.slug %}"></script>
{% endblock extra_scripts %}

{% block sidebar_content %}

{% if is_contact %}
<h3 class="sidebar__heading">COMMUNITY ADMIN</h3>
<ul class="no-bullet sidebar__list">
  <li class="sidebar__list__item">
    <a href="{{ object.get_edit_url }}" class="sidebar__list__link row collapse">Edit community</a>
  </li>
</ul>
{% endif %}

{% include "includes/awards.html" with award_list=award_list %}


{% if is_member %}
<form method="post" action="{{ object.get_membership_remove_url }}">
  {% csrf_token %}<button type="submit" class="newsletter__submit button alert postfix">UNFOLLOW THIS COMMUNITY</button>
</form>
{% else %}
<form method="post" action="{{ object.get_membership_url }}">
  {% csrf_token %}<button type="submit" class="newsletter__submit button alert postfix">SUBSCRIBE TO THIS COMMUNITY</button>
</form>
{% endif %}

{% include "includes/sidebar/organization.html" with object=object %}

{% include "includes/sidebar/contact.html" with contact=object.contact %}

{% if member_list %}
<h3 class="sidebar__heading">SUPPORTERS</h3>
<ul class="no-bullet sidebar__list">
  {% for member in member_list %}
  <li class="sidebar__list__item">
    {% include "includes/display_name_with_avatar.html" with user=member %}
  </li>
  {% endfor%}
</ul>
{% endif %}

{% if application_list %}
<h3 class="sidebar__heading">Applications</h3>
<ul class="no-bullet sidebar__list">
  {% for application in application_list %}
  <li class="sidebar__list__item">
    {% include "includes/sidebar/applications.html" with object=application %}
  </li>
  {% endfor%}
</ul>
{% endif %}

{% if object.contact %}
<p><a class="button secondary expand" href="{{ object.owner.profile.get_contact_url }}">CONTACT TO LEARN MORE</a></p>
{% endif %}

{% include "includes/links.html" with object=object url_list=url_list %}

{% endblock sidebar_content %}
