{% extends "microsite_base.html" %}{% load snippets_tags thumbnail %}

{% block title %}Global City Teams Challenge - {{ block.super }}{% endblock title %}

{% block content %}
<div class="row collapse l-listings" data-equalizer>
  {% block sidebar %}
    {% include "globalcityteams/includes/sidebar.html" %}
  {% endblock sidebar %}

  <article class="large-8 medium-9 columns listings" data-equalizer-watch>
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
         	<p>
         	The Global City Teams Challenge (GCTC) is a collaborative network of project teams, or “Action Clusters,” working on groundbreaking Internet of Things (IoT) applications within the smart city/community environment.

         	</p>
         	<br>

            <p>
                 Action Clusters are most often composed of representatives from local governments, nonprofits, academic institutions and private corporations.  GCTC Action Clusters must include representatives from at least two organizations and at least one of the organizations participating in an Action Cluster must be a local government.  
            </p>
            <br>
            <p>
                Action Clusters form at GCTC <a href="{{ SITE_URL}}/globalcityteams/events">events</a> and via the www.globalcityteams.org website. On a volunteer basis, the teams collaborate to build, deploy and test groundbreaking IoT applications.  During the first round of the GCTC, more than 60 Action Clusters composed of more than 200 organizations and involving 50+ cities from 10 countries presented at the culminating event on June 1, 2015.
            </p>
            <br>
            <p class="bold">Kicking-Off of the Next Round of the GCTC</p>
            <p>
	         	On November 12, 2015, the National Institute of Standards and Technology and US Ignite will launch the next round of the GCTC.  We do so with a diverse array of Partners and Participating Organizations from the public, private and non-profit sectors.
			</p>
			<br>

            <p>
                <span class="bold">Partners</span>: IBM, AT&T, Intel, NSF, ITA, DoT, State Department, GSA, FIWARE, World e-Governments (WeGO), IIC, The Kingdom of Netherlands and the Republic of South Korea.
            </p>
            <br>
            <p>
                <span class="bold">Participating Organizations</span>: Qualcomm, Bosch, Siemens, CH2M Hill, Mathworks, Pecan Street, Inc., Yeti Analytics, MIT, Vanderbilt, UT Dallas, University of North Texas, Ohio State University and Columbia University

            </p>
            <br>
            <p class="bold">Become a Part of the GCTC </p>
            <br>
            <p>
                Whether you represent a corporation, a government agency or an academic institution, establishing a new – or joining an existing - GCTC “Action Cluster” provides an opportunity to showcase your IoT leadership and/or help get your project noticed.

            </p>
            <br>
            <p>
                <span class="bold">Communities and Cities</span>: Bring a challenge your city or community seeks to overcome to the GCTC.  Participation in the GCTC allows communities to develop solutions with leaders in the IoT/SmartCity field and to promote their project’s “secret sauce” to other communities.  
            </p>
            <br>
            <p>
                Not sure what challenge would provide the basis for the successful Action Cluster? No problem! Learn from the best practices of other GCTC projects and showcase your city as a ready partner to organizations seeking to replicate smart city technologies.

            </p>
            <br>
            <p>
                <span class="bold">Corporations and Academic Institutions</span>: Deploy and test IoT solutions in local government testbeds.  Partner with local governments in innovative public-private partnerships.   Use the GCTC platform to showcase the measurable impact of your technologies, expertise and solutions.
            </p>
            
            <br>
            <p class="bold">GCTC 2015-2016 Timeline</p>
            <br>
            <p style="text-align: center;">
                
                <span class="bold">Phase 1</span> (Nov 2015 – June 2016)<br>
                Kick-off conference: November 12-13, 2015 at NIST in Gaithersburg, MD<br>
                Tech Jam conference: Q1/ 2016<br>
                Phase 1 Expo: June 2016 
                <br>
                <br>
                <span class="bold">Phase 2</span> (June 2016 – June 2-17)<br>
                Kick-off: June 2016 at the Phase 1 Expo<br>
                Tech Jam conference: Q4, 2016<br>
                Phase 2 Expo: Summer 2017


            </p>
            <br>

            <p>
                Want to learn more? Visit our <a href="{% url 'globalcityteams:globalcityteams_faq' %}"> FAQ page.</a>
            </p>
        
            <br>

            {% comment "" %}
            <hr>

            <br>
            
            <h2>List of GCTC 2015 Action Clusters</h2>
            <br>

            <p >To establish a new Action Cluster, a project must possess the following:</p>
            <p >
	         	<ul class="hide">
	         		<li>
						A plan to deploy an emerging technology within a cyberphsyical system by <strong>June 2015</strong>

					</li>
					<li>
						Two or more participating entities
					</li>
					<li>
						A committed team lead willing to serve as the central point of contact

					</li>
					
				</ul>
			</p>

            <table id="nist-table" class="tdisplay responsive hide" cellspacing="0" width="100%">
                         <thead>
                             <tr>
                                 <th class="all">ProjectID</th>
                                 <th class="all">Project Title</th>
                                 <th class="desktop">Team Reporter</th>
                                 <th class="desktop">Descriptions</th>
                                 <th class="desktop">Organizations Involved</th>
                               
                             </tr>
                         </thead>
      
                         <tbody>
                            
                          
                             <tr>
                                 <td>3</td>
                                 <td><a href="https://us-ignite.org/resources/VRq9cBJaFcb7ezP6obP6UV/">Columbus, OH: Rickenbacker Awesome Project (RAP)</a></td>
                                 <td>Paul Carlson</td>
                                 <td>Use citizen participation to help track multimodal transportation patterns in the Rickenbacker area to help design new green alternatives.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>City of Columbus, OH</li>
                                        <li>Mid Ohio Regional Planning Commission (MORPC)</li>
                                        <li>Ohio State University, Center for Automotive Research (CAR)</li>
                                    </ul>
                                </td>
                             </tr>
                             
                             <tr>
                                 <td>4</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/VRsvZ3UKoeR6RLbuL4Jhd9/">Human Population Mapping for Enhanced Community Resilience (Annapolis Team)</a></td>
                                 <td>Michael Dunaway</td>
                                 <td>To improve disaster preparedness, develop a process to map layers of social, governmental, and private sector resources with physical infra.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>The Aethena Group</li>
                                        <li>TCecure</li>
                                        <li>Open Geospatial Consortium</li>
                                        <li>NIMSAT Institute / Louisiana State University-Lafayette</li>
                                    </ul>
                                </td>
                             </tr>
                             
                            
                             
                             <tr>
                                 <td>6</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/KKmM7WVEyM8v6yZnWrftUg/">Remotely Caring for Our Most Vulnerable Citizens In-Place During A Pandemic</a></td>
                                 <td>Julian Goldman</td>
                                 <td>Automate detection, triage, and treatment of severe contagious disease outbreaks with a focus on enabling remote support of local treatment.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Massachusetts General Hospital, Harvard Medical School (MGH/HMS)</li>
                                        <li>IntelJ</li>
                                        <li>GE</li>
                                        <li>US Critical Illness and Injury Trials Group </li>
                                        <li>Worcester Polytechnic Institute </li>
                                        <li>IEEE </li>
                                        <li>Smiths Medical</li>
                                        
                                        <li>Respiratory Motion </li>
                                        <li>Lyntek </li>
                                        <li>Zephyr / Covidien </li>
                                        <li>DocBox </li>
                                        <li>Philips </li>
                                        <li>US DoD / MEDCOM</li>
                                        <li>US DoD / TATRC </li>
                                        <li>Dräger </li>
                                        <li>Industrial Internet Consortium</li>
                                        <li>Qualcomm Life</li>
                                        <li>LNI</li>
                                    </ul>
                                 </td>
                             </tr>
                             
                             <tr>
                                 <td>9</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/zp8ZBNYZnJKEqkCMP99sCf/">SmartCities Utility Infrastructure</a></td>
                                 <td>Ed Davalos, Mike Alexander </td>
                                 <td>Use wireless network and sensory inputs to create a mgt dashboard to address water sustainability and protect the water system from threats</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>AT&T</li>
                                        <li>IBM</li>
                                    </ul>
                                </td>
                             </tr>
                             
                             <tr>
                                 <td>10</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/GeusuJhSDth9GSXeZN7sM8/">Chattanooga GASP: Geolocated Allergen Sensing Platform</a></td>
                                 <td>Nate Hill</td>
                                 <td>Deploy a sensor network on building and residences that monitors allergens with data streaming live to a central public repository for devs</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Chattanooga Library</li>
                                    </ul>
                                </td>
                             </tr>
                             
                             <tr>
                                 <td>11</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/JMSnLY5Vb4xzEShcdLDiLP/">PA 2040 (DC)</a></td>
                                 <td>John Baekelmans</td>
                                 <td>Integrate Smart Street infrastructure on Pennsylvania Avenue, DC, including lights, CCTV, Parking, Signage, Env. Sensing and more.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Cisco Systems</li>
                                        <li>Washington, DC, National Capital Planning Commission</li>
                                        <li>DC-Net</li>
                                        <li>Golden Triangle Business Improvement District</li>
                                        <li>District Office of Transportation DDOT</li>
                                    </ul>
                                </td>
                             </tr>
                             
                             <tr>
                                 <td>12</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/xD6TMDJtrQrcefjd9DAmDa/">Connected, Intelligent Transit (Portland)</a></td>
                                 <td>Skip Newberry</td>
                                 <td>Reduce congestion through a multi-modal transporation initiative leveraging sensors in a dense urban neighborhood with fiber connectivity</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>13</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/ECuFRL3KjMZ2WDVe8WDZYK/">ARIBO: Applied Robotics for Installations and Base Operations</a></td>
                                 <td>Corey Clothier</td>
                                 <td>Autonomous vehicle taxi deployments in enclosed environments like army bases, campuses, or dedicated roadways.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Comet Consulting</li>
                                    </ul>
                                </td>
                             </tr>
                             
                             <tr>
                                 <td>14</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/Mnubwt5vKp5qQHdxW6qPpF/">SCALE: Safe Community Alert Network</a></td>
                                 <td>Dan Hoffman</td>
                                 <td>Remote monitoring through sensors/cameras and automated emergency alert system.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Montgomery Country, MD</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>15</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/icUg9SkzFDxjkKVJM6byx9/">Smart Emergency Response System (SERS Team)</a></td>
                                 <td>Yan Wan, Shengli Fu, University of North Texas</td>
                            <td>Mission center that optimizes and deploys available first-responder resources, such as rescue dogs, robots, drones, and autonomous vehicles.</td>
                                 <td>&nbsp;</td>
                             </tr>

                           
        
                             
                             <tr>
                                 <td>18</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/3xhL68PYKna6rgJxNeL4Zd/">Cyber Attack-Defense Exercise for System Planners and First Responders (Iowa)</a></td>
                                 <td>Manimaran Govindarasu, Doug Jacobson, Iowa State University</td>
                            <td>Cyber security planning and training for connected infrastructure systems like power grid, Internet, water distribution and transportation.
</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>19</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/bRAyH96RNrKpZXGdK3FmXQ/">Greenville A-Taxi Shuttle Project</a></td>
                                 <td>Fred Payne, City of Greenville, SC</td>
                                 <td>Multi-modal transportation project demonstrating business case for a Personal Rapid Transit option through Autonomous Vehicle Taxi in 5-mi corridor from downtown Greenville to suburb."
                                 </td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>AMP</li> 
                                        <li>Clemson University</li>
                                        <li> ARIBO</li>
                                    </ul>
                                </td>
                             </tr>

                            
                             <tr>
                                 <td>22</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/higQp66SB4V4dndVzF99nh/">Intelligent Connectivity & Water Resource Management</a></td>
                                 <td>Steve Crout, Qualcomm</td>
                                 <td>Systematically evaluate the risk to its water quality from source to tap.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Qualcomm</li>
                                        <li> CH2M HILL</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>26</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/sGnog9XEXdsV3AP7mjK9TA/">Using Dynamic Virtualization and Intelligent Edge Devices in Disaster Response</a></td>
                                 <td>Jeff Christensen</td>
                                 <td>Smart emergency response preparedness due to enhanced situation awareness in extreme disaster scenario.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>City of Ammon - Idaho</li>
                                        <li> EntryPoint Networks</li>
                                        <li> Bonneville County Sheriff’s Department</li>
                                        <li> Bonneville Joint School District #93</li>
                                    </ul>
                                </td>
                             </tr>
                             
                             <tr>
                                 <td>27</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/ea6hXoMToKc7ZQY7jqSzbT/">5D Smart Physical Infrastructure</a></td>
                                 <td>Michael Jansen</td>
                                 <td>A live, actionable virtual model of underground Chicago, including water pipes, gas lines, power systems, subway structures and cabling.</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>28</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/WcwMtDH8LAfxLdG96E5dEa/">Lower Manhattan’s Smart Neighborhood Pilot</a></td>
                                 <td>Sander Dolder, NYCEDC</td>
                                 <td>Deploy a sensor network that enables real-time analysis of how Downtown Manhattan, and its population, is changing over time.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>NYCEDC</li>
                                        <li> Alliance for Downtown New York</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>29</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/grJYMWvw7CCRNF3X2Ne2KU/">Bringing Internet of Things Know-How to High School Students</a></td>
                                 <td>Greg Toth, Internet of Things Dev Labs</td>
                                 <td>Jump-starting high school students' knowledge about the Internet of Things in a globally connected world.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Arlington County</li>
                                        <li>Virginia Tech - National Capital Region</li>
                                        <li>Internet of Things DC</li>
                                        <li>IoT Dev Labs</li>
                                        <li>Independence, Oregon</li>
                                        <li>Monmouth, Oregon (city manager, reps from the high) </li>
                                        <li>State of Oregon</li>
                                        <li>Oregon State University</li>
                                        <li>Intel in Portland</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>30</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/tY44ZyeomooXTUevhnGvVU/">Integrating an Aerial Base Station with a City’s Emergency Communication Grid</a></td>
                                 <td>Kamesh Namaduri, University of North Texas</td>
                                 <td>Design of an Aerial Base Station that can be integrated with City of Denton's emergency communication system</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>City of Denton’s Fire Department</li>
                                        <li> Civil Air Patrol of Denton</li>
                                        <li> Researchers - Department of Electrical Engineering and Public Administration at the University of North Texas</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>31</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/NSkmt5PEY5iTYgweMCPvRd/">Ecosystem for Smart Emergency Medical Simulation Team Training</a></td>
                                 <td>Brenda Bannan, George Mason University</td>
                                 <td>Aiding rapid, real-time and complex evaluations in joint EMS/Surgical team simulations to improve care from the field to the operating room</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Fairfax County Fire and Rescue Department Emergency Medical Services </li>
                                        <li>INOVA Fairfax Hospital Advanced Surgical Technology Center</li>
                                        <li>Verizon Telematics/Networkfleet</li>
                                        <li>George Mason University</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>32</td>
                                 <td><a href="#">Energy Storage based Adaptive Demand Response in Smart Commercial Buildings (NYSERDA)</a></td>
                                 <td>Sanjeev Srivastava, Siemens</td>
                                 <td>Strategically lowering energy demand and grid stress through dynamic, automated demand controls and battery storage design in commercial buildings</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Siemens Corporation - Corporate Technology</li>
                                        <li> Columbia University</li>
                                        <li> City University of New York</li>
                                        <li> NY-BEST</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>33</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/NLiZRWwpyE7XJKbx98u2So/">Mobile-first Communication and Service On Demand Infrastructure for Hospitality - ALICE (NY)</a></td>
                                 <td>Sam Evers, ALICE</td>
                                 <td>Understand, manage, and improve the daily operations of hotel properties through the creation of real time mobile communication technology.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Gansevoort</li>
                                        <li> ALICE</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>34</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/HULqaDy5bU3y3QvQJzaj8a/">ParaDrop</a></td>
                                 <td>Suman Banerjee, University of Wisconsin</td>
                                 <td>A city-scale analytics platform to detect and understand population dynamics in outdoors, in homes, and in small to medium businesses.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Dale Willis (UW-Madison)</li>
                                        <li> 5Nines (a local data center and ISP in Madison, WI)</li>
                                        <li> University Book Store</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>34</td>
                                 <td><a href="#">SENAS: Smart City Educational Network for Autistic Students</a></td>
                                 <td>J. Cecil</td>
                                 <td>Using next generation networks, virtual reality and haptic learning tools to enhance learning for autistic children</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>City of Stillwater</li>
                                        <li>Stillwater Public Schools</li>
                                        <li>Dr. Parmesh Ramanathan (University of Wisconsin Madison)</li>
                                        <li>CyberTech LLC</li>
                                    </ul>

                                </td>
                             </tr>

                             <tr>
                                 <td>34</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/dKGjvQQqj7Xb7vVFquR4Pn/">People Energy & Buildings</a></td>
                                 <td>Paul Flikkema, Northern Arizona University</td>
                                 <td>Networked sensing of built environments with tools to transform the collected data into actionable information on building performance</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Northern Arizona University Informatics and Computing Program</li>
                                        <li>Facilities Services - John Morris</li>
                                        <li>City of Flagstaff, Arizona - Nicole Woodman</li>
                                        <li>Economic Collaborative of Northern Arizona (ECoNA) - Rich Bowen</li>
                                        <li>Northern Arizona Center for Entrepreneurship & Technology - Annette Zinky</li>
                                    </ul>
                                </td>
                             </tr>


                             <tr>
                                 <td>34</td>
                                 <td><a href="#">Energy Efficient Data Collection Street Light Post Assembly</a></td>
                                 <td>Marcia LeFemina, Penn Globe</td>
                                 <td>Development and introduction of smart tstreet lighting post. The assumbly will be use the existing real estate, already found on city streetscapes, to multi-purpose and deliver valuable information to tje e end user.</td>
                                 <td>
                                    <ul class="organizations-list">
                                       
                                        <li>Penn Globe - North Branford CT</li>
                                        <li>North Branford Chief of Police and the North Branford Town Manager</li>
                                        <li>Querault Inc. – North Haven CT</li>
                                        <li>Connecticut Innovations</li>
                                        <li>Connecticut Department of Economic and Community Development</li>
                                        <li>Remote Reality – Windsor CT</li>
                                        <li>Connected Development – Cary NC</li>
                                        <li>Verizon Wireless</li>
                                        <li>Arrow Electronics </li>
                                        <li>RF Associates NE</li>
                                        <li>Connecticut Center for Advanced Technology</li>
                                        <li>Workforce Alliance – New Haven CT</li>
                                        <li>Gateway Community College – New Haven CT</li>

                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td>34</td>
                                 <td><a href="#">Managing Urban Air Quality (Chicago)</a></td>
                                 <td>Charles Catlett, University of Chicago and Argonne National Laboratory</td>
                                 <td>Creating an open are quality monitoring system to help citizens and transportation planners make routing decisions.</td>
                                 <td>
                                    <ul class="organizations-list">
                                        <li>Argonne National Laboratory (ANL)</li>
                                        <li>BigBelly</li>
                                        <li>Intel, Portland State University</li>
                                        <li>City of Chicago</li>
                                    </ul>
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/dztJoErJ42HCBkNAgYZf5b/">Autonomy-enabled Shared Vehicles for Mobility on Demand and Urban Logistic </a></td>
                                 <td>Sertac Karaman, MIT </td>
                                 <td>Boston, MA-based team will showcase a prototype autonomous tricycle designed to navigate on bike lanes and reduce transportation delays, noise, and emissions and reduce delivery times for packages and goods ordered online. </td>
                                 <td>
                                    
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/apps/MGKAg2iZqmAFspMGF6RBsV/">Hack the Commute </a></td>
                                 <td>Candace Faber, Whoa Strategies </td>
                                 <td>Seattle, WA-based team will showcase efforts to engage civic hackers to improve transportation in the city through open data. </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/xhycLkjZh9z5JdzJqgETxg/">Smart Mobile Operation: the OSU Transportation Hub  </a></td>
                                 <td>Paul Carlson, The City of Columbus </td>
                                 <td>Columbus-OH-based team showcases an automated shuttle service on the Ohio State University campus that expands users’ transportation options. </td>
                                 <td>
                                  
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/6BqwaLyFY39JfD2CLkmL9i/">Transit Hub - An Integrated Decision Support System for Public Transportation </a></td>
                                 <td>Abhishek Dubey, Vanderbilt University </td>
                                 <td>Team will showcase its efforts to develop context-aware and individualized travel planning simulation for residents using the transit services. </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/AGDWcMZsbixi6Wb7gbtA7g/">Resource Network for Early Childhood Care and Education </a></td>
                                 <td>Brady Locher, The Aethena Group, LLC </td>
                                 <td>Balimore, MD-based team will showcase an internet-based Resource Network connects parents to local resources to aid their children’s early development and learning. </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/Udpas9J34XuY4sQ5JSDRca/">Genova, Italy </a></td>
                                 <td>Paolo Castiglieri, Genova, Italy </td>
                                 <td>Genoa is currently part of the Genoa Smart City initiative, which is aimed at improving the city quality of life through the sustainable economic development based on research and technology guided by the Municipality in a project of integrated planning </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/ah7gTAKqpgbxKTzoMvinvf/">Envision Charlotte - Energy, Waste & Water </a></td>
                                 <td>Robert Phocas, Charlotte, NC </td>
                                 <td> Envision Charlotte will showcase its first-of-their kind programs in energy, water, waste and air to conserve resources and reduce operating costs.</td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/search/?q=Cityzenith%3A+5D+Smart+Physical+Infrastructure">Cityzenith: 5D Smart Physical Infrastructure </a></td>
                                 <td>Michael Jansen, Cityzenith</td>
                                 <td>San Francisco, CA-based team will showcase a dynamic 3D model of San Francisco and collaboration tool that will accelerate and expand investment in energy efficiency retrofits in the city and empower building owners with information tools they can use to make their buildings more efficient.  </td>
                                 <td>
                                    
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/7Vj3jKWiJi83fh97e2uT3G/">Coruña Smart City </a></td>
                                 <td>Pablo Vázquez, Coruña </td>
                                 <td>Team will showcase the Coruña Smart City Platform and the city’s efforts to use the platform to improve environmental quality (noise, air quality), reduce greenhouse gas emissions through the Smart management of energy and traffic and reduce consumption peaks in municipal infrastructures and buildings. </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/org/one-community/">OneCommunity </a></td>
                                 <td>Marv Schwartz, Cleveland Museum of Art </td>
                                 <td>Cleveland, OH-based team will showcase Gallery One, which has brought the Internet of Things (IoT) and Big Data technology to Cleveland Museum of Art’s collection making art accessible in new ways and engaging new audiences. </td>
                                 <td>
                                    
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/WcwMtDH8LAfxLdG96E5dEa/">Lower Manhattan Smart Neighborhood Project </a></td>
                                 <td>David Gilford, New York City Economic Development Corporation</td>
                                 <td>New York, NY-based team will showcase sensor network deployments to measure and analyze neighborhood conditions, social behavior, and sustainability metrics </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/ZLPaco6kGjNWav4A59Jeoa/">CCI Safe + Smart Cities </a></td>
                                 <td>Stephanie Carnes, Chesapeake Crescent Intiative (CCI)  </td>
                                 <td>Team will showcase Newark, Delware's effort to optimize their operational performance and harden their resiliency through the efficient use of technology. </td>
                                 <td>
                                    
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/HN2vFr9FD5S8xSEH3t7D4f/">Flexible Public Lighting in Amsterdam with an open and independent Smart City Platform </a></td>
                                 <td>Hans van Egmond, Smart Society Services </td>
                                 <td>Open Smart Grid Platform' that makes it possible to monitor and manage all kinds of different objects in public space, through any kind of application or communication infrastructure. Alliander hopes to stimulate the maximalisation of market mechanisms.  </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/apps/vCvMmJfWwsYG39UNCcKnWN/">Living Lab Stratumseind 2.0 - De-escalate and City Pulse & Living lab: smart public lighting grid (e.a. Light-S) </a></td>
                                 <td>Albert Seubers </td>
                                 <td>Einhoven, NL-based team will showcase efforts to improve the safety, livability and attractivity of Stratumseind and increase the street's economic and social functioning. </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/apps/GjbYuTzpWp7DYZQei8DnvJ/">Smart Strijp-S </a></td>
                                 <td>Thijs Van Dieren, VolkerWessels iCity </td>
                                 <td> Team will showcase efforts to update Strijp-S to cover an entire spectrum of art and technology, research & development and cultural production on Strijp-S.</td>
                                 <td>
                                  
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/tY44ZyeomooXTUevhnGvVU/">Integrating an Aerial Base Station with a City's Emergency Communication Grid </a></td>
                                 <td>Kamesh Namuduri, University of North Texas </td>
                                 <td>This initiative coordinates data from an aerial base station with the City of Denton’s emergency communication grid. </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/i8R3fjHDRgDLEvDPxE8WjL/">Energy Storage for Demand Response </a></td>
                                 <td>Zhen Song, Siemens Corp </td>
                                 <td>Team will demosntrate efforts provide better energy storage, reduce grid stress and improve energy efficiency. </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/globalcityteams/actioncluster/U9emDQeVfMYMvXmTXuVgba/">City of Pittsburgh Plug Load Energy Management </a></td>
                                 <td>Aftyn Giles, Office of Mayor William Peduto </td>
                                 <td>Pittsburg, PA-based team will showcase its deployment of smart plugs on various devices in City of Pittsburgh buildings.  </td>
                                 <td>
                                   
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/apps/PlanIT-Impact/">PlanIT Impact </a></td>
                                 <td> Dominique Davison, PlanIT Impact</td>
                                 <td>Kansas City-based Team will showcase a web app is designed to facilitate building and designing through the use of geospatial data. </td>
                                 <td>
                                    
                                </td>
                             </tr>
                             
                             <tr>
                                 <td> </td>
                                 <td><a href="https://www.us-ignite.org/apps/DQ6tCUSxm4Vy3cWWVPRquJ/">Smart sensoring & smart emissions (e.a. project Nijmegen)</a></td>
                                 <td>Paul Hoefhagels, CityGIS </td>
                                 <td>Team will showcase its research on the reliability of low-cost sensors that have been deployed to measure environmental information including temperature, noise, and air quality indicators.</td>
                                 <td>
                                    
                                </td>
                             </tr>

                             <tr>
                                 <td> </td>
                                 <td><a href="">Link NYC</a></td>
                                 <td>Steve Crout, Qualcomm </td>
                                 <td>New York, NY-based team will showcase a system designed to provide high-quality Wi-Fi services to millions of New Yorkers and will generate revenue in the city.</td>
                                 <td>
                                    
                                </td>
                             </tr>

                        </tbody>
				</table>
        {% endcomment %}
        </div>
      </div>
    </div>
  </article>
</div>


{% endblock content %}
