{% extends "microsite_base.html" %}{% load snippets_tags thumbnail %}

{% block title %}Global City Teams Challenge - {{ block.super }}{% endblock title %}

{% block content %}
<div class="row collapse l-listings" data-equalizer>
  {% block sidebar %}
    {% include "globalcityteams/includes/sidebar.html" %}
  {% endblock sidebar %}

  <article class="large-8 medium-9 columns listings" data-equalizer-watch>
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
         	<p>
         	The Global City Teams Challenge (GCTC) is a collaborative network of project teams, or “action clusters,” working on innovative applications of Internet of Things (IoT) technologies within a smart city / smart community environment. National Institute of Standards and Technology (NIST) and US Ignite have teamed-up with the Department of Transportation (DoT), National Science Foundation (NSF), International Trade Administration (ITA), Department of Health and Human Services (HHS) and Department of Energy (DoE) to create the Global City Teams Challenge to advance practical applications of the latest research in cyberphysical systems.
         	</p>
         	<br>

            <p>
                 <span class="bold">Why participate in a Global City Team “Action Cluster”?</span><br>
The Challenge is an opportunity for forward-looking communities to partner with public and private organizations to accelerate the deployment of IoT technologies designed to address some of the most pressing challenges facing cities. The Challenge also benefits innovative companies and non-profits by giving them a chance to implement and/or assess their solutions in valuable municipal testbeds, and provides them with exposure to scores of potential new customers. 
            </p>
            <br>
            
            <p class="bold">You can participate in two ways: </p>
            <p>
	         	<ol>
	         		<li>
						Join an existing team: To see a list of current Action Clusters, please <a href="#nist-table_wrapper">click here</a>.
					</li>
					<li>
						Create a new team, or join your project under the GCTC banner: See requirements below.
					</li>
				</ol>
			</p>
			<br>

            <p class="bold">The Global City Teams Challenge includes: </p>
            
            <ul class="challenge-list">
                 <li>Accelerated match-making with new collaborators for new cyber physical systems applications</li>
                 <li>Opportunities to showcase leadership in the development and implementation of IoT with enhanced visibility at the highest levels across the federal government</li>
                 <li>Support for accessing federal project funding in this research area</li>
                 <li>Influence on the development of standards for the internet of things & the system of systems</li>
            </ul>
            
            <p class="bold">How does the Global City Teams Challenge Work?</p>
            <p>
"Action clusters," composed of representatives of innovative local governments, non-profits and private companies will form through NIST and US Ignite events and the US Ignite website. These teams volunteer to work collaboratively to build, deploy or test transformative, yet specific IoT applications. The Global City Teams Challenge builds upon the success of NIST’s 2013-2014 SmartAmerica initiative in which more than 100 organizations participated forming 24 teams.
            </p>
            <br>

            <p class="bold">General Program Timeline</p>
            <p>
	         	<ul>
	         		<li>
						<strong>September 2014</strong> - GCTC Kickoff
					</li>
					<li>
						<strong>Sep 2014 - Jan 2015</strong> - Action Cluster Teams Form and Collaborate
					</li>
					<li>
						<strong>Nov 15, 2014 - Jan 15, 2015</strong> - GCTC EAGER Grant Applications accepted by National Science Foundation
					</li>
					<li>
						<strong>February 2015</strong> - Tech Jam Workshops and Demonstrations
					</li>
					<li>
						<strong>June 2015</strong> - Final Demonstrations
					</li>
				</ul>
			</p>
            <br>

            <p>The Global City Teams Challenge kick-off event on September 29-30, 2014, at NIST was a great success with more than 350 on-site and remote attendees. The agenda, presentations and materials produced at the event can be found <a target="_blank" href="https://s3.amazonaws.com/us-ignite-org/static/globalcityteams/downloads/Global+City+Teams+Preliminary+Agenda+V6.pdf">here</a>.</p>
            <br>
            
            <p class="bold">Submit a proposal with your Action Cluster</p>
            <p>
            If you are ready to submit a one-page summary of your contributions to a potential global city teams project, please visit our <a target="_blank" href="https://us-ignite.org/globalcityteams/upload">submission page</a>. 
            </p>
            <br>

            <p>
            Still have questions? Please visit our <a href="{% url 'globalcityteams:globalcityteams_faq' %}"> FAQ page</a> to learn more.
            </p>
            <br>

            <p>If you would like to learn more about one of the Action Clusters listed below or if you are interested in becoming associated with one of the projects, please email <a href="mailto:sokwoo.rhee@nist.gov">sokwoo.rhee@nist.gov</a> and <a href="mailto:william.maguire@us-ignite.org">william.maguire@us-ignite.org</a>. Learn more about <a target="_blank" title="US Ignite" href="http://us-ignite.org/">US Ignite</a> and <a target="_blank" title="NIST" href="http://www.nist.gov/cps/sagc.cfm">NIST</a>.
            </p>
            <br>
            <hr>
            <br>
            <h2>Current List of Action Clusters</h2>
            <p>Please come back often as this table is updated frequently. </p>
            <br>

            <p>To establish a new Action Cluster, a project must possess the following:</p>
            <p>
	         	<ul>
	         		<li>
						A plan to deploy an emerging technology within a cyberphsyical system by <strong>June 2015</strong>

					</li>
					<li>
						Two or more participating entities
					</li>
					<li>
						A committed team lead willing to serve as the central point of contact

					</li>
					
				</ul>
			</p>

            <table id="nist-table" class="tdisplay responsive" cellspacing="0" width="100%">
                         <thead>
                             <tr>
                                 <th class="all">ProjectID</th>
                                 <th class="all">Project Title</th>
                                 <th class="desktop">Team Reporter</th>
                                 <th class="desktop">Descriptions</th>
                                 <th class="desktop">Organizations Involved</th>
                               
                             </tr>
                         </thead>
      
                         <tbody>
                             <tr>
                                 <td>1</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/wh4UdMNC7g2iGvMmtdTEqT/">Modular Micro Grid Model (NY)</a></td>
                                 <td>William Hadala</td>
                                 <td>Create energy supply and demand model for a storm-resilient microgrid in NY testbed, an physically construct the microgrid</td>
                                 <td>IWire365</td>
                             </tr>
                             
                             <tr>
                                 <td>2</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/Mke9c7feveuDyEM2pUJH3A/">Next Generation of Emergency Medical Services in San Francisco</a></td>
                                 <td>William Hadala</td>
                                 <td>We aim to increase emergency response times by mobilizing community medical resources by integrating CAD, AVL and dispatch systems</td>
                                 <td>IWire365</td>
                             </tr>
                             
                             <tr>
                                 <td>3</td>
                                 <td><a href="https://us-ignite.org/resources/VRq9cBJaFcb7ezP6obP6UV/">Columbus, OH: Rickenbacker Awesome Project (RAP)</a></td>
                                 <td>Paul Carlson</td>
                                 <td>Use citizen participation to help track multimodal transportation patterns in the Rickenbacker area to help design new green alternatives.</td>
                                 <td>Columbus, OH</td>
                             </tr>
                             
                             <tr>
                                 <td>4</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/VRsvZ3UKoeR6RLbuL4Jhd9/">Human Population Mapping for Enhanced Community Resilience (Annapolis Team)</a></td>
                                 <td>Michael Dunaway</td>
                                 <td>To improve disaster preparedness, develop a process to map layers of social, governmental, and private sector resources with physical infra.</td>
                                 <td>The Aethena Group</td>
                             </tr>
                             
                             <tr>
                                 <td>5</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/sy3orLMemi9xTUqKv4YGF/">Project X: GigaBit SMART City Project</a></td>
                                 <td>William Hadala</td>
                                 <td>Tie electric, water & gas smart meters systems into local existing fiber networks to enable automated services and management dashboards.</td>
                                 <td>IWire365</td>
                             </tr>
                             
                             <tr>
                                 <td>6</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/KKmM7WVEyM8v6yZnWrftUg/">Remotely Caring for Our Most Vulnerable Citizens In-Place During A Pandemic</a></td>
                                 <td>Julian Goldman</td>
                                 <td>Automate detection, triage, and treatment of severe contagious disease outbreaks with a focus on enabling remote support of local treatment.</td>
                                 <td>Mass General </td>
                             </tr>
                             
                             <tr>
                                 <td>7</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/iP8vMr4BWcteoFzprEujvm/">Study of Impact of Data in Smart Cities on the Social Contract</a></td>
                                 <td>Kari Keefe</td>
                                 <td>Explore user preferences in data design and sharing architecture for public and third party entities with regards to privacy concerns..</td>
                                 <td>Mozilla Foundation</td>
                             </tr>
                             
                             <tr>
                                 <td>8</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/GiefEkG6yDgeoXQ2TQ4rNN/">Energy Optimization Through Demand Reduction</a></td>
                                 <td>Michael Pickett</td>
                                 <td>Bring together utilities, municipalities and other stakeholders to develop an action plan to invest in distributive energy resources.</td>
                                 <td>Lucid Desgn Group</td>
                             </tr>
                             
                             <tr>
                                 <td>9</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/zp8ZBNYZnJKEqkCMP99sCf/">SmartCities Utility Infrastructure</a></td>
                                 <td>Ed Davalos, Mike Alexander </td>
                                 <td>Use wireless network and sensory inputs to create a mgt dashboard to address water sustainability and protect the water system from threats</td>
                                 <td>AT&T, IBM</td>
                             </tr>
                             
                             <tr>
                                 <td>10</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/GeusuJhSDth9GSXeZN7sM8/">Chattanooga GASP: Geolocated Allergen Sensing Platform</a></td>
                                 <td>Nate Hill</td>
                                 <td>Deploy a sensor network on building and residences that monitors allergens with data streaming live to a central public repository for devs</td>
                                 <td>Chattanooga Library</td>
                             </tr>
                             
                             <tr>
                                 <td>11</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/JMSnLY5Vb4xzEShcdLDiLP/">PA 2040 (DC)</a></td>
                                 <td>John Baekelmans</td>
                                 <td>Integrate Smart Street infrastructure on Pennsylvania Avenue, DC, including lights, CCTV, Parking, Signage, Env. Sensing and more.</td>
                                 <td>&nbsp;</td>
                             </tr>
                             
                             <tr>
                                 <td>12</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/xD6TMDJtrQrcefjd9DAmDa/">Connected, Intelligent Transit (Portland)</a></td>
                                 <td>Skip Newberry</td>
                                 <td>Reduce congestion through a multi-modal transporation initiative leveraging sensors in a dense urban neighborhood with fiber connectivity</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>13</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/ECuFRL3KjMZ2WDVe8WDZYK/">ARIBO: Applied Robotics for Installations and Base Operations</a></td>
                                 <td>Corey Clothier</td>
                                 <td>Autonomous vehicle taxi deployments in enclosed environments like army bases, campuses, or dedicated roadways.</td>
                                 <td>Comet Consulting</td>
                             </tr>
                             
                             <tr>
                                 <td>14</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/Mnubwt5vKp5qQHdxW6qPpF/">SCALE: Safe Community Alert Network</a></td>
                                 <td>Dan Hoffman</td>
                                 <td>Remote monitoring through sensors/cameras and automated emergency alert system.</td>
                                 <td>Montgomery Country, MD</td>
                             </tr>
						
                             <tr>
                                 <td>15</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/icUg9SkzFDxjkKVJM6byx9/">Smart Emergency Response System (SERS Team)</a></td>
                                 <td>Yan Wan, Shengli Fu, University of North Texas</td>
                            <td>Mission center that optimizes and deploys available first-responder resources, such as rescue dogs, robots, drones, and autonomous vehicles.</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>16</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/k5jJcH5zCHMu8rhYNTwecV/">Kumbh Mela: Solving the Problems of Millions</a></td>
                                 <td>Ramesh Rasker</td>
                            <td>Enhancing the experience of the 30 million person Hindu Kumbh Melah pilgrimage using proximity sensors for crowd management and more.
</td>
                                 <td>MIT Media Lab, IMRT Nashik, Analog Devices</td>
                             </tr>

                             <tr>
                                 <td>17</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/h86FFkoqYEaRCpv4pKJUTH/">Transactive Energy Management of Distributed Energy Resources</a></td>
                                 <td>Ron Ambrosio, IBM</td>
                            <td>With a network of energy-producing residences, combine signaling methods with weather data to decide when to reduce central power supply.
</td>
                                 <td>IBM, Smart Energy Research</td>
                             </tr>

                             <tr>
                                 <td>18</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/3xhL68PYKna6rgJxNeL4Zd/">Cyber Attack-Defense Exercise for System Planners and First Responders (Iowa)</a></td>
                                 <td>Manimaran Govindarasu, Doug Jacobson, Iowa State University</td>
                            <td>Cyber security planning and training for connected infrastructure systems like power grid, Internet, water distribution and transportation.
</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>19</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/bRAyH96RNrKpZXGdK3FmXQ/">Greenville A-Taxi Shuttle Project</a></td>
                                 <td>Fred Payne, City of Greenville, SC</td>
                            <td>Multi-modal transportation project demonstrating business case for a Personal Rapid Transit option through Autonomous Vehicle Taxi in 5-mi corridor from downtown Greenville to suburb.
"</td>
                                 <td>AMP, Clemson University, ARIBO</td>
                             </tr>
                            
                             <tr>
                                 <td>20</td>
                                 <td><a href="https://us-ignite.org/actioncluster/LEB8K7wacNWtDAzXJbtXdf/">Traffic Incident Management Solution (AGT and Cisco)</a></td>
                                 <td>Cisco, AGT</td>
                                 <td>Traffic monitoring and incident detection and management using integration of internet-connected street sensors and video analytics.</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>21</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/SpJUiCwAjDBXS8dtyTjL5E/">Bus Tracking & Intelligent Transportation</a></td>
                                 <td>Sharon Johnson, IBM</td>
                                 <td>Improve public transport ops using connected GPS sensors and traffic mgt software to correct for unexpected events and scheduling issues.</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>22</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/higQp66SB4V4dndVzF99nh/">Intelligent Connectivity & Water Resource Management</a></td>
                                 <td>Steve Crout, Qualcomm</td>
                                 <td>Systematically evaluate the risk to its water quality from source to tap.</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>23</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/43uNdVPYKdogvxt5ok6mD8/">Project Healthy Smart City</a></td>
                                 <td>Subrahmanian Eswaran, Carnegie Mellon University</td>
                                 <td>Create a holistic view of urban health to enable an integrated view of requirements and provides a scalable framework to evaluate solutions.</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>24</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/RRyiEaLDtxXKxFD7MwxgwY/">Nudging Behavior with Smart Data</a></td>
                                 <td>John Kim, AMP</td>
                                 <td>Creating better user interfaces to educate and engage with the quantified city.</td>
                                 <td>&nbsp;</td>
                             </tr>
                             
                             <tr>
                                 <td>25</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/QPngRfmvubTGGpr8Gq7gDD/">Real-Time Geospatial Collaboration Platform for First Responders</a></td>
                                 <td>Mahesh Punyamurthula, Microsoft</td>
                                 <td>Combine real-time geospatial collaboration with mobile touch devices to improve situational awareness of first responders in an emergency.</td>
                                 <td>Microsoft, TouchShare, ESRI</td>
                             </tr>
                             
                             <tr>
                                 <td>26</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/sGnog9XEXdsV3AP7mjK9TA/">Using Dynamic Virtualization and Intelligent Edge Devices in Disaster Response</a></td>
                                 <td>Jeff Christensen</td>
                                 <td>Smart emergency response preparedness due to enhanced situation awareness in extreme disaster scenario.</td>
                                 <td>City of Ammon - Idaho, EntryPoint Networks, Bonneville County Sheriff’s Department, Bonneville Joint School District #93</td>
                             </tr>
                             
                             <tr>
                                 <td>27</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/ea6hXoMToKc7ZQY7jqSzbT/">5D Smart Physical Infrastructure</a></td>
                                 <td>Michael Jansen</td>
                                 <td>A live, actionable virtual model of underground Chicago, including water pipes, gas lines, power systems, subway structures and cabling.</td>
                                 <td>&nbsp;</td>
                             </tr>

                             <tr>
                                 <td>28</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/WcwMtDH8LAfxLdG96E5dEa/">Lower Manhattan’s Smart Neighborhood Pilot</a></td>
                                 <td>Sander Dolder, NYCEDC</td>
                                 <td>Deploy a sensor network that enables real-time analysis of how Downtown Manhattan, and its population, is changing over time.</td>
                                 <td>NYCEDC, Alliance for Downtown New York</td>
                             </tr>

                             <tr>
                                 <td>29</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/grJYMWvw7CCRNF3X2Ne2KU/">Bringing Internet of Things Know-How to High School Students</a></td>
                                 <td>Greg Toth, Internet of Things Dev Labs</td>
                                 <td>Jump-starting high school students' knowledge about the Internet of Things in a globally connected world.</td>
                                 <td>Arlington County, Virginia Tech - National Capital Region, Internet of Things DC, IoT Dev Labs</td>
                             </tr>

                             <tr>
                                 <td>30</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/tY44ZyeomooXTUevhnGvVU/">Integrating an Aerial Base Station with a City’s Emergency Communication Grid</a></td>
                                 <td>Kamesh Namaduri, University of North Texas</td>
                                 <td>Design of an Aerial Base Station that can be integrated with City of Denton's emergency communication system</td>
                                 <td>City of Denton’s Fire Department, Civil Air Patrol of Denton, Researchers - Department of Electrical Engineering and Public Administration at the University of North Texas</td>
                             </tr>

                             <tr>
                                 <td>31</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/NSkmt5PEY5iTYgweMCPvRd/">Ecosystem for Smart Emergency Medical Simulation Team Training</a></td>
                                 <td>Brenda Bannan, George Mason University</td>
                                 <td>Aiding rapid, real-time and complex evaluations in joint EMS/Surgical team simulations to improve care from the field to the operating room</td>
                                 <td>Fairfax County Fire and Rescue Department Emergency Medical Services, NOVA Fairfax Hospital Advanced Surgical Technology Center, Verizon Telematics/Networkfleet, George Mason University</td>
                             </tr>

                             <tr>
                                 <td>32</td>
                                 <td><a href="#">Energy Storage based Adaptive Demand Response in Smart Commercial Buildings (NYSERDA)</a></td>
                                 <td>Sanjeev Srivastava, Siemens</td>
                                 <td>Strategically lowering energy demand and grid stress through dynamic, automated demand controls and battery storage design in commercial buildings</td>
                                 <td>Siemens Corporation - Corporate Technology, Columbia University, City University of New York, NY-BEST</td>
                             </tr>

                             <tr>
                                 <td>33</td>
                                 <td><a href="https://us-ignite.org/globalcityteams/actioncluster/NLiZRWwpyE7XJKbx98u2So/">Mobile-first Communication and Service On Demand Infrastructure for Hospitality - ALICE (NY)</a></td>
                                 <td>Sam Evers, ALICE</td>
                                 <td>Understand, manage, and improve the daily operations of hotel properties through the creation of real time mobile communication technology.</td>
                                 <td>Gansevoort</td>
                             </tr>

                             <tr>
                                 <td>34</td>
                                 <td><a href="#">ParaDrop</a></td>
                                 <td>Suman Banerjee, University of Wisconsin</td>
                                 <td>A city-scale analytics platform to detect and understand population dynamics in outdoors, in homes, and in small to medium businesses.</td>
                                 <td>Dale Willis (UW-Madison), 5Nines (a local data center and ISP in Madison, WI), University Book Store</td>
                             </tr>
                             
                        </tbody>
				</table>
     
        </div>
      </div>
    </div>
  </article>
</div>


{% endblock content %}
