<!DOCTYPE HTML>
<html class="upload">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     
     <title>US Ignite - Global City Teams Challenge Upload Document</title>
     <meta name="description" content="Global City Teams Challenge">
     <link rel="shortcut icon" href="{{ STATIC_URL }}globalcityteams/images/favicon.ico" />
    
     
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700,900&amp;subset=latin">
     <script src="{{ STATIC_URL }}globalcityteams/js/modernizr.js"></script>
     
     <!-- DEVELOPMENT
     <link rel="stylesheet" type="text/css" href="css/foundation.min.css"/>
     <link rel="stylesheet" type="text/css" href="css/icons-style.css"/>
     <link rel="stylesheet" type="text/css" href="css/slick.css"/>
     <link rel="stylesheet" type="text/css" href="css/style.css"/>
     -->
     
     <!-- PRODUCTION -->
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/style.min.css"/>
    
</head>

<body>
	<header class="header center">
     	<span class="us-ignite-logo"></span>
          +
          <span class="smart-america-logo"></span>
     </header>
     
     <div class="intro-image center">
     	<div class="row">
          	<div class="medium-12 columns">
                    <h1 class="intro-title white">Submit a One-Page Summary of Your Contributions to a Potential Global City Teams Project</h1>
                    <p class="twitter orange">#globalcityteams</p>
                  
                    <div class="down-button"><span class="icon-arrow-down2"></span></div>
                    <div class="image-source"><div>Creative Commons:  "The New York City skyline just before sunrise December 17, 2011" by Anthony Quintano is licensed under CC BY 2.0</div></div>	
               </div>
          </div>
     </div>
     <!-- End .intro-image -->
     
     <div id="content">
          
          <div class="row">
          	<div class="medium-12 columns">
               	<br>
               	<div class="center"><a class="button home-button" href="https://us-ignite.org/globalcityteams/"> Back to Homepage</a></div>
                    
                    
                    <section><h3 class="center">Submitting a One-Page Summary of Your Contributions to a Potential Project</h3></section>
                    
                    <section> 
                    	<p>
                         A key objective of the Challenge is to match interested parties to projects that will help accelerate the effective deployment of connected Cyber Physical Systems (CPS).
                         
                         To match interested parties to projects, we are asking for your help.  Specifically, we are asking you to provide a one-to-two page description (hereafter “one-pager”) of the contributions that you bring to a potential project - your piece(s) of the puzzle, if you will.
                         </p>
                    </section>
                    
                    <section> 
                   		<strong>What will NIST and US IGNITE do with the submissions?  </strong><br>
                    	<p>
                        		NIST and US Ignite will post all the one-pagers that we receive to an online repository and we will invite those who submitted a one-pager to review the documents submitted by other interested parties.  Wherever possible, we will seek to organize into “action clusters” submissions that express interest in similar categories of cyber-physical application.  We expect the “action clusters” that you help identify will help us organize the kick-off workshop (September 29-30 in Gaitherburg, MD, please use this link to register).  
					</p>
                         <p>
						Additionally, please note that submitting a one-pager will indicate to NIST and US Ignite that we can contact you in order to discuss in more detail your involvement in a potential Global City Teams Challenge project.
                         </p>

                    </section>
                    
                    <section> 
                   		<strong>What information should I include in my one-pager?  </strong><br>
                    	<p>
                        		To facilitate review of the submissions, we request that interested parties submit a one-pager that addresses the items listed below. To the extent possible, please be thorough with your answers but refrain from revealing proprietary information since the contents of your information may be publicly available.  
					</p>
                         <p>
						Please include:
                              <ul class="bullet">
                              	<li><strong>Contact Details:</strong> Name, email, and web site link (if applicable).</li>
                                   <li><strong>Organization Details:</strong> Brief description of your organization or participating team</li>
                                   <div>
                                   	<ul class="bullet">
                                        	<li>As a technology researcher or solutions provider, please describe the features, functionality, components, and anticipated users of the CPS testbed that you currently operate. </li>
                                             <li>Describe, if any, the existing interface for connecting to and exchanging data with other testbeds. Please include sufficient detail for the organizers to understand its capabilities. (Links to FAQs work as well)</li>
                                             <li>As a City, what infrastructure is available in order to test, develop or deploy an IoT application?  What challenge(s) do you seek to address using an IoT deployment?</li>
                                        </ul>
                                   </div>
                                   <li>
                                   	<strong>The Application Use Case or Scenario:</strong> Please describe your proposed scenario for integrated, disparate test beds that will demonstrate the operation of interconnected cyber-physical systems. Please provide sufficient detail to explain how the proposed test beds would create and demonstrate systems that work together. Also indicate the types of partners that would be involved.
                                   </li>
                                   <li>
                                   	<strong>Key Benefits:</strong> What important benefits would result from this system, if demonstrated and ultimately implemented? Include benefits to the nation, as well as to industrial applications. This should include economic benefits (new products, jobs, economic growth, exports, tax base, etc.) as well as impacts on energy, health, safety, environment, and other quality of life aspects.
                                   </li>
                              </ul>
                         </p>

                    </section>
                    
                    <!-- Upload document section -->
                    <section>
                    	<h3 class="center">Submit Your One-Pager? </h3>
                         
                         <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://globalcityteams.wufoo.com/forms/zlezd3h1ou6k3i/#public">
  
                              <p class="center">
                                   Upload Document
                              </p>
                              <div class="center">
                                   <input id="Field1" name="Field1" type="file" class="field file hide" size="12" tabindex="1" />
                                   <br>
                                   <label>Allowed file types: doc, docx, pdf, txt, rtf</label> 
                                   <div class="center">
                                   	<button id="choose-file"  class="button secondary small">Choose File</button>&nbsp;&nbsp; <label id="filename">No file chosen</label> 
                                   </div>
                                   
                                   <div class="center"><label id="file-error">Please choose a valid file.</label></div>
                                  
                                   <div><input id="saveForm" name="saveForm" class="btTxt submit button large" type="submit" value="Upload"/></div>
                                   
                              </div>
                              
                              <div class="hide">                        
                                   <label for="comment">Do Not Fill This Out</label>
                                   <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                                   <input type="hidden" id="idstamp" name="idstamp" value="aMofEKyXD5UMkWRcFJPn02xCP0OCLEwZsagxFK0MZFE=" />
                              </div>
                         
                         </form> 
                    </section>
                    <!-- End Upload document section -->
                    
                    <section>
                    	<strong>Need more ideas about what to include in your one-pager?</strong>
                    	<p>
                        		City Leaders, Researchers & Entrepreneurs – What application are you most interested seeing in your smarter city? What fundamental infrastructure needs to be in place for you to develop your application? What applications do you think would bring higher quality of live or improved business environment? Some examples: Smart parking- parking lots paved with web connected, sensor based solar panels? Integrated eldercare monitoring & emergency responses systems? More efficient Weather-Port-Customs-Transport logistics tools? Driverless Car readiness requirements?  High-resolution air and noise quality sensor network for citizens and researchers? What’s on the top of your wishlist?
                         </p>
                         
                         <p>
                        		Technologists, Test Bed Designers and Operators – Where do you see the most promise by data-sharing and mashups with other test beds? Propose technologies and ideas for interconnected test beds that bring together two or more sectors.  
                         </p>
                         
                         <p>
                        		Thank you for your interest in the Challenge!
                         </p>
                    </section>
               </div>
          </div>
     </div>
     <!-- End #content -->
     
     <!-- Thank you modal -->
     <div class="modal-overlay">
     	<div class="row">
          	<div class="medium-3 columns">&nbsp;</div>
               <div class="modal medium-6 columns">
               	<h3 class="center">Thank you for your submission</h3>
               </div>
               <div class="medium-3 columns">&nbsp;</div>
          </div>
     </div>
     <!-- End Thank you modal -->
     
     <footer class="footer">
     	<p class="center sponsors-partners">Partners</p>
          
          <div class="carousel">
               <div><img src="images/footer-logos/arm.png" /></div>
               <div><img src="images/footer-logos/cisco.png" /></div>
               <div><img src="images/footer-logos/extreme-networks.png" /></div>
               <div><img src="images/footer-logos/ibm.png" /></div>
               <div><img src="images/footer-logos/intel.png" /></div>
               <div><img src="images/footer-logos/juniper.png" /></div>
               <div><img src="images/footer-logos/qualcomm.png" /></div>
          </div>
          
          <p class="copyright center">© Copyright US Ignite. All Rights Reserved</p>
     </footer>
    
     <!-- PRODUCTION -->
   	<script src="{{ STATIC_URL }}globalcityteams/js/script.min.js"></script>
    
     
      <!-- DEVELOPMENT  
	<script src="js/jquery-1.11.1.min.js"></script>
     <script src="js/fastclick.js"></script>
     <script src="js/foundation.min.js"></script>
     <script src="js/slick.min.js"></script>
     <script src="js/jquery.validate.min.js"></script>
     <script src="js/app.js"></script>  
     --> 
     
                     
</body>
</html>
