{% extends "microsite_base.html" %}{% load snippets_tags thumbnail %}

{% block title %}Global City Teams Challenge - {{ block.super }}{% endblock title %}

{% block content %}
<div class="row collapse l-listings" data-equalizer>
  {% block sidebar %}
    {% include "globalcityteams/includes/sidebar.html" %}
  {% endblock sidebar %}

  <article class="large-8 medium-9 columns listings" data-equalizer-watch>
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
            
            <h1 class="section-header"> GCTC Frequently Asked Questions </h1>
            <ol id="faq-topics">
               <li ><p> <a href=""><strong>What is the Global City Teams Challenge?</strong></a>
               </p>
               </li> 
               
               <li> <p> <a href=""><strong>Who can participate? </strong></a>
               </p>
               </li>
               
              <li> <p> <a href=""><strong> What are key dates for the initiative? </strong></a>
              </p>
              </li> 
               
               <li> <p> <a href=""><strong>What is the GCTC Kick-Off Workshop? Where do I register? </strong></a>
               </p>
               </li> 
               
               <li><p> <a href=""><strong>What types of projects are best suited for the GCTC?</strong></a>
               </p>
               </li> 
               
               <li><p> <a href=""><strong>What is the goal of GCTC?</strong></a>
               </p>
               </li> 
               
               <li> <p> <a href=""><strong>How will NIST and US Ignite measure the success for the GCTC?  </strong></a>
               </p>
               </li> 
               
               <li><p> <a href=""><strong> How will participation benefit my community?</strong></a>
               </p>
               </li> 
               
               <li> <p> <a href=""><strong>Why should my company or not-for-profit participate?</strong></a>
               </p>
               </li> 
               
               <li> <p> <a href=""><strong>Do I need to come to the Kick-off workshop with a finished project?</strong></a>
               </p>
               </li> 
               
               <li> <p> <a href=""><strong>How are the Global City Teams formed?</strong></a>
               </p>
               </li>
               
               <li><p> <a href=""><strong> Is there a cost to participation?</strong></a>
               </p>
               </li> 
             
               <li> <p> <a href=""><strong>Is there funding for the projects?</strong></a>
               </p>
               </li> 
               
               <li><p> <a href=""><strong>Where can I go for more information?</strong></a>
               </p>
               </li> 

          </ol>
          
          <hr class="hr">
          
          <ol class="faq-list">
               <li id="">
                 <p> 
                 <strong>What is the Global City Teams Challenge? </strong><br><br>
                 The Global City Teams Challenge (GCTC) is a collaborative network of project teams, or “Action Clusters,” working on groundbreaking applications of Internet of Things (IoT) technologies within the smart city/community environment.
                  <br><br>
                  <span class="bold">GCTC Partners and Participating Organizations:</span><br>
                  <span class="bold">Corporate:</span>  IBM, AT&T, Intel, Qualcomm, Bosch, Siemens, CH2M HILL, Mathworks, Pecan Street, Inc., YetI Analytics, MIT, Vanderbilt, UT Dallas, University of North Texas, Ohio State University and Columbia University<br>
                  <span class="bold"> US Government Agencies</span>: NSF, ITA, DoT, State Department, GSA<br>
                  <span class="bold">Non-profits</span>: FIWARE, World e-Governments (WeGO), IIC<br>
                  <span class="bold">Non-US Central Governments</span>: Kingdom of the Netherlands, Republic of South Korea
                 </p>
               </li> 
               
               <li id=""> <p> <strong>Who can participate? </strong><br><br>
               GCTC is open to individuals or organizations willing to work in teams, or “Action Clusters”, on IoT projects. We welcome participation from communities of all sizes from around the world. More than 200 organizations from academia, not-for-profit organizations, corporations and the government participated in the first round of the Global City Teams Challenge.

               </p>
               </li>
               
              <li id=""> <p> <strong>What are key dates for the initiative? </strong><br><br>
                <span class="bold">Phase 2</span> (June 2016 - June 2017)<br>
                 GCTC SuperCluster Kick-Off Conference: October 25- 26, 2016 in Washington, DC <br>
                 <br>
                <span class="bold">Phase 2 Expo:</span> June 2017<br>
              </p>
              </li> 
               
              <li id="">
                <p> <strong>What is the GCTC Kick-Off Workshop? Where do I register? </strong><br><br>
                The GCTC SuperCluster Kick-Off Workshop is a team-building event that provides an opportunity for those interested in the GCTC to meet face-to-face with potential project partners. At the Kick-off, facilitated discussions encourage Action Clusters to form and provide potential participants with the opportunity to develop project plans.
                </p>
                <p>
                If you plan to attend the SuperCluster Kick-Off event, you can reserve a hotel room using the following link: <a href="https://resweb.passkey.com/go/EnergeticsIncorporated">https://resweb.passkey.com/go/EnergeticsIncorporated</a>
                <p>
                The SuperCluster launch event is free, but registration is required before October 18th.
                </p>
                </p>
               </li>
               <li id="">
                <p> <strong>What types of projects are best suited for the GCTC? </strong><br><br>
                  GCTC’s “Action Clusters” will form around projects connecting smart devices and systems that provide tangible benefits in areas including disaster response, economic development, energy, healthcare, homeland security, energy efficiency environment, transportation and many other sectors.

                </p>
               </li>

               <li id="">
                <p> <strong>What is the goal of GCTC?</strong><br><br>
                  For NIST and US Ignite, the conveners of GCTC, the goal is to advance the deployment of replicable and scalable IoT projects in the smart city environment.  NIST intends to incorporate feedback from GCTC participants into an Internet of Things standards framework document that is currently under development.

                </p>
               </li>

               <li id="">
                <p> <strong>How will NIST and US Ignite measure the success for the GCTC?</strong><br><br>
                  Each Action Cluster will identify the measurable impacts of their innovative projects based via self-defined KPIs (Key Performance Indicators). Potential examples of Action Cluster KPIs might include:
                  <ul>
                    <li>Reduction of air pollution by 15%</li>
                    <li> Reduction of average commute time by 20%</li>
                    <li> Reduction of time to park by 50%</li>
                    <li>Reduction of building energy consumption by 30%></li>
                  </ul>
                </p>
               </li>

               <li id="">
                <p> <strong>How will participation benefit my community?</strong><br><br>
                  Participation provides forward-looking communities with opportunities to: <span class="bold">showcase your community</span> as a ready partner to public and private sector organizations seeking; <span class="bold">collaborate with other innovative local governments</span> and non-profits, thereby expanding and enhancing the value of your community’s current investments in advanced networking and IoT and <span class="bold">develop partnerships</span> with leading corporations conducting research in the IoT sector.

                </p>
               </li>

               <li id="">
                <p> <strong>Why should my company or not-for-profit participate?</strong><br><br>
                  Participation provides organizations the ability to opportunities to: <span class="bold">showcase the value of your technologies/solutions</span> to large number of potential customers; <span class="bold">collaborate with local government leaders</span> and leading developers of IoT technologies to deploy interconnected IoT solutions and <span class="bold">contribute</span> to NIST’s effort to develop technical standards related to IoT.
                </p>
               </li>

               <li id="">
                <p> <strong>Do I need to come to the Kick-off workshop with a finished project?</strong><br><br>
                  Interested parties do not need to have fully formed projects before the kickoff workshop. We encourage interested parties to identify "building blocks," such as technologies or products in the case of innovators or project concepts or project requirements in the case of municipal leaders before the workshop.  Efforts such as these will help ensure that your time at the Workshop is most productive.
                </p>
               </li>

               <li id="">
                <p> <strong>How are the Global City Teams formed?</strong><br><br>
                  Teams or “Action Clusters” form at GCTC events and globalcityteams.org website. On a volunteer basis, the teams collaborate to develop, deploy and test groundbreaking IoT applications.  During last year’s GCTC, 60+ Action Clusters composed of more than 200 organizations, representing 50+ cities from 10 countries participated in the Challenge.
                </p>
               </li>

               <li id="">
                <p> <strong>Is there a cost to participation?</strong><br><br>
                  No. There is no participation fee or membership dues required for participation in the Global City Team Challenge.
                </p>
               </li>

               <li id="">
                <p> <strong> Is there funding for the projects?</strong><br><br>
                  While there is no guarantee for funding, NIST and US Ignite work to support Action Clusters by showcasing their projects and by connecting on-going projects with potential sponsors/funders.

                </p>
               </li>

               <li id="">
                <p> <strong> Where can I go for more information?</strong><br><br>
                  For more information please contact <a href="mailto:sokwoo.rhee@nist.gov">sokwoo.rhee@nist.gov</a> or <a href="mailto:william.maguire@us-ignite.org">william.maguire@us-ignite.org</a>.

                </p>
               </li>
          </ol>
     
        </div>
      </div>
    </div>
  </article>
</div>


{% endblock content %}
