<!DOCTYPE HTML>
<html class="faqs">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     
     <title>US Ignite - Global City Teams Challenge FAQ</title>
     <meta name="description" content="Global City Teams Challenge">
     <link rel="shortcut icon" href="{{ STATIC_URL }}globalcityteams/images/favicon.ico" />
    
     
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700,900&amp;subset=latin">
     <script src="{{ STATIC_URL }}globalcityteams/js/modernizr.js"></script>
     
     <!-- DEVELOPMENT -->
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/foundation.min.css"/>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/icons-style.css"/>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/slick.css"/>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/style.css"/>
     
     <!-- PRODUCTION -->
    
     <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/style.min.css"/> -->
    
</head>

<body>
	<header class="header center">
     	<span class="us-ignite-logo"></span>
          +
          <span class="smart-america-logo"></span>
     </header>
     
     <div class="intro-image center">
     	<div class="row">
          	<div class="medium-12 columns">
                    <h1 class="intro-title white">City Teams Challenge FAQ</h1>
                    <p class="twitter orange">#globalcityteams</p>
                  
                    <div class="down-button"><span class="icon-arrow-down2"></span></div>
                    <div class="image-source"><div>Creative Commons:  "The New York City skyline just before sunrise December 17, 2011" by Anthony Quintano is licensed under CC BY 2.0</div></div>	
               </div>
          </div>
     </div>
     <!-- End .intro-image -->
     
     <div id="content">
          
          <div class="row">
          	<div class="medium-12 columns">
               	<br>
               	<div class="center"><a class="button home-button" href="index.html">&#10094; &nbsp;&nbsp; Back to Homepage</a></div>
                    
                    <ol id="faq-topics">
                         <li ><p> <a href="#what-is"><strong>What is the Global City Teams Challenge </strong></a>
                         </p>
                         </li> 
                         
                         <li> <p> <a href="#who-can-participate"><strong>Who can participate? </strong></a>
                         </p>
                         </li>
                         
                        <li> <p> <a href="#how-do-i-register-challenge"><strong>How do I register my interest in The GCT Challenge? </strong></a>
                        </p>
                        </li> 
                         
                         <li> <p> <a href="#how-do-i-register-workshop"><strong>How do I register GCT Challenge Workshop taking place on September 29-30? </strong></a>
                         </p>
                         </li> 
                         
                         <li><p> <a href="#key-date"><strong>What are key dates for the initiative?</strong></a>
                         </p>
                         </li> 
                         
                         <li><p> <a href="#types-of-projects"><strong>What types of projects are you looking for?</strong></a>
                         </p>
                         </li> 
                         
                         <li> <p> <a href="#what-are-the-goals"><strong>What are the goals of the Global City Teams Challenge?  </strong></a>
                         </p>
                         </li> 
                         
                         <li><p> <a href="#what-is-the-internet"><strong> What is the Internet of Things?</strong></a>
                         </p>
                         </li> 
                         
                         <li> <p> <a href="#how-will-participation"><strong>How will participation benefit my community?</strong></a>
                         </p>
                         </li> 
                         
                         <li> <p> <a href="#why-should-my-company"><strong>Why should my company or not-for-profit participate?</strong></a>
                         </p>
                         </li> 
                         
                         <li> <p> <a href="#do-i-need-kickoff"><strong>Do I need to come to the kick off meeting with a finished project?</strong></a>
                         </p>
                         </li>
                         
                         <li><p> <a href="#how-are-formed"><strong> How are the Global City Teams formed? </strong></a>
                         </p>
                         </li> 
                         
                         <li><p> <a href="#cost-participation"><strong> Is there a cost to participation?</strong></a>
                         </p>
                         </li> 
                         
                         <li> <p> <a href="#funding-projects"><strong>Is there funding for the projects?</strong></a>
                         </p>
                         </li> 
                         
                         <li><p> <a href="#more-information"><strong>Where can I go for more information?</strong></a>
                         </p>
                         </li> 

				</ol>
                    
                    <hr>
                    
               	<ol class="faq-list">
                         <li id="what-is"><p> <strong>What is the Global City Teams Challenge </strong><br>
                         The Global City Teams Challenge is a collaboration between US Ignite and National Institute of Standards and Technology (NIST) designed to advance the deployment of Internet of Things (IoT) and Cyber-Physical Systems (CPS) technologies within a smart city/smart community environment. Current partners include National Science Foundation (NSF), Department of Transportation (DoT), and Department of Health and Human Services (HHS), as well as private sector corporations such as IBM, Intel, Qualcomm, Cisco, Juniper Networks, Extreme Networks, and ARM Holdings. Voluntary participants work collaboratively over the coming year to build, deploy and test transformative IoT/CPS applications within communities across the U.S.  The Global City Teams Challenge builds upon the success of NIST’s 2013-2014 <a href="http://smartamerica.org" target="_blank">SmartAmerica initiative</a> in which more than 100 organizations formed 24 teams.
                         </p>
                         </li> 
                         
                         <li id="who-can-participate"> <p> <strong>Who can participate? </strong><br>
                         The Challenge is open to any organization or individual willing to work in collaborative teams on IoT projects on a voluntary basis. We welcome participation from communities of all sizes around the world, working in partnership with industry, academia, not-for-profit and government to identify and share best practices and resources.
                         </p>
                         </li>
                         
                        <li id="how-do-i-register-challenge"> <p> <strong>How do I register my interest in The GCT Challenge? </strong><br>
                         To register your interest in the Global City Teams Challenge visit <a href="http://us-ignite.org/globalcityteams">http://us-ignite.org/globalcityteams</a>.
                        </p>
                        </li> 
                         
                        <li id="how-do-i-register-workshop"> <p> <strong>How do I register GCT Challenge Workshop taking place on September 29-30? </strong><br>
                         To register and attend the the Global City Teams Challenge workshop to be held September 29th-30th on the NIST campus in Gaithersburg, MD go to <a href="http://www.nist.gov/cps/global-city-teams-challenge-workshop.cfm">http://www.nist.gov/cps/global-city-teams-challenge-workshop.cfm</a>. 
                              <p class="list">
                              PLEASE NOTE: NIST is a controlled-access facility. In order to gain access to the grounds you must fill out the registration on the NIST site.  <a href="http://www.nist.gov/cps/global-city-teams-challenge-workshop.cfm">http://www.nist.gov/cps/global-city-teams-challenge-workshop.cfm </a>  
                              </p>
                              <p class="list">
                              Can’t attend in person? The workshop will also be webcast for interested participants unable to attend the event.  As the date of the workshop approaches, please visit <a href="http://us-ignite.org/globalcityteams">http://us-ignite.org/globalcityteams</a> or NIST registration site for more information.
                              </p>
                         </p>
                         </li> 
                         
                         <li id="key-date"><p> <strong>What are key dates for the initiative?</strong><br>
                         NIST and US Ignite will launch the Challenge with a workshop on September 29-30, 2014.  Viable teams will be formed at this event.  In winter 2015, these teams will present their progress and discuss challenges.  In June 2015, teams will present their work at the Global City Teams Festival.
                         </p>
                         </li> 
                         
                         <li id="types-of-projects"><p> <strong>What types of projects are you looking for?</strong><br>
                         We anticipate that Global City Teams will be formed around projects connecting smart devices and systems that provide tangible benefits in areas including disaster response, economic development, energy, healthcare, homeland security, energy efficiency environment, transportation and many other sectors.
                         </p>
                         </li> 
                         
                         <li id="what-are-the-goals"> <p> <strong>What are the goals of the Global City Teams Challenge?  </strong><br>
                         Through the GCT Challenge <a href="http://nist.gov">NIST</a> and <a href="http://us-ignite.org">US Ignite</a> seek to encourage the development of public-private partnerships that will accelerate IoT deployments within smart city/smart community environments. Additionally, project outcomes reported by the Challenge’s participants will help inform the efforts of NIST's Cyber-Physical Systems Program Office and its initiatives to develop technology-neutral standards that will facilitate IoT R&D and catalyze IoT adoption in the U.S. and around the world. 
                         </p>
                         </li> 
                         
                         <li id="what-is-the-internet"><p> <strong> What is the Internet of Things?</strong><br>
                         The Internet of Things (IoT) has many definitions. For the conveners of the Global City Teams Challenge, IoT is a concept that describes a future where devices, systems, and services around the world are interconnected across a common network (typically the Internet) and are able to interact in ways that fundamentally enhance they way we live our lives. Far beyond current concepts of machine-to-machine communications, the IoT is expected to offer advanced connectivity of devices, systems, and services that span all industry sectors and communities. From heart monitoring implants, to smart energy grids, to automobiles with built-in sensors, and emergency response services that assist firefighters and police officers in search and rescue, the IoT has incredible potential.
                         </p>
                         </li> 
                         
                         <li id="how-will-participation"> <p> <strong>How will participation benefit my community?</strong><br>
                         Participation provides forward-looking communities with opportunities to: 1) Showcase your community as a ready partner to public and private sector organizations seeking to fund research related to IoT implementations; 2) Collaborate with other innovative local governments and non-profits, thereby expanding and enhancing the value of your community’s current investments in advanced networking and IoT 3) Develop partnerships with leading corporations conducting research in the IoT sector
                         </p>
                         </li> 
                         
                         <li id="why-should-my-company"> <p> <strong>Why should my company or not-for-profit participate?</strong><br>
                         Participation provides organizations the ability to showcase, deploy and/or assess IoT solutions. There will be opportunities to: 1) Showcase the value of your technologies/solutions to large number of potential customers; 2) Collaborate with leading developers of IoT technologies and create interconnected IoT solutions with greater utility to potential customers; and 3) Contribute to NIST’s effort to develop technical standards related to IoT.
                         </p>
                         </li> 
                         
                         <li id="do-i-need-kickoff"> <p> <strong>Do I need to come to the kick off meeting with a finished project?</strong><br>
                         Interested parties do not need to have fully formed projects before the kickoff workshop. However we encourage interested parties to develop "building blocks" (technologies or products in the case of innovators, and project concepts or requirements in the case of city planners) before the workshop and submit a one-page overview of these building blocks. The goal of the kickoff meeting is to match technology partners with municipal needs in order to form complete projects. Interested parties that have already identified fully-formed project proposals before the workshop are welcome and encouraged to attend.
                         </p>
                         </li>
                         
                         <li id="how-are-formed"><p> <strong> How are the Global City Teams formed? </strong><br>
                         Using the information participants share about their current or desired “smart” project, as well as the type of partner that would help them advance their project goals, NIST and US Ignite will organize a number of "action clusters," composed of representatives from innovative local governments, nonprofits and private companies.  Working collaboratively over the next year, these volunteer teams will build, deploy and/or test transformative IoT applications.
                         </p>
                         </li> 
                         
                         <li id="cost-participation"><p> <strong> Is there a cost to participation?</strong><br>
                         No.  Participation in the Global City Team Program has no cost and is completely voluntary. 
                         </p>
                         </li> 
                         
                         <li id="funding-projects"> <p> <strong>Is there funding for the projects?</strong><br>
                         While there is no guarantee for funding of the projects we will attempt to connect on-going projects with potential sponsors/funders.
                         </p>
                         </li> 
                         
                         <li id="more-information"><p> <strong>Where can I go for more information?</strong><br>
                         For more information please visit <a href="https://us-ignite.org/globalcityteams">https://us-ignite.org/globalcityteams</a> or <a href="http://nist.gov/cps/sagc.cfm">http://nist.gov/cps/sagc.cfm</a>.
                         </p>
                         </li> 

				</ol>
                    
               </div>
          </div>
     </div>
     <!-- End #content -->
     
     <footer class="footer">
     	<p class="center sponsors-partners">Partners</p>
          
          <div class="carousel">
               <div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/arm.png" /></div>
               <div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/cisco.png" /></div>
               <div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/extreme-networks.png" /></div>
               <div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/ibm.png" /></div>
               <div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/intel.png" /></div>
               <div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/juniper.png" /></div>
               <div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/qualcomm.png" /></div>
          </div>
          
          <p class="copyright center">© Copyright US Ignite. All Rights Reserved</p>
     </footer>
     
     <div id="top-arrow">
     	&#8679;
     </div>
     <!-- PRODUCTION -->
    <!-- <script src="{{ STATIC_URL }}globalcityteams/js/script.min.js"></script> -->
    
     
      <!-- DEVELOPMENT -->
	<script src="{{ STATIC_URL }}globalcityteams/js/jquery-1.11.1.min.js"></script>
     <script src="{{ STATIC_URL }}globalcityteams/js/fastclick.js"></script>
     <script src="{{ STATIC_URL }}globalcityteams/js/foundation.min.js"></script>
     <script src="{{ STATIC_URL }}globalcityteams/js/slick.min.js"></script>
     <script src="{{ STATIC_URL }}globalcityteams/js/jquery.validate.min.js"></script>
     <script src="{{ STATIC_URL }}globalcityteams/js/app.js"></script>   
                     
</body>
</html>
