{% extends "microsite_base.html" %}{% load snippets_tags thumbnail %}

{% block title %}Global City Teams Challenge - {{ block.super }}{% endblock title %}

{% block content %}
<!-- slide-one -->
<div class="row slide slide--one">
  <div class="small-12 columns slide__container">

    <div class="row collapse">
      <div class="small-12 medium-8 large-7 columns">
        <div class="slide__panel">
          <h2 class="slide__heading">US Ignite and the National Institute of Standards and Technology (NIST) have teamed-up with the Department of Transportation (DoT), National Science Foundation (NSF), International Trade Administration (ITA), Department of Health and Human Services (HHS) and Department of Energy (DoE) to create the Global City Teams Challenge, an initiative designed to advance the deployment of Internet of Things (IoT) technologies within a smart city / smart community environment.</h2>
          <br>
          <a class="primary button expand" href="{% url 'what-we-do' %}">WHAT WE DO</a>
        </div>
      </div>

      <div class="small-12 medium-4 large-4 large-offset-1 columns">
       
      </div>
    </div>

  </div>
</div>
<!-- slide-one -->

<!-- homepage-grid -->
<div class="row homepage-grid" data-equalizer>
  <div class="small-6 medium-6 large-3 columns homepage-grid__col homepage-grid__col--devs">

    <div class="row" data-equalizer-watch>
      <div class="small-12 columns">
        <h4 class="homepage-grid__heading">DEVELOPERS</h4>
        <p class="homepage-grid__desc show-for-medium-up">Build gigabit apps that can transform how we live, work and play.</p>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <a class="homepage-grid__button button expand alert" href="{% url 'involve-developers' %}" >GET INVOLVED</a>
      </div>
    </div>
  </div>

  <div class="small-6 medium-6 large-3 columns homepage-grid__col homepage-grid__col--partners">
    <div class="row" data-equalizer-watch>
      <div class="small-12 columns">
        <h4 class="homepage-grid__heading">PARTNERS</h4>
        <p class="homepage-grid__desc show-for-medium-up">We work with forward thinking partners who understand that the future is here.</p>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <a class="homepage-grid__button button expand alert" href="{% url 'involve-partners' %}">SUPPORT US IGNITE</a>
      </div>
    </div>
  </div>

  <div class="small-6 medium-6 large-3 columns homepage-grid__col homepage-grid__col--communities">
    <div class="row" data-equalizer-watch>
      <div class="small-12 columns">
        <h4 class="homepage-grid__heading">COMMUNITY LEADERS</h4>
        <p class="homepage-grid__desc show-for-medium-up">Showcase advanced networks and apps in your community.</p>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <a class="homepage-grid__button button expand alert" href="{% url 'involve-communities' %}" >BECOME A US IGNITE CITY</a>
      </div>
    </div>
  </div>

  <div class="small-6 medium-6 large-3 columns homepage-grid__col homepage-grid__col--last">
    <div class="row" data-equalizer-watch>
      <div class="small-12 columns">
        <h4 class="homepage-grid__heading">COMMUNITY LEADERS</h4>
        <p class="homepage-grid__desc show-for-medium-up">Showcase advanced networks and apps in your community.</p>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <a class="homepage-grid__button button expand alert" href="{% url 'involve-communities' %}" >BECOME A US IGNITE CITY</a>
      </div>
    </div>
  </div>

</div>
<!-- /homepage-grid -->

<!-- slide two -->
<div class="row slide slide--two">
  <div class="small-12 columns slide__container">

    <div class="row collapse">
      <div class="small-12 medium-8 large-6 columns right">
        <div class="slide__panel">
          <div class="row collapse">
            <div class="small-12 medium-6 columns">
              <h2 class="slide__heading">Applications</h2>
              <p class="slide__desc">See ultra high speed networks are fostering ideas to solve problems  and reinvent everything, from education to healthcare in
                neighborhoods across the country.</p>

              <a href="{% url 'app_list' %}" class="primary button expand">VIEW APPLICATIONS</a>

            </div>

            <div class="small-6 medium-6 columns show-for-medium-up">
              <aside class="featured featured--nudge-right">
                <h4 class="featured__heading">FEATURED APP</h4>
                {% include "includes/featured_object.html" with object=application %}
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /slide two -->

<!-- slide three -->
<div class="row slide slide--three">
  <div class="small-12 columns slide__container">

    <div class="row collapse">
      <div class="small-12 medium-8 large-6 columns">
        <div class="slide__panel">
          <div class="row collapse">
            <div class="small-12 medium-6 columns">
              <h2 class="slide__heading">Communities</h2>
              <p class="slide__desc">Communities nationwide are using advanced networks to help transform themselves into innovation and technology-driven economies to compete in the 21st century.</p>

              <a class="primary button expand" href="{% url 'hub_list' %}">VIEW OUR COMMUNITIES</a>
            </div>
            <div class="small-6 medium-6 columns show-for-medium-up">
              <aside class="featured featured--nudge-right">
                <h4 class="featured__heading">FEATURED COMMUNITY</h4>
                {% include "includes/featured_object.html" with object=hub %}
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /slide three -->


<!-- newsletter -->
{% include "mailinglist/object_block.html" %}
<!-- /newsletter -->

<!-- slide four -->
<div class="row slide slide--four">
  <div class="small-12 columns slide__container">

    <div class="row collapse">
      <div class="small-12 medium-8 large-6 columns right">
        <div class="slide__panel">
          <div class="row collapse">
            <div class="small-12 medium-6 columns">
              <h2 class="slide__heading">Resources</h2>
              <p class="slide__desc">Learn how to build next-
                generation applications, and how these powerful new technologies are transforming communities for the better.</p>

              <a href="{% url 'resource_list' %}" class="primary button expand">VIEW RESOURCES</a>
            </div>
            <div class="small-6 medium-6 columns show-for-medium-up">
              <aside class="featured featured--nudge-right">
                <h4 class="featured__heading">FEATURED RESOURCE</h4>
                {% include "includes/featured_object.html" with object=resource %}
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /slide four -->
{% endblock content %}
