{% extends "microsite_base.html" %}{% load thumbnail %}

{% block title %}Global City Teams Challenge  - {{ block.super }}{% endblock title %}

{% block content %}
<div class="row collapse">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="page-title">Action Clusters by Sector</h2>
      </div>
    </div>
  </div>
</div>


<div class="row collapse">
  <div class="small-12 columns">
    <div class="row panel">
      <div class="small-12 columns">
        <p>
          Browse the Active Action Clusters to explore the projects accelerating the deployment of IoT technologies in cities around the world. 

        </p>
        <br>
        <br>
        <br>

       

      </div>
    </div>
    
  </div>
</div>
{% endblock content %}
