<h3>About</h3>
<ul>
  <li><a href="{% url 'globalcityteams:about' %}">About</a></li>
  <li><a href="{% url 'globalcityteams:faq' %}">FAQ</a></li>
</ul>

<h3>Action Cluster</h3>
<ul>
  <li><a href="">Add an Action Cluster</a></li>
  <li><a href="">Action Cluster Index</a></li>
  <li><a href="">Looking for Partners</a></li>
  <li><a href="">Wiki</a></li>
</ul>

<h3>News/Events</h3>
<ul>
  <li><a href="{% url 'globalcityteams:article_list' %}">News</a></li>
  <li><a href="{% url 'globalcityteams:event_list' %}">Events</a></li>
</ul>
