{% extends "microsite_base.html" %}{% load snippets_tags thumbnail %}

{% block title %}Global City Teams Challenge - {{ block.super }}{% endblock title %}

{% block content %}
<div class="row collapse l-listings" data-equalizer>
  {% block sidebar %}
    {% include "globalcityteams/includes/sidebar.html" %}
  {% endblock sidebar %}

  <article class="large-8 medium-9 columns listings" data-equalizer-watch>
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          <h1>GCTC 2015 Sponsors and Partners</h1>
          
          <p>
          Collaborate with leading developers of IoT technologies and accelerate the deployment of solutions designed to address some of the most pressing challenges facing cities today.
          </p>
          <p>
          <br>
          <h2>Government Partners</h2>
          <div class="row partner-grid" style="margin-bottom: 30px;">
              <a href="http://www.nist.gov/" target="_blank" class="medium-4 small-6 columns"><img title="nist" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/nist.png" alt="" width="150" height="75"></a>

              <a href="http://www.nsf.gov/" target="_blank" class="medium-4 small-6 columns"><img title="nsf" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/NSF.png" alt="" width="150" height="75"></a>

              <a href="http://trade.gov/" target="_blank" class="medium-4 small-6 columns"><img title="ita" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ita.png" alt="" width="150" height="75"></a>

              <a href="http://www.energy.gov/" target="_blank" class="medium-4 small-6 columns"><img title="department of energy" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/us-dept-energy.png" alt="" width="150" height="75"></a>

              <a href="http://www.hhs.gov/" target="_blank" class="medium-4 small-6 columns end"><img title="health and human services" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/department-health-human.png" alt="" width="150" height="75"></a>



            </div>
            <br>

            <h2>Corporate Partners</h2>

            <div class="row partner-grid">
              <a href="http://www.arm.com/" target="_blank" class="medium-4 small-6 columns"><img title="arm" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/arm.png" alt="" width="150" height="75"></a>

              <a href="http://www.cisco.com/" target="_blank" class="medium-4 small-6 columns"><img title="cisco" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/cisco.png" alt="" width="150" height="75"></a>

               <a href="http://www.extremenetworks.com/" target="_blank" class="medium-4 small-6 columns"><img title="extreme" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/extreme-networks.png" alt="" width="150" height="75"></a>

              <a href="http://www.ge.com/" target="_blank" class="medium-4 small-6 columns"><img title="ge" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ge.png" alt="" width="150" height="75"></a>

               <a href="http://www.ibm.com/us/en/" target="_blank" class="medium-4 small-6 columns"><img title="ibm" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ibm.png" alt="" width="150" height="75"></a>

               <a href="http://www.intel.com/content/www/us/en/homepage.html?cid=sem117p251942g-c&gclid=CMOO0NC1jMICFSMA7AodE2YAHA" target="_blank" class="medium-4 small-6 columns"><img title="intel" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/intel.png" alt="" width="150" height="75"></a>

               <a href="http://www.juniper.net/us/en/homepage-campaign.page" target="_blank" class="medium-4 small-6 columns"><img title="juniper networks" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/juniper.png" alt="" width="150" height="75"></a>

               

               <a href="https://www.qualcomm.com/" target="_blank" class="medium-4 small-6 columns end"><img title="qualcomm" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/qualcomm.png" alt="" width="150" height="75"></a>

            </div>

          </p>
        </div>
      </div>
    </div>
  </article>
</div>


{% endblock content %}
