{% extends "microsite_base.html" %}{% load snippets_tags thumbnail %}

{% block title %}Global City Teams Challenge - {{ block.super }}{% endblock title %}

{% block content %}
<div class="row collapse l-listings" data-equalizer>
  {% block sidebar %}
    {% include "globalcityteams/includes/sidebar.html" %}
  {% endblock sidebar %}

  <article class="large-8 medium-9 columns listings" data-equalizer-watch>
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          <h1>GCTC 2016 Sponsors and Partners</h1>
          
          <p>
          Collaborate with leading developers of IoT technologies and accelerate the deployment of solutions designed to address some of the most pressing challenges facing cities today.
          </p>
          <p>
          <br>

          <h2>US Federal Agency Partners</h2>
          <div class="row partner-grid" style="margin-bottom: 30px;">

              <a href="http://www.nsf.gov/" target="_blank" class="medium-4 small-6 columns"><img title="nsf" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/NSF.png" alt="" width="150" height="75"></a>

              <a href="http://trade.gov/" target="_blank" class="medium-4 small-6 columns"><img title="ita" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ita.png" alt="" width="150" height="75"></a>

              <a href="http://state.gov/" target="_blank" class="medium-4 small-6 columns"><img title="department of state" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/state-dept.png" alt="" width="150" height="75"></a>

              <a href="https://www.nitrd.gov/" target="_blank" class="medium-4 small-6 columns end"><img title="nitrd" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/nitrd.png" alt="" width="150" height="75"></a>



          </div>

          <br>

          <h2>Corporate Partners</h2>

          <div class="row partner-grid" style="margin-bottom: 30px;">

            <a href="http://www.ibm.com/us/en/" target="_blank" class="medium-4 small-6 columns"><img title="ibm" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ibm.png" alt="" width="150" height="75"></a>

            <a href="http://www.att.com" target="_blank" class="medium-4 small-6 columns"><img title="att" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/att.png" alt="" width="150" height="75"></a>

            <a href="http://www.intel.com/content/www/us/en/homepage.html?cid=sem117p251942g-c&gclid=CMOO0NC1jMICFSMA7AodE2YAHA" target="_blank" class="medium-4 small-6 columns end"><img title="intel" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/intel.png" alt="" width="150" height="75"></a>

          </div>

          <br>

          <h2>Non-profit Partners</h2>

          <div class="row partner-grid" style="margin-bottom: 30px;">
            <a href="https://www.fiware.org/" target="_blank" class="medium-4 small-6 columns"><img title="fiware" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/fi-ware.png" alt="" width="150" height="75"></a>

            <a href="http://www.we-gov.org/" target="_blank" class="medium-4 small-6 columns end"><img title="wego" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/wego.png" alt="" width="150" height="75"></a>


          </div>

          <br>

          {% comment %}
          <h2>National Government Partners</h2>
          <div class="row partner-grid" style="margin-bottom: 30px;">
              
          </div>

          <br>
          {% endcomment %}

          <h2>Participating Members</h2>

          <div class="row partner-grid" style="margin-bottom: 30px;">
           
             <a href="http://iotdevlabs.co/" target="_blank" class="medium-4 small-6 columns end"><img title="iot" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/iOt.png" alt="" width="150" height="75"></a>

          </div>

          </p>
        </div>
      </div>
    </div>
  </article>
</div>


{% endblock content %}
