{% extends "globalcityteams/index.html" %}{% load thumbnail %}

{% block title %}Search - {{ block.super }}{% endblock title %}

{% block search_form %}{% endblock search_form %}

{% block content %}
<h1>Search Results</h1>

<form method="get" action=".">
  {{ form }}
  <button type="submit">Submit</button>
</form>

<div class="row object--list">
  {% for object in page.object_list %}
  <div class="columns large-3{% if forloop.last %} end{% endif %}">
    {% include "globalcityteams/search_block.html" with object=object.object %}
  </div>
  {% endfor%}
</div>

{% endblock content %}
