{% extends "microsite_base.html" %}{% load thumbnail %}

{% block title %}Global City Teams Challenge  - {{ block.super }}{% endblock title %}

{% block content %}
<div class="row collapse">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="page-title">Action Clusters by Sector</h2>
      </div>
    </div>
  </div>
</div>


<div class="row collapse">
  <div class="small-12 columns">
	<div class="row panel">
	  <div class="small-12 columns">
	    <p>
	      Browse the GCTC 2015 Active Action Clusters to explore the projects accelerating the deployment of IoT technologies in cities around the world. 
	    </p>
	    <br>
	    <br>
	    <br>

	    <div class="row sector-row">
	    	<div class="small-12 medium-2 columns">
	    		<div class="sector-icon"><img src="{{ STATIC_URL }}globalcityteams/images/public-safety.png" alt="" /></div>
	    	</div>
	    	<div class="small-12 medium-10 columns">
	    		<h2>Public Safety</h2>
	    		<ul>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/icUg9SkzFDxjkKVJM6byx9/ ">
		    				Smart Emergency Response System
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/NSkmt5PEY5iTYgweMCPvRd/ ">
		    				Ecosystem for Smart Medical Simulation Team Training
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/VRsvZ3UKoeR6RLbuL4Jhd9/ ">
		    				Human Population Mapping for Enhanced Community Resilience
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/3xhL68PYKna6rgJxNeL4Zd/ ">
		    				Cyber Attack-Defense Exercise for Critical Infrastructure Security
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/JMSnLY5Vb4xzEShcdLDiLP/ ">
		    				PA 2040 
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/tY44ZyeomooXTUevhnGvVU/ ">
		    				Integrating an Aerial Base Station with a City's Emergency Communication Grid
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/sGnog9XEXdsV3AP7mjK9TA/ ">
		    				City of Ammon: Using Dynamic Virtualization and Intelligent Edge Devices in Disaster Response
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/XRAgS3wuxbw6u9GkLzD6QY/ ">
		    				Seismic and Infrastructure Monitoring
		    			</a>
		    		</li>
		    		
	    		</ul>
	    	</div>
	    </div>

	    <div class="row sector-row">
	    	<div class="small-12 medium-2 columns">
	    		<div class="sector-icon"><img src="{{ STATIC_URL }}globalcityteams/images/general.png" alt="" /></div>
	    	</div>
	    	<div class="small-12 medium-10 columns">
	    		<h2>Education</h2>
	    		<ul>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/grJYMWvw7CCRNF3X2Ne2KU/ ">
		    				Bringing Internet of Things Know-How to High School Students
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/AGDWcMZsbixi6Wb7gbtA7g/ ">
		    				Resource Network for Early Childhood Care and Education
		    			</a>
		    		</li>
		    	</ul>
		    </div>
		</div>

		{% comment %}
	    <div class="row sector-row">
	    	<div class="small-12 medium-2 columns">
	    	<div class="sector-icon"><img src="{{ STATIC_URL }}globalcityteams/images/energy.png" alt="" /></div>
	    	</div>
	    	<div class="small-12 medium-10 columns">
	    		<h2>Energy</h2>
	    		<ul>
		    		<li>
		    			<a href="">
		    				
		    			</a>
		    		</li>
		    		
	    		</ul>
	    	</div>
	    </div>
	    {% endcomment %}

	    <div class="row sector-row">
	    	<div class="small-12 medium-2 columns">
	    		<div class="sector-icon"><img src="{{ STATIC_URL }}globalcityteams/images/transportation.png" alt="" /></div>
	    	</div>
	    	<div class="small-12 medium-10 columns">
	    		<h2>Transportation</h2>
	    		<ul>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/xD6TMDJtrQrcefjd9DAmDa/ ">
		    				Connected, Intelligent Transit 
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/dztJoErJ42HCBkNAgYZf5b/ ">
		    				Autonomy-enabled Shared Vehicles for Mobility on Demand and Urban Logistics
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/apps/MGKAg2iZqmAFspMGF6RBsV/ ">
		    				Hack the Commute
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/xhycLkjZh9z5JdzJqgETxg/ ">
		    				Smart Mobile Operation: the OSU Transportation Hub 
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/6BqwaLyFY39JfD2CLkmL9i/ ">
		    				Transit Hub - An Integrated Decision Support System for Public Transportation
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/ECuFRL3KjMZ2WDVe8WDZYK/ ">
		    				Applied Robotics for Installations and Base Operations
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/bRAyH96RNrKpZXGdK3FmXQ/ ">
		    				Automated Taxi (A-Taxi) Community Shuttle
		    			</a>
		    		</li>
		    		
	    		</ul>
	    	</div>
	    </div>

	    <div class="row sector-row">
	    	<div class="small-12 medium-2 columns">
	    		<div class="sector-icon"><img src="{{ STATIC_URL }}globalcityteams/images/stethoscope.png" alt="" /></div>
	    	</div>
	    	<div class="small-12 medium-10 columns">
	    		<h2>Health</h2>
	    		<ul>
		    		
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/KKmM7WVEyM8v6yZnWrftUg/ ">
		    				Remotely Caring for Vulnerable Populations during a Pandemic
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/Mnubwt5vKp5qQHdxW6qPpF/ ">
		    				Safe Community Alert Network
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/GeusuJhSDth9GSXeZN7sM8/ ">
		    				Geolocated Allergen Sensing Platform
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/dKGjvQQqj7Xb7vVFquR4Pn/ ">
		    				People Energy & Buildings
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/iofLgvcZsXNxpBAcfWrvWK/ ">
		    				Managing Urban Air Quality 
		    			</a>
		    		</li>
		    		
	    		</ul>
	    	</div>
	    </div>

	    <div class="row sector-row">
	    	<div class="small-12 medium-2 columns">
	    		<div class="sector-icon"><img src="{{ STATIC_URL }}globalcityteams/images/built-environmanet.png" alt="" /></div>
	    	</div>
	    	<div class="small-12 medium-10 columns">
	    		<h2>The Built Enviroment</h2>
	    		<ul>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/i8R3fjHDRgDLEvDPxE8WjL/ ">
		    				Energy Storage for Demand Response
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/U9emDQeVfMYMvXmTXuVgba/ ">
		    				City of Pittsburgh Plug Load Energy Management
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/apps/PlanIT-Impact/ ">
		    				PlanIT Impact
		    			</a>
		    		</li>
		    	</ul>
		    </div>
		</div>

		<div class="row sector-row">
	    	<div class="small-12 medium-2 columns">
	    		<div class="sector-icon"><img src="{{ STATIC_URL }}globalcityteams/images/general.png" alt="" /></div>
	    	</div>
	    	<div class="small-12 medium-10 columns">
	    		<h2>General/Platform</h2>
	    		<ul>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/Udpas9J34XuY4sQ5JSDRca/ ">
		    				Genova, Italy
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/search/?q=Cityzenith%3A+5D+Smart+Physical+Infrastructure ">
		    				Cityzenith: 5D Smart Physical Infrastructure
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/7Vj3jKWiJi83fh97e2uT3G/ ">
		    				Coruña Smart City
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/org/one-community/ ">
		    				OneCommunity
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/WcwMtDH8LAfxLdG96E5dEa/ ">
		    				Lower Manhattan Smart Neighborhood Project
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/xVxSwNJ3dkqSARREdibNgP/ ">
		    				Link NYC
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/HULqaDy5bU3y3QvQJzaj8a/ ">
		    				ParaDrop
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/HN2vFr9FD5S8xSEH3t7D4f/ ">
		    				Flexible Public Lighting in Amsterdam with an open and independent Smart City Platform
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/apps/vCvMmJfWwsYG39UNCcKnWN/ ">
		    				Living Lab Stratumseind 2.0 - De-escalate and City Pulse & Living lab: smart public lighting grid (e.a. Light-S)
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/apps/GjbYuTzpWp7DYZQei8DnvJ/ ">
		    				Smart Strijp-S
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/apps/DQ6tCUSxm4Vy3cWWVPRquJ/ ">
		    				Smart sensoring & smart emissions (e.a. project Nijmegen)
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/NLiZRWwpyE7XJKbx98u2So/ ">
		    				Mobile-first Communication and Service On Demand Infrastructure for Hospitality
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/h3GJrG9ujwpX3nkuVfGC5j/ ">
		    				AnyCOMM & San Jose
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/PvXVFe3vbhWJrgSrWy7a8U/ ">
		    				Fiware
		    			</a>
		    		</li>
		    		<li>
		    			<a href="https://www.us-ignite.org/globalcityteams/actioncluster/RRyiEaLDtxXKxFD7MwxgwY/ ">
		    				Smart Node
		    			</a>
		    		</li>
	    		</ul>
	    	</div>
	    </div>

	  </div>
	</div>

	
	</div>
</div>
{% endblock content %}
