{% extends "includes/lists/object_list_base.html" %}

{% block title %}Action Cluster list - {{ block.super }}{% endblock title %}

{% block page_title %}Action Cluster{% if filter_name %}: {{ filter_name }}{% endif %}{% endblock page_title %}

{% block top_panel %}
<div class="row panel">
{{ template_name }}
  <div class="small-12 columns">
    {% if category == "iot" %}

      <h2>GCTC 2015 IOT Project Ideas</h2>
      <p>Scroll through and explore these exciting "action clusters" that are a part of the 2015 Global City Teams Challenge.  The action clusters are composed of representatives from innovative local governments, nonprofit and private companies, working collaboratively over the next year, to build, deploy, and/or test transformative IoT applications.  Through the online action cluster member can share resources, expertise, applications and more. If you don't see an action cluster that meets your needs, go ahead and create your own in a few simple steps.

    {% elif category == "partner" %}

      <h2>Looking for Partners</h2>
      <p>Collaborate with leading developers of IoT technologies and accelerate the deployment of solutions designed to address some of the most pressing challenges facing cities today.

    {% else %}

      <h2>Explore Current Action Clusters</h2>
      <p>Scroll through and explore these exciting  "action clusters" that are a part of the Global City Teams Challenge.   The action clusters are composed of representatives from innovative local governments, nonprofit and private companies, working collaboratively over the next year, to build, deploy, and/or test transformative IoT applications.  Through the online action cluster member can share resources, expertise, applications and more. If you don't see an action cluster that meets your needs, go ahead and create your own in a few simple steps.

    {% endif %}
  </div>
</div>
<div class="row newsletter newsletter--primary" {% if category == "iot"  or category == "partner"%} style="margin-bottom: 50px;" {% endif %}>
  <div class="small-12 medium-8 columns newsletter__column">
    <h4 class="newsletter__heading"><strong>GOT A GREAT IDEA FOR AN ACTION CLUSTER?</strong> TELL US ABOUT IT...</h4>
  </div>
  <div class="small-12 medium-4 columns newsletter__column">
    <a href="{% url 'actioncluster_add' %}" class="button alert banner_button">SUBMIT YOUR ACTION CLUSTER</a>{% csrf_token %}
  </div>
</div>
{% endblock top_panel %}


{% block domain_list %}
{{ block.super }}
{% for stage_id, stage in stage_list %}
<li><a href="{% url 'actioncluster_list_stage' stage_id %}" class="domains__link {% if current_stage == stage_id %}domains__link--active{% endif %}">{{ stage }}</a></li>
{% endfor%}
{% endblock domain_list %}
