{% load thumbnail %}
<a href="{{ object.get_absolute_url }}" title="{{ object.name }}">
  {% if object.image %}
  <img src="{% thumbnail object.image 216x119 crop %}" alt="{{ object.name }}" />
  {% else %}
  <img src="{{ STATIC_URL }}img/project-default.png" alt="{{ object.name }}" />
  {% endif %}
  {% if object.domain %}
  <span class="domains__icon--{{ object.domain.slug }}"></span>
  {% endif %}

  <h4>{{ object.name }}</h4>
  {% with object.tags.all as tag_list %}
  {% if tag_list %}
  <p>
    {% for tag in tag_list %}{{ tag|upper }}{% if not forloop.last %},{% endif%} {% endfor%}
  </p>
  {% endif %}
  {% endwith %}
  <p>{{ object.get_summary }}</p>
</a>
