<li{% if as_sidebar %} class="sidebar__list__item"{% endif %}><a {% if as_sidebar %} class="sidebar__list__link"{% endif %}href="{% url 'involve-developers' %}">DEVELOPERS</a></li>
<li{% if as_sidebar %} class="sidebar__list__item"{% endif %}><a {% if as_sidebar %} class="sidebar__list__link"{% endif %}href="{% url 'involve-partners' %}">PARTNER / SPONSOR</a></li>
<li{% if as_sidebar %} class="sidebar__list__item"{% endif %}><a {% if as_sidebar %} class="sidebar__list__link"{% endif %}href="{% url 'involve-communities' %}">COMMUNITY LEADER</a></li>
<!-- <li{% if as_sidebar %} class="sidebar__list__item"{% endif %}><a {% if as_sidebar %} class="sidebar__list__link"{% endif %}href="#TODO">COMMUNITY MEMBER</a></li> -->
<li{% if as_sidebar %} class="sidebar__list__item"{% endif %}><a {% if as_sidebar %} class="sidebar__list__link"{% endif %}href="{% url 'involve-communities-learn' %}">GET STARTED IN MY COMMUNITY</a></li>
