{% extends "base.html" %}

{% block title %}Search results - {{ block.super }}{% endblock title %}

{% block search %}{% endblock search %}

{% block content %}
<h1>Search results</h1>

<form method="get" action="{% url 'search' %}">
  {{ form }}
</form>

{% if page.object_list  %}
{% for object in page.object_list %}
<h3><a href="{{ object.url }}">{{ object.title }}</a></h3>
<p>{{ result.description }}</p>
{% endfor%}
{% else %}
<p>No results available.</p>
{% endif %}

{% include "includes/pagination.html" %}

{% endblock content %}
