{% extends "base.html" %}

{% block title %}Search resources - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Search: Resources</h1>

<form method="get" action="{% url 'search_resources' %}">
  {{ form.as_p }}
  <p><button type="submit">Submit</button></p>
</form>

{% if page.object_list  %}
{% for object in page.object_list %}
{% include "resources/object_block.html" with object=object %}
{% endfor%}
{% else %}
<p>No resources found.</p>
{% endif %}

{% include "includes/pagination.html" %}
{% endblock content %}
