{% extends "base.html" %}{% load snippets_tags news_tags %}


{% block content %}


<div class="row collapse">
  <div class="small-12 columns">
    <div class="row listing-featured">
      {# snippet "featured" "snippets/featured.html" #}
      {% block featured %}{% endblock %}
    </div>
  </div>
</div>


{# Content all the areas of the blog #}

<div class="row collapse l-listings">
  {% block section %}{% endblock section %}

  {# Sidebar for all the areas of the blog #}
  {% block sidebar %}

  {% endblock sidebar %}
</div>


{# latest_articles "news/object_short_list.html" #}

{# include "mailinglist/object_block.html" #}

{% endblock content %}
