{% extends "base.html" %}{% load thumbnail %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock title %}

{% block content %}
<h1>{{ object.title }}</h1>

{% with object.postattachment_set.all as attachment_list %}
{% for attachment in attachment_list %}
<img src="{{ attachment.url }}" alt="" width="500"/>
{% endfor%}
{% endwith %}

{{ object.content|safe }}

<h2>Tags</h2>
{% with object.tags.all as tag_list %}
{% if tag_list %}
<ul>
  {% for tag in tag_list %}
  <li><a href="{% url 'search' %}?q={{ tag|urlencode }}">{{ tag }}</a></li>
  {% endfor%}
</ul>
{% else %}
<p>Post hasn't been tagged.</p>
{% endif %}
{% endwith %}

{% endblock content %}
