{% extends "blog/base.html" %}

{% block title %}Blog - {{ block.super }}{% endblock title %}

{% block section %}
<h1>Blog</h1>

{% if featured_list %}
<h2>Featured posts</h2>
<ul>
  {% for featured in featured_list %}
  {% include "blog/object_block.html" with object=object %}
  {% endfor%}
</ul>
{% endif %}

{% if page.object_list  %}
{% for object in page.object_list %}
{% include "blog/object_block.html" with object=object %}
{% endfor%}
{% else %}
<p>No posts available.</p>
{% endif %}

{% include "includes/pagination.html" %}

{% endblock section %}
