{% extends "blog/base.html" %}{% load thumbnail %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock title %}

{% block section %}

  <div class="listings__listing">
    <div class="row">
      <div class="small-12 columns back-btn">
        <div class="arrow-left back-btn__arrow"></div>
        {% if MICROSITE_SLUG != 'globalcityteams' %}
          <a href="{% url 'blog_post_list' %}" class="back-btn__link">Back to Listing</a>
        {% else %}
          <a href="{% url 'globalcityteams:news_list' %}" class="back-btn__link">Back to Listing</a>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="listings__listing">
    <div class="row">

      <div class="small-12 columns">
        <span class="listings__listing__tags">
          Tagged: 
          {% with object.tags.all as tag_list %}
          {% if tag_list %}
            {% for tag in tag_list %}
            <a href="{% url 'search' %}?q={{ tag|urlencode }}" class="listings__listing__tags__tag">{{ tag|upper }}</a>{% if not forloop.last %},{% endif %}
            {% endfor%}
          {% else %}
          Post hasn't been tagged.
          {% endif %}
          {% endwith %}
        </span>

        <h1 class="listings__listing__heading">{{ object.title }}</h1>

        {% with profile=object.author.profile %}
        <span class="listings__listing__published">
          {{ object.publication_date|date:"F jS, Y" }} {% if object.author.profile %}| By <a href="{{ profile.get_absolute_url }}">{{ profile.display_name }}{% endif %}</a>
        </span>
        {% endwith %}

        <div class="listings__listing__desc">
          {% with object.postattachment_set.all as attachment_list %}
          <ul class="small-block-grid-3">
          {% for attachment in attachment_list %}
            <li>
              {% if attachment.attachment %}
              <img src="{% thumbnail attachment.attachment 300x0 %}" alt=""/>
              {% else %}
              <img src="{{ attachment.url }}" alt=""/>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
          {% endwith %}
          <div class="listings__listing__content">
            {{ object.content|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h4 class="listings__listing__heading listings__listing__heading--plain">RELATED POSTS</h4>
    </div>
  </div>

  <!-- related posts -->
  {% for featured in featured_list %}
  {% include "blog/object_block.html" with object=featured %}
  {% endfor %}
  <!-- /related -->


{% endblock section %}
