<div class="listings__listing">{% load thumbnail %}
  <div class="row">
    <div class="small-5 medium-4 show-for-medium-up columns">
      {% if object.image  %}
      <img src="{% thumbnail object.image 268x169 crop %}" alt="" class="listings__listing__image" />
      {% else %}
      <img src="{{ STATIC_URL }}img/project-default.png" class="listings__listing__image">
      {% endif %}
    </div>

    <div class="small-12 medium-8 columns">
      <span class="listings__listing__tags">
        Tagged:
        {% with object.tags.all as tag_list %}
          {% if tag_list %}
            {% for tag in tag_list %}
              <a href="{% url 'search' %}?q={{ tag|urlencode }}" class="listings__listing__tags__tag">{{ tag|upper }}</a>{% if not forloop.last %},{% endif %}
            {% endfor%}
          {% else %}
            Post hasn't been tagged.
          {% endif %}
        {% endwith %}
      </span>

      <a class="listings__listing__heading" href="{{ object.get_absolute_url }}">{{ object.name }}</a>

      {% with profile=object.author.profile %}
      <span class="listings__listing__published">
        {{ object.publication_date|date:"F jS, Y" }} {% if object.author.profile %}| By <a href="{{ profile.get_absolute_url }}">{{ profile.display_name }}{% endif %}</a>
      </span>
      {% endwith %}
      <div class="listings__listing__desc show-for-medium-up">
        
        <p>{{ object.short_excerpt }}</p>

      </div>

      <span class='st_facebook_vcount' st_url="{{ SITE_URL }}{{ object.get_absolute_url }}" st_title="{{ object.name }}"  displayText='Facebook'></span>
        <span class='st_twitter_vcount' st_url="{{ SITE_URL }}{{ object.get_absolute_url }}" st_title="{{ object.name }}" displayText='Tweet'></span>
        <span class='st_googleplus_vcount' st_url="{{ SITE_URL }}{{ object.get_absolute_url }}" st_title="{{ object.name }}" displayText='Google +'></span>
        <span class='st_email_vcount' st_url="{{ SITE_URL }}{{ object.get_absolute_url }}" st_title="{{ object.name }}" displayText='Email'></span>
    </div>
  </div>
</div>
