{% extends "blog/base.html" %}

{% block title %}Blog - {{ block.super }}{% endblock title %}

{% block featured %}
  {% if featured_list %}
    <div class="row collapse">
      <div class="small-12 columns">
        <div class="row listing-featured">
        
        {% for featured in featured_list %}
        {% include "blog/featured_block.html" with object=object last=forloop.last %}
        {% endfor%}

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block section %}
  <!-- listings-filter -->
  <div class="listings__filter">
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="medium-4 small-6 columns">
            <form>
              <div class="row collapse">
                <div class="small-3 columns show-for-medium-up">
                  <label for="right-label" class="left inline show-for-medium-up">Showing:</label>
                </div>
                <div class="small-9 columns left">
                  <select id="right-label">
                    <option>Test</option>
                    <option>Test</option>
                    <option>Test</option>
                    <option>Test</option>
                    <option>Test</option>
                    <option>Test</option>
                  </select>
                </div>
              </div>
            </form>
          </div>

          <div class="medium-4 medium-offset-2 small-6 columns">
            <div class="row collapse">
              <div class="small-12 columns search">
                <input type="text" placeholder="SEARCH" class="search__field">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /listings-filter -->

  {% if page.object_list  %}
    {% for object in page.object_list %}
      {% include "blog/object_block.html" with object=object %}
    {% endfor%}
  {% else %}
    <p>No posts available.</p>
  {% endif %}

  {% include "includes/pagination.html" %}

{% endblock section %}