{% extends "get-involved/base.html" %}

{% block title %}Get Involved Communities - {{ block.super }}{% endblock title %}


{% block section %}
<h2 class="header">GET INVOLVED - COMMNITIES</h2>

<p>Whether in the commercial, social or government sectors, technology has the power to spur innovation, engage citizens, leverage untapped assets, create efficiencies and change lives.  To that end, US Ignite is a convener of stakeholders that have a vested interest in working together to stimulate the research, development, and promotion of next-generation networks and applications to transform sectors of national priority such as education, healthcare, workforce development, energy, public safety, advanced manufacturing and transportation.  Our intent is to complement, support, and facilitate relationships among key stakeholders providing opportunities to magnify their impact and transform sectors of national priority. 
</p>

<p>Here are three ways to get you started:</p>

<ul class="small-block-grid-1 medium-block-grid-3">
  <li>
    <a href="#learn">LEARN</a><br>
    Learn more about what we mean by “next-generation” and the benefits
  </li>

  <li>
    <a href="{% url 'registration_register' %}">JOIN</a><br>
    Create a profile to join the community and have full access to US Ignite resources
  </li>

  <li>
    <a href="{% url 'hub_list' %}">EXPLORE</a><br>
    See what transformative communities are in creation today
  </li>
</ul>


{% endblock section %}

{% block related %}
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="header" id="learn">Learn</h2>

      <p>In the early twentieth century, many families whose homes were being connected to the electric grid wanted only light bulbs, because light was all they knew electricity could “do.” There was little, if any, awareness that electricity would ultimately power almost all the “applications” around us – fundamentally changing every single experience we have in our homes, businesses, and lives.</p>

      <p>The same kind of transformation will be powered by the gigabit Internet, and it’s shortsighted for journalists and policy-makers to focus on Internet speeds alone. It leads Americans to think “Gigabit Internet equals faster movie downloads.” This is why initiatives like US Ignite and projects that foster the <strong>next-generation of applications</strong> and services are so critical.
      </p>

      <p>Through working with communities like Chattanooga,TN Kansas City, Burlington, VT, Red Wing, MN and Flint, MI we’ve developed the following roadmap to success:</p>

      <ol>
        <li>Form a leadership group</li>
        <li>Identify assets in your community (e.g. resource universities, incubators, fiber, etc)</li>
        <li>Adopt or develop applications that solve local problems and provide public benefit</li>
        <li>Coordinate best-practice sharing among local and national participants</li>
        <li>Leverage US Ignite resources and national partnerships</li>
      </ol>

      <h3 class="subheader">Building a Network</h3>

      <p>Is your community grappling with bringing advanced networking infrastructure into reality? US Ignite helps coordinate network testbeds, but does not build networks. </p>

      <p>None the less, here are some resources that might be able to assist:</p>

      <ul>
        <li>US Ignite Technologies & Benefits Overview - PDF 1 pager</li>
        <li>Fiber to the Home Community Toolkit: Getting to a Gigabit - case studies, white papers, videos and templates to help local telecommunications providers and civic leaders launch their efforts to bring ultra high speed broadband to their communities</li>
        <li>Playing to Win: Google Fiber Playbook for Kansas City - beta digital playbook of recommendations on how the citizens and government of Kansas City, KS and Kansas City, MO can effectively leverage the gigabit network</li>
        <li>Gigabit Communities - Technical Strategies for Facilitating Public or Private Broadband Construction in Your Community</li>
        <li>Google Fiber City Checklist - This checklist document is written specifically for the cities we’re currently working with. But the items on this checklist are a collection of best practices recommended by the Fiber to the Home Council, the Gig U report and the U.S. Conference of Mayors and can help any fiber provider or city that’s thinking of building a new network.</li>
        <li>NTIA Broadband Adoption Toolkit - based on lessons learned from BTOP grantees, this toolkit highlights adoption activities in four areas: Awareness and outreach, Home computers and broadband service, Training planning and delivery, Curriculum and relevant content</li>
        <li>Baller Herbst Library
          <ul>
            <li>National Broadband Strategy</li>
            <li>Economic Development</li>
            <li>Community Broadband</li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</div>
{% endblock related %}