{% extends "get-involved/base.html" %}

{% block title %}Get Involved Developers Learn - {{ block.super }}{% endblock title %}


{% block section %}
<h2 class="header">GET INVOLVED - DEVELOPERS - LEARN</h2>

<p>
  The next-generation of Internet is not just about going faster, it is also about getting smarter. By embracing technologies like local-cloud, SDN and gigabit to end-users, you have the potential to build an app that transforms how we receive everything from education to healthcare and more.
</p>

<p>
  Standard web development requires optimizing for speed and minimizing the data that is delivered. Caching and compression introduce buffers and delays. Instead of operating under these constraints - stop compressing, stop buffering, stream data, video, voice - all at once.
</p>

<p>1. What can you do with advanced networks?</p>

<ul>
  <li>Real-time (apparently instantaneous)</li>
  <li>Very low latency</li>
  <li>Reliable (no hiccups)</li>
  <li>Internet of Things/Cyberphysical interactions</li>
  <li>Big data to the end user / anchor institution</li>
  <li>Visual data exploration (“fly-through”)</li>
  <li>Collaborative (in the moment)</li>
  <li>Distributed</li>
</ul>


{% endblock section %}
