{% extends "registration/base.html" %}{% load browserid %}

{% block extra_styles %}
{% browserid_css %}
{% endblock extra_styles %}

{% block title %}Login - {{ block.super }}{% endblock title %}

{% block section_title %}
Login
{% endblock section_title %}

{% block section %}

<p>{% include "includes/persona.html" %} using Mozilla Persona</p>

<p>Or with a site account:</p>

<form method="post" action=".">
  {{ form.as_p }}
  <p>
    {% csrf_token %}
    <button type="submit">LOGIN</button>
  </p>
</form>

<p><a href="{% url 'password_reset' %}">Forgotten password?</a></p>
{% endblock section %}

{% block extra_scripts %}
{% browserid_js %}
{% endblock extra_scripts %}

