{% extends "registration/base.html" %}

{% block title %}assword reset - {{ block.super }}{% endblock title %}

{% block content %}

{% if validlink %}

<h1>Enter new password:</h1>
<form method="post" action=".">
  {{ form.as_p }}
  <p>
    <button type="submit">Change</button>
    {% csrf_token %}
  </p>
</form>
{% else %}
<h1>Password reset unsuccessful</h1>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}

{% endblock content %}
