{% extends "registration/base.html" %}

{% block title %}Reset password - {{ block.super }}{% endblock title %}

{% block section_title %}
Forgot your password? No problem. We can fix that.
{% endblock section_title %}

{% block section %}
<form method="post" action="{% url 'password_reset' %}">
  <p>
    {% if form.email.errors %}{{ form.email.errors }}{% endif %}
    <label for="email">Enter your email:</label>
    {{ form.email }}
  </p>
  <p>
    We will send an email to the email address.
  </p>
  <p>
    Once you receive the email, click on the URL in the email. You will go to a webpage to create a new password.
</p>
  <button type="submit">SEND</button>
  {% csrf_token %}
</form>

{% endblock section %}
