{% extends "registration/base.html" %}{% load browserid %}

{% block title %}Registration - {{ block.super }}{% endblock title %}

{% block extra_styles %}
{% browserid_css %}
{% endblock extra_styles %}

{% block section_title %}
Registration
{% endblock section_title %}

{% block section %}
<p>Create an account by {% include "includes/persona.html" %} using Mozilla Persona</p>

<p>Or create site account:</p>

<form method="post" action=".">
  {{ form.as_p }}
  <p>
    {% csrf_token %}
    <button type="submit">REGISTER</button>
  </p>
</form>
{% endblock section %}

{% block extra_scripts %}
{% browserid_js %}
{% endblock extra_scripts %}

