{% extends "sections/base.html" %} {% block title %}Frequently asked questions - {{ block.super }}{% endblock title %} {% block section %}
<h2 class="header">Frequently asked questions</h2>

<h3 class="subheader">What is US Ignite?</h3>
<p>US Ignite is fostering the development of next-generation applications that provide transformative public benefit using new technologies like software defined networks, cloud computing and gigabit to end-users. By engaging with diverse public and private leaders, we “ignite” the development and deployment of new apps with a profound impact on the way Americans work, live, learn and play.</p>
<p>Specifically, our apps are focused on six areas of national priority that will transform the way Americans receive everything from healthcare, energy, education, transportation, public safety and advanced manufacturing.</p>

<h3 class="subheader">Why are you focusing on six priority areas?</h3>
<p>Public interest in new technologies is primarily driven by practical use. The average person is generally not interested in understanding how network technologies make things like ultra-high-speed networks possible, but is instead more interested in discovering the applications that might help them live, work, learn or play better and more efficiently.</p>

<h3 class="subheader">Is US Ignite building a broadband network?</h3>
<p>No, US Ignite is not building a broadband network or creating new infrastructure; rather, it is leveraging existing infrastructure and giving it new capabilities.</p>
<p>Specifically, US Ignite is partnering with commercial providers, communities, and research and education networks (RENs) that can offer 100MB+ broadband networks and encouraging them to create next-generation technology test beds within their service areas.</p>

<h3 class="subheader">What kind of efforts does US Ignite support?</h3>
<p>US Ignite supports commercial networks, university networks, research institutions, and any effort that can support 100+MB data speeds, software-defined networking and openflow, distributed cloud computing and virtual networks and programmable slices.</p>

<h3 class="subheader">Can you explain the technologies US Ignite supports (SDN, virtual networking, etc.)?</h3>
<p>The four most important technical parts of the US Ignite technology include:</p>
<ul>
  <li>High Symmetric Bandwidth</li>
  <li>Software-Defined Networking and OpenFlow</li>
  <li>Distributed Cloud Resources</li>
  <li>Virtual Networks and Programmable Slices and Access to Advanced Resources</li>
</ul>
<p><strong>High symmetric bandwidth</strong> allows for things like uncompressed high definition video transmission – which has huge advantages over the IP based transmission commonly used as it minimizes delays in things like video conferencing. For truly interactive experiences, uncompressed video with its high bandwidth requirements is best, and we expect a number of Ignite applications to use uncompressed video particularly in areas like healthcare and education.</p>
<p>The next-generation Internet will take advantage of <strong>Software Defined Networks</strong>, which takes the “intelligence” of routing data out of the switches and routers on shelves, and puts more of it into the cloud. SDN tricks servers into thinking that they’ve got network gear all to themselves, configured exactly the way they like it, when they are really sharing that gear with other servers. More servers can share less network gear, and they can also be moved around easier — a big plus for applications like cloud computing.</p>
<p><strong>Distributed Cloud Resources</strong> (e.g., US Ignite racks) are a kind of cloud computing in which the cloud is itself distributed throughout the network. This has distinct advantages including pre-staging information where it’s needed, processing data traffic more locally, and dramatically improving responsiveness while reducing latency.</p>
<p><strong>Virtual Networks</strong> are tailored to match specific advanced applications as well as provide unique <strong>Access to Advanced Resources</strong>, such as advanced computational, sensor, storage and data resources provided by the owners and operators of new technology.</p>
<p>The collection of network, distributed, and advanced resources available in a virtual network to an application is called a “slice.” <strong>Slices</strong> are an important concept because they can be thought of as the delivery mechanism for an application.</p>
<p>You can find more detail about US Ignite’s technology focus on this page</p>

<h3 class="subheader">How does US Ignite fit in with other efforts like Gig.U.?</h3>
<p>US Ignite is unique among current initiatives. It is focused on spurring the creation of compelling applications that will drive investments in advanced broadband infrastructure.</p>
<p>Other efforts such as Gig.U are focused on the deployment of advanced broadband infrastructure in strategic communities nationwide through harnessing the innovation and leadership of America’s higher education institutions and leveraging the market power of leading industry providers.</p>
<p>US Ignite intends to create a national test bed for next-generation applications by linking advanced infrastructure providers and communities (including Gig.U participants) who will provide compatible next-generation infrastructure. US Ignite encourages its members to contribute to the goals of Gig.U to expand access to such infrastructure.</p>

<h3 class="subheader">How is US Ignite working with Mozilla?</h3>
<p>NSF has funded Mozilla to lead open next-generation innovation challenges, like Mozilla Ignite to bring new talent to public sector gigabit application development. US Ignite works closely with Mozilla and provides resources and support including competition judges, promoting the competition among the next-generation developer community as well as working directly with teams to identify areas of support.</p>

<h3 class="subheader">Does NSF fund US Ignite?</h3>
<p>The US Ignite Partnership is an independent organization, which receives the vast majority of its funding from partner companies, such as Juniper, Cisco, Verizon, Google, Comcast, and others.  US Ignite does apply for, and occasionally receive, grants from federal agencies including NSF for work on specific projects.</p>

{% endblock section %}
