{% extends "base.html" %}

{% block title %}Locations - {{ block.super }}{% endblock title %}

{% block content %}

<h1>Locations</h1>

<div id="map" style="width:500px; height:400px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC6VsR-gfPbgJCJ67zC0gSx3yq4zljBhk&sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/maps.js"></script>
<script type="text/javascript" src="{% url 'location_list_json' %}"></script>
{% endblock content %}
