{% extends "base.html" %}{% load apps_urls thumbnail common_markdown snippets_tags %}

{% block title %}Dashboard - {{ block.super }}{% endblock title %}

{% block content %}

  <div class="row collapse listing-featured">
    <div class="small-12 medium-4 columns text-center">
      {% if object.avatar  %}
      <img src="{% thumbnail object.avatar 330x330 crop %}" alt="" />
      {% else %}
      <img src="{{ object.get_gravatar_url }}" alt="Avatar" class="profile__avatar" />
      {% endif %}
    </div>

    <div class="small-12 medium-8 columns">
      <blockquote class="profile__quote profile__quote--plain">
        Welcome{% if object.full_name %} {{ object.full_name }}{% endif %}, <br>
        {% snippet "profile-welcome" "snippets/profile_welcome.html" %}
      </blockquote>
    </div>
  </div>

  <!-- APPS -->
  {% include "people/includes/app_list.html" with object_list=application_list similar_list=similar_applications %}
  <!-- /APP -->

  <!-- ACTIONCLUSTERS -->
  {% include "people/includes/actioncluster_list.html" with object_list=actioncluster_list similar_list=similar_actionclusters %}
  <!-- /ACTIONCLUSTERS -->

  <!-- NEWS -->
  {% include "people/includes/post_list.html" with object_list=post_list %}
  <!-- /NEWS -->

  <!-- EVENTS -->
  {% include "people/includes/event_list.html" with object_list=hub_event_list %}
  <!-- /EVENTS -->

  <!-- COMMUNITIES -->
  {% include "people/includes/hub_list.html" with object_list=hub_list %}
  <!-- /COMMUNITIES -->

  <!-- RESOURCES -->
  {% include "people/includes/resource_list.html" with object_list=featured_resource_list %}
  <!-- /RESOURCES -->

  <div class="row collapse listing-featured">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <h4 class="profile__heading profile__heading--light">MANAGE YOUR CONTENT</h4>
        </div>
      </div>

      <div class="row">
        {% include "people/includes/content_list.html" with object_list=content_list %}
      </div>
    </div>
  </div>
{% endblock content %}
