{% load thumbnail %}<a class="row collapse featured featured--fixed-height featured__link" href="{{ object.get_absolute_url }}" title="{{ object.display_name }}">
  <div class="featured__image-container hide-on-hover show-for-medium-up medium-4 large-12 columns">
    {% if object.avatar  %}
    <img src="{% thumbnail object.avatar 100x100 crop %}" alt="" />
    {% else %}
    <img src="{{ object.get_gravatar_url }}" alt="{{ object.display_name }}" class="featured__image" />
    {% endif %}
  </div>

  <div class="small-10 medium-8 large-12 columns">
    <h4 class="featured__title">{{ object.display_name }}</h4>
    <p class="featured__desc show-only-on-hover">{{ object.bio|truncatewords:30 }}</p>
    <div class="alert button small show-only-on-hover featured__cta">VIEW DETAILS</div>
  </div>

  <div class="small-1 small-offset-1 show-for-small-only columns block-arrow-right"></div>

</a>
