{% extends "includes/lists/object_list_base.html" %}

{% block title %}People list - {{ block.super }}{% endblock title %}

{% block page_title %}People{% endblock page_title %}

{% block tags %}
{% endblock tags %}

{% block top_panel %}
{% endblock top_panel %}

{% block object_list %}
<div class="row">
{% for object in page.object_list_top %}
  <div class="columns large-3{% if forloop.last %} end{% endif %}">
    {% include "people/object_block.html" with object=object %}
  </div>
{% endfor%}
</div>
{% endblock object_list %}

{% block add_to_list %}
{% endblock add_to_list %}
