{% extends "base.html" %}{% load apps_urls thumbnail snippets_tags news_tags common_markdown %}

{% block title %}Profile for {{ object.full_name }} - {{ block.super }}{% endblock title %}

{% block content %}

<div class="row collapse">
  <div class="small-12 columns">

    <div class="row">
      <div class="small-12 columns">
        <h2 class="page-title">{% block section_title %}{{ object.full_name }}{% endblock section_title %}</h2>

        <span class="listings__listing__tags">
          {% include "includes/tag_list.html" with tag_list=object.tags.all %}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row collapse l-listings space-top" data-equalizer>
  <article class="large-8 medium-9 columns listings profile profile--collapse" data-equalizer-watch>

    <div class="listings__listing listing-featured listing--collapse">
      <div class="row">
        <div class="small-12 medium-4 columns text-center">
          {% if object.avatar  %}
          <img src="{% thumbnail object.avatar 276x276 crop %}" alt="Avatar" class="profile__avatar" />
          {% else %}
          <img src="{{ object.get_gravatar_url }}" alt="Avatar" class="profile__avatar" />
          {% endif %}
        </div> 

        <div class="small-12 medium-8 columns">
          <blockquote class="profile__quote">{{ object.quote }} </blockquote>
        </div>
        
      </div>
    </div>

    {% block section %}
    <!-- ABOUT -->
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">

          <h4 class="listings__listing__heading listings__listing__heading--plain">ABOUT</h4>
          <p>{{ object.bio }}</p>

        </div>
      </div>
    </div>
    <!-- /ABOUT -->

    <!-- AVAILABILITY -->
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">

          <h4 class="listings__listing__heading listings__listing__heading--plain">CURRENT AVAILABILITY TO JOIN A PROJECT</h4>
          <p>{{ object.get_availability_display }}.</p>

        </div>
      </div>
    </div>
    <!-- /AVAILABILITY -->

    <!-- APPLICATIONS -->
    {% if application_list %}
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          <h4 class="listings__listing__heading listings__listing__heading--plain">APPLICATIONS I MANAGE</h4>

          <div class="row">
          {% for app in application_list %}
            <div class="columns large-4{% if forloop.last %} end{% endif %}">
              {% include "includes/lists/object_block_base.html" with object=app %}
            </div>
          {% endfor%}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- /APPLICATIONS -->

    <!-- ACTIONCLUSTERS -->
    {% if actioncluster_list %}
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          <h4 class="listings__listing__heading listings__listing__heading--plain">ACTION CLUSTERS I MANAGE</h4>

          <div class="row">
          {% for actioncluster in actioncluster_list %}
            <div class="columns large-4{% if forloop.last %} end{% endif %}">
              {% include "includes/lists/object_block_base.html" with object=actioncluster %}
            </div>
          {% endfor%}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- /ACTIONCLUSTERS -->

    <!-- EVENTS -->
    {% if event_list %}
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          <h4 class="listings__listing__heading listings__listing__heading--plain">EVENTS I MANAGE</h4>

          <div class="row">
          {% for event in event_list %}
            <div class="columns large-4{% if forloop.last %} end{% endif %}">
              {% include "includes/lists/object_block_base.html" with object=event %}
            </div>
          {% endfor%}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- /EVENTS -->

    <!-- RESOURCES -->
    {% if resource_list %}
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          <h4 class="listings__listing__heading listings__listing__heading--plain">RESOURCES I MANAGE</h4>

          <div class="row">
          {% for resource in resource_list %}
            <div class="columns large-4{% if forloop.last %} end{% endif %}">
              {% include "includes/lists/object_block_base.html" with object=resource %}
            </div>
          {% endfor%}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- /RESOURCES -->

    <!-- COMMUNITIES -->
    {% if hub_list %}
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          <h4 class="listings__listing__heading listings__listing__heading--plain">COMMUNITIES / ACTION CLUSTERS I MANAGE</h4>

          <div class="row">
          {% for hub in hub_list %}
            <div class="columns large-4{% if forloop.last %} end{% endif %}">
              {% include "includes/lists/object_block_base.html" with object=hub %}
            </div>
          {% endfor%}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- /COMMUNITIES -->

   {% endblock section %}

  </article>

  <aside class="large-4 medium-3 columns sidebar">
    <div class="row">
      <div class="large-12 columns" data-equalizer-watch>

        {% block sidebar %}

        {% include "includes/awards.html" with award_list=award_list %}

        <h3 class="sidebar__heading">CONTACT</h3>

        <ul class="sidebar__list sidebar__list--bullets">
          {% if object.full_name %}
          <li class="sidebar__list__item">{{ object.full_name }}</li>
          {% endif %}
          <li class="sidebar__list__item"><a href="{{ object.get_contact_url }}">Contact me</a></li>
          {% if object.website %}
          <li class="sidebar__list__item"><a href="{{ object.website }}" rel="external">Website</a></li>
          {% endif %}
          {% if request.user == object.user %}
          <li class="sidebar__list__item"><a href="{% url 'user_profile' %}">Edit user profile</a></li>
          {% endif %}
        </ul>

        {% with object.profilelink_set.all as link_list %}
        {% if link_list %}
        <h3 class="sidebar__heading">Other URLS:</h3>
        <ul class="sidebar__list sidebar__list--bullets">
          {% for link in link_list %}
          <li class="sidebar__list__item"><a href="{{ link.url }}" rel="external">{{ link.name }}</a></li>
          {% endfor%}
        </ul>
        {% endif %}
        {% endwith %}


        {% if organization_list %}
        <h3 class="sidebar__heading">Organizations</h3>
        <ul class="sidebar__list sidebar__list--bullets">
          {% for organization in organization_list %}
          <li class="sidebar__list__item"><a href="{{ organization.organization.get_absolute_url }}">{{ organization.organization.name }}</a></li>
          {% endfor%}
        </ul>
        {% endif %}

        {% if hub_list %}
        <h3 class="sidebar__heading">Ignite Communities</h3>
        <ul class="sidebar__list sidebar__list--bullets">
          {% for hub in hub_list %}
          <li class="sidebar__list__item"><a href="{{ hub.get_absolute_url }}">{{ hub.name }}</a></li>
          {% endfor%}
        </ul>
        {% endif %}

        {% if hub_request_list %}
        <h3 class="sidebar__heading">Ignite Community Requests</h3>
        <ul class="sidebar__list sidebar__list--bullets">
          {% for hub_request in hub_request_list %}
          <li class="sidebar__list__item">{{ hub_request }}</li>
          {% endfor%}
        </ul>
        {% endif %}

        <p><a class="button secondary expand" href="{{ object.get_contact_url }}">CONTACT MEMBER</a></p>

        {% snippet "globalcityteams-sidebar" "globalcityteams/snippets/sidebar.html" %}

        {% endblock sidebar %}

      </div>
    </div>
  </aside>

</div>

{% endblock content %}
