{% extends "base.html" %}

{% block title %}Profile for {{ object.full_name }} - {{ block.super }}{% endblock title %}

{% block content %}
<h1>{{ object.full_name }}</h1>

<ul>
  <li>Member since: {{ object.created }}</li>
  <li><a href="{{ object.get_contact_url }}">Contact this member</a></li>
  {% if request.user == object.user %}
  <li><a href="{% url 'user_profile' %}">Edit user profile</a></li>
  {% endif %}
</ul>


{% if object.website %}
<p><a href="{{ object.website }}" rel="external">Website</a></p>
{% endif %}

<p>
  <img src="{{ object.get_gravatar_url }}" alt="Avatar" />
</p>

{% if object.bio %}
<h2>Bio:</h2>
<p>
  {{ object.bio }}
</p>
{% endif %}

{% if award_list %}
<h2>Awards</h2>
<ul>
  {% for award in award_list %}
  <li>{{ award.award.name }}</li>
  {% endfor%}
</ul>
{% endif %}


{% with object.profilelink_set.all as link_list %}
{% if link_list %}
<h3>Other URLS:</h3>
<ul>
  {% for link in link_list %}
  <li><a href="{{ link.url }}" rel="external">{{ link.name }}</a></li>
  {% endfor%}
</ul>
{% endif %}
{% endwith %}

{% if application_list %}
<h3>Applications</h3>
<ul>
  {% for app in application_list %}
  <li><a href="{{ app.get_absolute_url }}">{{ app.name }} {% if not app.is_public %}({{ app.get_status_display }}){% endif %}</a></li>
  {% endfor%}
</ul>
{% endif %}

{% if event_list %}
<h3>Events</h3>
<ul>
  {% for event in event_list %}
  <li><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>
  {% endfor%}
</ul>
{% endif %}

{% if resource_list %}
<h3>Resources</h3>
<ul>
  {% for resource in resource_list %}
  <li><a href="{{ resource.get_absolute_url }}">{{ resource.name }}</a></li>
  {% endfor%}
</ul>
{% endif %}

{% if hub_list %}
<h3>Ignite Communities (Guardian)</h3>
<ul>
  {% for hub in hub_list %}
  <li><a href="{{ hub.get_absolute_url }}">{{ hub.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if hub_membership_list %}
<h3>Ignite Communities (Member)</h3>
<ul>
  {% for membership in hub_membership_list %}
  <li><a href="{{ membership.hub.get_absolute_url }}">{{ membership.hub }}</a></li>
  {% endfor%}
</ul>
{% endif %}

{% if hub_request_list %}
<h3>Ignite Community Requests</h3>
<ul>
  {% for hub_request in hub_request_list %}
  <li>{{ hub_request }}</li>
  {% endfor%}
</ul>
{% endif %}

{% if organization_list %}
<h3>Organizations</h3>
<ul>
  {% for organization in organization_list %}
  <li><a href="{{ organization.organization.get_absolute_url }}">{{ organization.organization.name }}</a></li>
  {% endfor%}
</ul>

{% endif %}


{% endblock content %}
