{% extends "base.html" %}

{% block title %}Version of application: {{ object.name }} - {{ block.super }}{% endblock title %}

{% block content %}
<h1>{{ object.name }} {% if object.is_draft %}(Draft){% endif %}</h1>

{% if object.image  %}
<img src="{{ object.image.url }}" alt="" title="{{ object.name }}"/>
{% endif %}

<ul>
  <li><a href="{{ app.get_absolute_url }}">View current application</a>.</li>
  <li>Stage: {{ object.get_stage_display }}</li>
  {% if object.website %}<li>Website: {{ object.website }}</li>{% endif %}
  <li>Versioned on {{ object.created }}</li>
  <li>Created by {% include "includes/display_name.html" with user=app.owner %}</li>
</ul>

<h2>Summary</h2>
<p>
  {{ object.summary }}
</p>

{% if object.impact_statement %}
<h2>Impact statement</h2>
<p>
  {{ object.impact_statement }}
</p>
{% endif %}

<h2>Description</h2>
{{ object.description|linebreaks }}

{% if object.roadmap %}
<h2>Roadmap</h2>
{{ object.roadmap }}
{% endif %}

{% if object.team_description %}
<h2>Team description</h2>
{{ object.team_description }}
{% endif %}

{% if object.acknowledgments %}
<h2>Acknowledgements</h2>
<p>{{ object.acknowledgments }}</p>
{% endif %}

{% if version_list %}
<h2>Other versions</h2>
<ul>
  {% for version in version_list %}
  <li><a href="{{ version.get_absolute_url }}">{{ version.name }}</a> created on {{ version.created }}</li>
  {% endfor%}
</ul>
{% endif %}

{% endblock content %}
