{% extends "registration/base.html" %}

{% block title %}Add app - {{ block.super }}{% endblock title %}

{% block section_title %}
Add an App
{% endblock section_title %}

{% block section %}
<p>
  Please fill out the form below to have your application added to our searchable database. Once you have submitted your application and it has been approved, it will be included on our Apps Project page.
</p>
<p>
  If you need to make changes to your application description it can be accessed via your user profile.
</p>
<form method="post" action="{% url "app_add" %}" enctype="multipart/form-data">
{% include "apps/object_form.html" with form=form %}
<p>
  <button type="submit">CREATE</button>
</p>
</form>
{% endblock section %}

{% block extra_scripts %}
{{ form.media }}
{% endblock extra_scripts %}
