{% extends "base.html" %}

{% block title %}Edit membership to {{ object.name }} - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Edit users membership to {{ object.name }}</h1>
<form method="post" action="{{ object.get_membership_url }}">
  {{ form.as_p }}
  <h2>Existing members:</h2>
  {% for form in formset %}
  <h3>Membership for {{ form.instance.user.profile.display_name }}</h3>
  {{ form.as_p }}
  {% endfor%}
  {{ formset.management_form }}
  <p>{% csrf_token %}<button type="submit">Update membership</button></p>
</form>
{% endblock content %}
