{% extends "base.html" %}

{% block title %}Edit: {{ object.name }} - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Edit: {{ object.name }}</h1>
<form method="post" action="{{ object.get_edit_url }}">
{% include "apps/object_form.html" with form=form %}
<h2>URLs of your app.</h2>
<p>Add any relevant URLS where the progress of this app can be shown.</p>
{% include "apps/object_form_links.html" with formset=formset %}
<p>
  <button type="submit">Update</button>
</p>
</form>
{% endblock content %}
