.back-btn {
   
}

.back-btn__arrow {
	display: inline-block;
	margin-right: 5px;
}

.back-btn__link {
	&:link,
	&:visited {
	  color: #939393;
	  font-size: 0.875em;
	}
}

@media #{$small-up} {
	.button {
	  font-size: rem-calc(24);
	  font-weight: 600 !important;

	}

	.homepage-grid__button{
	  font-size: 0.8em;
	}

	.banner_button {
		display: block;
		margin-top: 15px;
		padding-top: rem-calc(17) !important;
		padding-bottom: rem-calc(17) !important;
	}

}

@media #{$medium-up} {
	.button {
	  font-size: rem-calc(20);
	}

	.banner_button {
		display: inline-block;
		float: right;
		margin-top: 0;
	}

}

@media #{$large-up} {
	.button {
	  font-size: 17px;
	}

	.homepage-grid__button{
	  font-size: rem-calc(22);
	}
}

.newsletter__column .button {
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
}