.footer {
  background-color: $dark-color;
  padding:2rem 0;

  .row {
    padding:2rem 0;
  }

  .footer__intro {
    padding:0;
  }

  a:link,
  a:visited {
    font-size: 1.15rem;
    color:#636363;
  }

  .socialicon {
    color: #282828;
    padding-top: 3px;
    &:hover {
      text-decoration: none;
    }
    text-align: center;
    span {
      color: #282828;
    }
  }
}

.footer__heading {
  color:#636363;
  font-weight: $font-weight-bold;
}

.footer-col--strong {
  font-weight: $font-weight-bold;
}

.footer__outro {
  text-align: center;
}

.main-carousel {
  min-height: 50px;
  position: relative; 
  margin: 0 auto 0 auto;

}

@media only screen and (min-width:48.063em) {

  .main-carousel {
    min-height: 30px;
  }

}