

@media only screen {
  	ul, ol, dl, blockquote {
   		font-size: 1.5rem;
   	}
}

@media only screen and (min-width:40.0625rem) {
  	ul, ol, dl, blockquote {
    	font-size: 1.25rem; 
	} 
}

@media only screen and (min-width:48.0625rem) {
  	ul, ol, dl, blockquote {
    	font-size: 1.375rem; 
	} 
}


h3 {
	font-size: 1.5625rem;
}


