.socialicon {
	padding:4px;
	background-color: #fff;
	border-radius: 24px;
	width: 24px;
	height: 24px;

	&.dark {
		background-color: #696969;
	}
}

[class*="socialicon-"] {
	display: inline-block;
	position: relative;
	top: -4px;
	width: 16px;
	height: 16px;
	background-image: url(../img/icons/social.svg);
	background-repeat: no-repeat;

	.dark & {
		// background-image: url(../img/icons/social-light.svg);
	}

}
.socialicon-google-plus {
	background-position: 0 0;
	width: 16px;
}
.socialicon-twitter {
	background-position: -32px 0;
	width: 16px;
}
.socialicon-facebook {
	background-position: -64px 0;
	width: 16px;
}
.socialicon-youtube {
	background-position: -96px 0;
	width: 16px;
}
.socialicon-feed {
	background-position: -128px 0;
	width: 16px;
}
.socialicon-vimeo {
	background-position: -160px 0;
	width: 16px;
}
