.socialicon {
	padding: 4px 2px 2px 2px;
	background-color: #fff;
	border-radius: 24px;
	width: 24px;
	height: 24px;

	&.dark {
		background-color: #696969;
	}
}

/*
[class*="socialicon-"] {
	display: inline-block;
	position: relative;
	top: -3px;
	width: 16px;
	height: 16px;
	background-image: url(../img/icons/social.svg);
	background-repeat: no-repeat;

	.dark & {
		// background-image: url(../img/icons/social-light.svg);
	}

	.no-svg & {
		background-image: url(../img/icons/social.png);
	}

}

.quicklinks__list li {
	font-size: 1.125rem;
}


.socialicon-google-plus {
	background-position: 0 0;
	width: 16px;
}
.socialicon-twitter {
	background-position: -32px 0;
	width: 16px;
}
.socialicon-facebook {
	background-position: -64px 0;
	width: 16px;
}
.socialicon-youtube {
	background-position: -96px 0;
	width: 16px;
}
.socialicon-feed {
	background-position: -128px 0;
	width: 16px;
}
.socialicon-vimeo {
	background-position: -160px 0;
	width: 16px;
}
*/

.app__stage {
  width: 20%;
  padding-top: 45px;
  background-position: top center;
  background-repeat: no-repeat;
  float: left;
}

.app__stage__label {
  font-size: rem-calc(11);
  display: block;
  text-align: center;
}

.app__stage--passed {
  background-image: url(../img/icons/stage-full.png);
}

.app__stage--active {
  background-image: url(../img/icons/stage-active.png);
}

.app__stage--innactive {
  background-image: url(../img/icons/stage-innactive.png);
}

.sidebar-social {
	padding-left: 15px;
	margin-bottom: 30px;
}

.sidebar-social a  {
	color: #707070;
	display: inline-block;
	margin-right: 15px;
	font-size: 28px;
}

.sidebar-social a:hover {
	color: rgb(38, 198, 231);
	text-decoration: none;

}


.quicklinks__list .socialicon {
	text-align: center;
	line-height: 0;
	font-size: rem-calc(24);
}

.quicklinks__list .socialicon.facebook{
	color: #024687;
}

.quicklinks__list .socialicon.twitter{
	color: #3098d5;
}

.quicklinks__list .socialicon.google-plus{
	color: #cf4900;
}

.quicklinks__list .socialicon.youtube{
	color: red;
}