.profile {
	
}

.profile__avatar {
	width:276px;
}

.profile__quote {
	margin: 0;
	padding: 24px 24px 24px 24px;
	border: 0;
	font-size: 1.750rem;
	color: #fff;
	position: relative;

	&:before,
	&:after {
		content: '“';
		display: block;
		position: absolute;
		top:-37px;
		left:-20px;
		font-size: 5rem;
	}

	&:after {
		content: '”';
		top:auto;
		left:auto;
		bottom:-65px;
		right:8px;
	}
}