.sidebar {
  .sidebar__list {
    margin-left: -12px;

    &.sidebar__list--bullets {
      margin-left: 15px;
    }
  }

  .twitter-timeline {
    margin-top: 25px;
  }
}

.sidebar__heading {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: $font-weight-bold;
  margin-top:25px;
  padding-bottom:20px;
  border-bottom: 1px solid #ccc;
}

.sidebar__list__item {
  clear:both;
}

.sidebar__list__link {
  display:block;
  position: relative;
  padding:8px 12px;
  color: $dark-color;
  font-weight: $font-weight-bold;
  font-size: 16px;

  &:hover {
    background: #fff;
    color: $secondary-color;
  }
}

.sidebar__list--chevrons {
  margin-left: 0;
  padding: 12px;

  .sidebar__list__link {
    border-bottom: 1px solid #ccc;

    &:hover {
      background: none;
    }
  }

  .sidebar__list__link--active {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top:0;
      right:-38px;

      border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; 
        
        border-right:20px solid #fff; 
    }
  }
}

.sidebar__list__shares {
  display:block;
  padding-left:20px;
  background: transparent url(../img/icons/share.png) left center no-repeat;
  color: $dark-color;
  font-size:0.875em;
  font-weight:$font-weight-normal;
}

.sidebar__list__image {
  display: inline-block;
  vertical-align: top;
  margin:4px 17px 0 0;
  width: 51px;
  height: 51px;
}

.sidebar__list__desc {
  display: inline-block;
}

.sidebar__list__highlight {
  display: block;
  color: $secondary-color;
}

.sidebar__advert {
  display:block;
  width: 100%;
  margin:45px auto 20px;
}