{% extends "registration/base.html" %}

{% block title %}Edit profile - {{ block.super }}{% endblock title %}

{% block section_title %}
Profile
{% endblock section_title %}

{% block section %}

<ul class="inline-list">
  {% if request.user.has_usable_password %}
  <li><a href="{% url 'password_change' %}">Password change</a></li>
  {% endif %}
  <li><a href="{{ request.user.profile.get_absolute_url }}">View my profile</a></li>
</ul>

<form method="post" action="{% url 'user_profile' %}">
  {% include "includes/form.html" with form=form %}
  <h2>Extra URLs</h2>
  {{ formset.as_p }}
  <p>
    {% csrf_token %}
    <button type="submit">Update</button>
  </p>
</form>

<h2>Cancel account</h2>
<ul>
  <li><a href="{{ object.get_delete_url }}">Remove account</a></li>
</ul>

{% endblock section %}

{% block extra_scripts %}{{ form.media }}{% endblock extra_scripts %}
