{% extends "base.html" %}

{% block title %}Edit profile - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Profile</h1>

<ul>
  {% if request.user.has_usable_password %}
  <li><a href="{% url 'password_change' %}">Password change</a></li>
  {% endif %}
  <li><a href="{{ request.user.profile.get_absolute_url }}">View my profile</a></li>
</ul>

<form method="post" action="{% url 'user_profile' %}">
  {{ form.as_p }}

  {{ formset.as_p }}

  <p>
    {% csrf_token %}
    <button type="submit">Update</button>
  </p>
</form>

<h2>Cancel account</h2>
<ul>
  <li><a href="{{ object.get_delete_url }}">Remove account</a></li>
</ul>


{% endblock content %}
