{% extends "includes/lists/object_list_base.html" %}

{% block title %}Organizations list - {{ block.super }}{% endblock title %}

{% block page_title %}Organizations{% endblock page_title %}

{% block top_panel %}
<div class="row panel">
  <div class="small-12 columns">
    <h2>Get to Know these Forward-Looking Organizations. </h2>
    <p>
      Browse through these forward-looking organizations that are using next-generation technologies to transform everything from healthcare to education. Be sure to click on their profiles to learn more about their work and how you can get involved. 
    </p>
  </div>
</div>
{% endblock top_panel %}

{% block add_to_list %}
{% endblock add_to_list %}

{% block tags %}
{% endblock tags %}
