{% extends "includes/lists/object_detail_base.html" %}{% load apps_urls thumbnail common_markdown %}

{% block title %}Organization {{ object.name }} - {{ block.super }}{% endblock title %}

{% block tag_list %}
{% include "includes/tag_list.html" with tag_list=object.tags.all tag_type="search_organizations" %}
{% endblock tag_list %}


{% block intro %}
  {% if is_member %}
  <ul>
    <li><a href="{{ object.get_edit_url }}">Edit Organization</a></li>
  </ul>
  {% endif %}
{% endblock intro %}


{% block detail_extras %}
{% if object.bio %}
<h2>Bio</h2>
{{ object.bio|linebreaks}}
{% endif %}

{% if member_list %}
<h2>Members</h2>
<ul>
  {% for member in member_list %}
  <li>{% include "includes/display_name.html" with user=object.owner %}</li>
  {% endfor%}
</ul>
{% endif %}


{% endblock detail_extras %}
