<p>Hi there,</p>

<p>Thank you so much for creating an account on us-ignite.org. You’ll find it’s a great way to get involved in the next-gen community, learn about upcoming events, and discover transformative next-generation apps currently being built and deployed!</p>

<p>Here are a few resources to help get you started.</p>

<p>Technologies: Interested in learning more about next-generation technologies like local cloud, software-defined networks (SDN), and gigabit to end-users start <a href="https://us-ignite.org/about/technologies/">here</a>.</p>
<p>Communities: Join or start a <a href="https://us-ignite.org/hub/">community</a> around a topic of interest. </p>
<p>Applications:  Learn more about <a href="https://us-ignite.org/apps/">next-generation applications</a> and how they are transforming how we live, work, learn and play.</p>

<p>Again welcome to our community!  If you have any questions, problems, or concerns please feel free to contact Jennifer Mott at <a href="mailto:jennifer.mott@us-ignite.org">jennifer.mott@us-ignite.org</a>.</p>

<p>P.S. We wouldn’t want you to miss out on any updates or news from US Ignite, so be sure to add <a href="mailto:info@us-ingnite.org">info@us-ingnite.org</a> to your address book.</p>

<p>Cheers,<br>
The US Ignite Team
</p>
