{% extends "registration/base.html" %}

{% block title %}Submit Resource - {{ block.super }}{% endblock title %}

{% block section_title %}
Submit Resource
{% endblock section_title %}

{% block section %}
<p>
  Please fill out the form below to include your resource in our searchable database. Once you have submitted your application and it has been approved, it will be available in our resource library. If you can manage all your submitted resources via your user profile page.
</p>
<form method="post" action="{% url 'resource_add' %}" enctype="multipart/form-data">
  {% include "resources/object_form.html" with form=form %}
  <p>
    <button type="submit">SUBMIT</button>
    {% csrf_token %}
  </p>
</form>
{% endblock section %}
