{% extends "includes/lists/object_detail_base.html" %}{% load apps_urls thumbnail common_markdown %}

{% block title %}Resource: {{ object.name }} - {{ block.super }}{% endblock title %}

{% block tag_list %}
  {% include "includes/tag_list.html" with tag_type="search_resources" tag_list=object.tags.all %}
{% endblock tag_list %}

{% block content_media %}
<ul data-orbit>
  {% if object.image %}
  <li>
    <a target="_blank" href="{{ object.get_resource_url }}">
      <img src="{% thumbnail object.image 500x500 %}" alt="" title="{{ object.name }}"/>
    </a>
  </li>
  {% endif %}

  {% if media_list %}
  {% for media in media_list %}
  {% include "apps/includes/media.html" with object=media %}
  {% endfor%}
  {% endif %}
</ul>
{% endblock content_media %}

{% block detail_content %}
<!-- description -->
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      <h2>Description</h2>
      <p>{{ object.description|markdown }}</p>
    </div>
  </div>
</div>
<!-- /description -->

<!-- extras -->
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">

      {% if object.asset %}
      <p><a href="{{ object.asset.url }}" class="button" target="_blank">Download Asset</a></p>
      {% endif %}

      {% if object.url %}
      <h2>URL</h2>
      <p><a href="{{ object.url }}" target="_blank">{{ object.url }}</a></p>
      {% endif %}

      <h2>Resource type</h2>
      <p>{{ object.resource_type }}</p>

      <h2>Sector</h2>
      <p>{{ object.sector }}</p>
    </div>
  </div>
</div>
<!-- /extras -->

<!-- author -->
<div class="listings__listing">
  <div class="row">
    <div class="small-12 columns">
      <h2>Author</h2>
      <p>{{ object.author|linebreaksbr }}</p>
    </div>
  </div>
</div>
<!-- /author -->

{% endblock %}

{% block sidebar_content %}

{% if is_owner %}
<h3 class="sidebar__heading">RESOURCE ADMIN</h3>
<ul class="no-bullet sidebar__list">
  <li class="sidebar__list__item">
    <a href="{{ object.get_edit_url }}" class="sidebar__list__link row collapse">Edit resource</a>
  </li>
</ul>
{% endif %}

{% include "includes/sidebar/contact.html" with contact=object.contact %}

{% endblock sidebar_content %}
