{% extends "base.html" %}

{% block title %}Resource: {{ object.name}} - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Resource: {{ object.name }}</h1>
<p>{{ object.description }}</p>
<ul>
  <li>Added on {{ object.created }}</li>
  {% if is_owner %}<li><a href="{{ object.get_edit_url }}">Edit resource</a></li>{% endif %}
  <li><a href="{{ object.get_resource_url }}">View resource</a></li>
</ul>

<h2>Tags</h2>
{% with object.tags.all as tag_list %}
{% if tag_list %}
<ul>
  {% for tag in tag_list %}
  <li><a href="{% url 'search_resources' %}?tag={{ tag|urlencode }}">{{ tag }}</a></li>
  {% endfor%}
</ul>
{% else %}
<p>Resource hasn't been tagged.</p>
{% endif %}
{% endwith %}

{% endblock content %}
