{% extends "includes/lists/object_list_base.html" %}

{% block title %}Resources - {{ block.super }}{% endblock title %}

{% block page_title %}Resources{% endblock page_title %}

{% block top_panel %}
<div class="row panel">
  <div class="small-12 columns">
    <h2>Browse our Resource Library</h2>
    <p>
      Looking for resources on next-generation technologies? If so, you’ve come
      to the right place! Take some time and browse these top-notch presentations,
      articles, white papers, community fiber plans and more. We also strongly
      encourage you to add your own resources to the library so they can be
      shared with our entire community!
    </p>
  </div>
</div>
<div class="row newsletter newsletter--primary">
  <div class="small-12 medium-8 columns newsletter__column">
    <h4 class="newsletter__heading"><strong>GOT A GREAT IDEA FOR A RESOURCE?</strong> TELL US ABOUT IT...</h4>
  </div>
  <div class="small-12 medium-4 columns newsletter__column">
    <a href="{% url 'resource_add' %}" class="button alert postfix">SUBMIT YOUR RESOURCE</a>{% csrf_token %}
  </div>
</div>
{% endblock top_panel %}

{% block domain_list %}
{% include "includes/domain_list.html" with domain_all_link='resource_list' domain_link='resource_list_domain' %}
{% endblock domain_list %}

{% block tags %}{% endblock tags %}
