{% extends "base.html" %}{% load apps_urls thumbnail common_markdown news_tags %}

{% block title %}Application {{ object.name }} - {{ block.super }}{% endblock title %}

{% block content %}
<div class="row collapse">
  <div class="small-12 columns">

    <div class="row">
      <div class="small-12 columns">
        <h2 class="page-title">
          {% block content_title %}{{ object.name }} {% if object.is_draft %}(Draft){% endif %}{% endblock content_title %}
        </h2>
        <span class="listings__listing__tags">
          {% block tag_list %}{% endblock %}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row collapse l-listings space-top" data-equalizer>
  <article class="large-8 medium-9 columns listings" data-equalizer-watch>

    <ul data-orbit>
      {% if object.image %}
      <li><img src="{% thumbnail object.image 500x0 %}" alt="" title="{{ object.name }}"/></li>
      {% endif %}

      {% if media_list %}
      {% for media in media_list %}
        {% include "apps/includes/media.html" with object=media %}
      {% endfor%}
      {% endif %}
    </ul>

    {% block detail_content %}
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">

          <ul class="no-bullet">
            {% block intro %}
            {% endblock intro %}
          </ul>
        </div>
      </div>
    </div>
    {% endblock detail_content %}

    {% if object.description or object.venue or object.roadmap %}
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">

          {% if object.description %}
          <h2>Description</h2>
          <p>{{ object.description|markdown }}</p>
          {% endif %}

          {% if object.venue %}
          <h2>Venue</h2>
          <p>{{ object.venue }}</p>
          {% endif %}

          {% if object.roadmap %}
          <h2>Roadmap</h2>
          <p>{{ object.roadmap }}</p>
          {% endif %}

        </div>
      </div>
    </div>
    {% endif %}

    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          {% if object.contact %}
          <h2>Contact Details</h2>
          <p>
            {{ object.contact|linebreaksbr }}
          </p>
          {% endif %}
          {% block detail_extras %}{% endblock detail_extras %}
        </div>
      </div>
    </div>

    {% block related %}
    {% endblock related %}

    <!-- Need related content array, to use like the below -->
    <div class="row">
    {% for object in related_list %}
      <div class="columns small-12 medium-4 large-3{% if forloop.last %} end{% endif %}">
        {% include "apps/object_block.html" with object=object %}
      </div>
    {% endfor%}
    </div>
    <!-- /related content -->

  </article>

  {% block sidebar %}
  <aside class="large-4 medium-3 columns sidebar show-for-medium-up">
    <div class="row">
      <div class="large-12 columns" data-equalizer-watch>

        {% block sidebar_content %}
        {% include "includes/lists/sidebar.html" %}
        {% endblock sidebar_content %}

        {# Default sidebar content #}

        <h3 class="sidebar__heading">US Ignite News</h3>
        {% latest_articles "blog/news_list.html" %}

        <h3 class="sidebar__heading">Subscribe & Follow</h3>
        {% include "mailinglist/sidebar.html" %}
      </div>
    </div>
  </aside>
  {% endblock sidebar %}
</div>

{% endblock content %}
