{% extends "base.html" %}

{% block content %}
<div class="row collapse">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="page-title">{% block page_title %}Applications{% endblock page_title %}</h2>
      </div>
    </div>
  </div>
</div>

{% block featured %}
  {% if featured_list %}
    <div class="row collapse">
      <div class="small-12 columns">
        <div class="row listing-featured">
          {% for featured in featured_list %}
          {% include "includes/lists/object_block_featured.html" with object=featured last=forloop.last %}
          {% endfor%}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

<div class="row collapse">
  <div class="small-12 columns">
    {% block top_panel %}
    <div class="row panel">
      <div class="small-12 columns">
        <h2>Lorem Ipsum isn't it wonderful</h2>
        <p>Ipsum dolor sit amet, consectetur adipiscing elit. Cras nulla turpis, interdum ac mi et, volutpat semper est. Nulla imperdiet turpis ac massa ornare pulvinar. Maecenas vulputate ligula sollicitudin orci ultricies sollicitudin. Sed euismod enim sit amet auctor elementum. Aenean et eros quis leo elementum tristique ut eu justo. Nullam ante enim, dapibus ut lectus fringilla, facilisis placerat elit. Vestibulum id congue lacus, sit amet molestie tellus. Nam eget erat facilisis.</p>
      </div>
    </div>
    {% endblock top_panel %}

    {% block tags %}
    <div class="row domains pad-top-20">
      <div class="small-12 medium-2 columns">
        <h5>CATEGORIES</h5>
      </div>
      <div class="small-12 medium-7 columns">
        <ul class="inline-list">
          {% block domain_list %}
          {% include "includes/domain_list.html" with domain_all_link='app_list' domain_link='app_list_domain' %}
          {% endblock domain_list %}
        </ul>
      </div>
      <div class="small-12 medium-3 columns">
        {% include "includes/order_form.html" %}
      </div>
    </div>
    {% endblock tags %}

    {# include "includes/order_form.html" #}

    {% block object_list %}
    <div class="row">
    {% if page.object_list_top %}
    {% for object in page.object_list_top %}
      <div class="columns large-3{% if forloop.last %} end{% endif %}">
        {% include "includes/lists/object_block_base.html" with object=object %}
      </div>
    {% endfor%}
    {% else %}
      <div class="columns small-12">
        <p class="subheader">No results found.</p>
      </div>
    {% endif %}
    </div>
    {% endblock object_list %}

    {% block add_to_list %}
    <!-- Signup section -->
    <!-- Only putting this here to demonstrate how it is designed to go inbetween the first set of 8 posts above -->
    <div class="row newsletter newsletter--primary">
      <form method="post" action="{% url 'mailing_subscribe' %}">
      <div class="small-12 medium-8 columns newsletter__column">
        <h4 class="newsletter__heading"><strong>GOT A GREAT IDEA FOR AN APPLICATION?</strong> TELL US ABOUT IT...</h4>
      </div>

      <div class="small-12 medium-4 columns newsletter__column">
        <a href="{% url 'app_add' %}" class="button alert postfix">SUBMIT YOUR IDEA</a>{% csrf_token %}
      </div>
      </form>
    </div>
    <!-- /signup -->
    {% endblock add_to_list %}
      
    <!-- dummy repeat of posts to show it might look with more data -->
    <div class="row">
    {% for object in page.object_list_bottom %}
      <div class="columns large-3{% if forloop.last %} end{% endif %}">
        {% include "apps/object_block.html" with object=object %}
      </div>
    {% endfor%}
    </div>

    {% include "includes/pagination.html" %}

  </div>
</div>


{% endblock content %}
