{% extends "base.html" %}{% load apps_urls thumbnail common_markdown %}

{% block title %}Application {{ object.name }} - {{ block.super }}{% endblock title %}

{% block content %}

<div class="row collapse">
  <div class="small-12 columns">

    <div class="row">
      <div class="small-12 columns">
        <h2 class="page-title">{{ object.name }} {% if object.is_draft %}(Draft){% endif %}</h2>

        <span class="listings__listing__tags">
          {% block tag_list %}{% endblock %}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row collapse l-listings space-top" data-equalizer>
  <article class="large-8 columns listings" data-equalizer-watch>

    <ul data-orbit>
      {% if object.image  %}
      <li><img src="{% thumbnail object.image 500x0 %}" alt="" title="{{ object.name }}"/></li>
      {% endif %}

      {% if media_list %}
      {% for media in media_list %}
        {% include "apps/includes/media.html" with object=media %}
      {% endfor%}
      {% endif %}
    </ul>
    
    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">

          <ul>
            {% block intro %}
              <li>Stage: {{ object.get_stage_display }}</li>
              {% if object.website %}<li>Website: <a href="{{ object.website }}">{{ object.website }}</a></li>{% endif %}
              {% if can_edit %}<li><a href="{{ object.get_edit_url }}">Edit app</a></li>{% endif %}
              {% if is_owner %}
              <li><a href="{{ object.get_membership_url }}">Edit members</a></li>
              <li><a href="{{ object.get_hub_membership_url }}">Edit hubs membership</a></li>
              <li><a href="{{ object.get_export_url }}">Export application</a></li>
              <li>
                <form method="post" action="{{ object.get_version_url }}">
                  {% csrf_token %}
                  <button type="submit">Create version</button>
                </form>
              </li>
              {% endif %}
            {% endblock intro %}
          </ul>
        </div>
      </div>
    </div>

    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          <h2>Summary</h2>
          <p>
            {{ object.summary }}
          </p>
        </div>
      </div>
    </div>


    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">
          {% if object.impact_statement %}
          <h2>Impact statement</h2>
          <p>
            {{ object.impact_statement }}
          </p>
          {% endif %}

          {% if object.domain %}
          <div class="row domains">
            <div class="small-12 medium-1 columns">
              <h5>TAG</h5>
            </div>
            <div class="small-12 medium-11 columns">
              <ul class="inline-list">
                <li><a href="{% url 'app_list' %}" class="domains__link domains__link--active"><span class="domains__icon--{{ domain.slug }}"></span> {{ object.domain.name }}</a></li>
              </ul>
            </div>
          </div>
          {% endif %}

          {% if feature_list %}
          <h2>Features</h2>
          <ul>
            {% for feature in feature_list %}
            <li>{{ feature.name }}</li>
            {% endfor%}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">

          <h2>Description</h2>
          <p>{{ object.description|markdown }}</p>

          {% if object.venue %}
          <h2>Venue</h2>
          <p>{{ object.venue }}</p>
          {% endif %}

          {% if object.roadmap %}
          <h2>Roadmap</h2>
          <p>{{ object.roadmap }}</p>
          {% endif %}

        </div>
      </div>
    </div>

    <div class="listings__listing">
      <div class="row">
        <div class="small-12 columns">

          {% if object.assistance %}
          <h2>The project needs assistance</h2>
          <p>{{ object.assistance }}</p>
          {% endif %}

          {% if object.acknowledgments %}
          <h2>Acknowledgements</h2>
          <p>{{ object.acknowledgments }}</p>
          {% endif %}

          {% if url_list %}
          <h2>Also available in</h2>
          {% for url in url_list %}
          <div class="">
            <a href="{{ url.url }}">{{ url.name }}</a>
            {{ url.url|render_as_widget }}
          </div>
          {% endfor%}
          </ul>
          {% endif %}


          {% if object.contact %}
          <h2>Contact Details</h2>
          <p>
            {{ object.contact|linebreaksbr }}
          </p>
          {% endif %}

          {% if version_list %}
          <h2>Previous versions</h2>
          <ul>
            {% for version in version_list %}
            <li><a href="{{ version.get_absolute_url }}">{{ version.name }}</a> created on {{ version.created }}</li>
            {% endfor%}
          </ul>
          {% endif %}

          {% if award_list %}
          <h2>Awards</h2>
          <ul>
            {% for award in award_list %}
            <li>{{ award }}</li>
            {% endfor%}
          </ul>
          {% endif %}

          {% if hub_list %}
          <h2>Ignite communities</h2>
          <ul>
            {% for hub in hub_list %}
            <li><a href="{{ hub.get_absolute_url }}">{{ hub.name }}</a></li>
            {% endfor%}
          </ul>
          {% endif %}

        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h4 class="listings__listing__heading listings__listing__heading--plain">RELATED CONTENT</h4>
      </div>
    </div>

    <!-- Need related content array, to use like the below -->
    <div class="row">
    {% for object in page.object_list %}
      <div class="columns small-12 medium-4 large-3{% if forloop.last %} end{% endif %}">
        {% include "apps/object_block.html" with object=object %}
      </div>
    {% endfor%}
    </div>
    <!-- /related content -->

  </article>

  {# Sidebar for all the areas of the blog #}
  {% block sidebar %}
    {% include "includes/lists/sidebar.html" %}
  {% endblock sidebar %}
</div>

{% endblock content %}
