<a class="row collapse featured featured--fixed-height featured__link" href="{{ object.get_absolute_url }}" title="{{ object.name }}">
  <div class="featured__image-container hide-on-hover show-for-medium-up medium-4 large-12 columns">
    {% load thumbnail %}
    {% if object.image %}
    <img src="{% thumbnail object.image 216x119 crop %}" alt="{{ object.name }}" class="featured__image" />
    {% else %}
    <img src="{{ STATIC_URL }}img/project-default.png" alt="{{ object.name }}" class="featured__image">
    {% endif %}
    {% if object.domain %}
    <span class="domains__icon--{{ object.domain.slug }} domains__icon--absolute-bottom-right"></span>
    {% endif %}
  </div>

  <div class="small-10 medium-8 large-12 columns">
    <h4 class="featured__title">{{ object.name }}</h4>
    {% if not hide_tags %}
    {% with object.tags.all as tag_list %}
    {% if tag_list %}
    <p class="featured__tags">
      {% for tag in tag_list %}{{ tag|upper }}{% if not forloop.last %},{% endif%} {% endfor%}
    </p>
    {% endif %}
    {% endwith %}
    {% endif %}

    <p class="featured__desc show-only-on-hover">{% block object_detail %}{{ object.get_summary }}{% endblock object_detail %}</p>
    <div class="alert button small show-only-on-hover featured__cta">VIEW DETAILS</div>
  </div>

  <div class="small-1 small-offset-1 show-for-small-only columns block-arrow-right"></div>

</a>
