<aside class="large-4 medium-3 columns sidebar show-for-medium-up">{% load snippets_tags news_tags common_markdown %}
  <div class="row">
    <div class="large-12 columns" data-equalizer-watch>
      
      <h3 class="sidebar__heading">CONTACT</h3>

      <ul class="no-bullet sidebar__list">
        <li class="sidebar__list__item">
          {% include "includes/display_name_with_avatar.html" with user=object.owner %}       
        </li>
      </ul>

      
      {% if object.team_description %}
      <h3 class="sidebar__heading">ABOUT THE TEAM</h3>
      <p class="sidebar__copy">{{ object.team_description|markdown }}</p>
      {% endif %}

      {% if object.summary %}
      <h3 class="sidebar__heading">DESCRIPTION</h3>
      <p class="sidebar__copy">
        {{ object.summary }}
      </p>
      {% endif %}

      {% if not is_member and not is_owner %}
      <form method="post" action="{{ object.get_membership_url }}">
        {% csrf_token %}<button type="submit" class="newsletter__submit button alert postfix">SUBSCRIBE TO THIS COMMUNITY</button>
      </form>
      {% endif %}

      {% if member_list %}
      <h3 class="sidebar__heading">SUPPORTERS</h3>
      <ul class="no-bullet sidebar__list">
        {% for member in member_list %}
        <li class="sidebar__list__item">
          {% include "includes/display_name_with_avatar.html" with user=member %}
        </li>
        {% endfor%}
      </ul>
      {% endif %}
      {% if object.owner %}
      <p><a class="button secondary expand" href="{{ object.owner.profile.get_contact_url }}">CONTACT TO LEARN MORE</a></p>
      {% endif %}

      <h3 class="sidebar__heading">US Ignite News</h3>
      {% latest_articles "blog/news_list.html" %}

      <h3 class="sidebar__heading">Subscribe & Follow</h3>
      {% include "mailinglist/sidebar.html" %}

    </div>
  </div>
</aside>
