{% extends "registration/base.html" %}

{% block title %}Contact {{ object.display_name }} - {{ block.super }}{% endblock title %}

{% block section_title %}
Contact user: {{ object.display_name }}
{% endblock section_title %}

{% block section %}
<p>This will form will be sent directly to the user with your account details. The user will be able to reply directly to you.</p>

<form method="post" action="{{ object.get_contact_url }}">
  {{ form.as_p }}
  <p class="clearfix">
    <a href="{{ object.get_absolute_url }}" class="left button secondary alert">Cancel</a>
    <button type="submit" class="right">Contact</button>{% csrf_token %}
  </p>
</form>

{% endblock section %}
