{% extends "base.html" %}{% load snippets_tags thumbnail %}

{% block title %}App Summit 2015 - {{ block.super }}{% endblock title %}

{% block content %}

<style> body { display: none; } </style>


<div class="summit-container">

	<div class="summit-top-bar">
		<ul class="inline-list quicklinks__list right">
			<li class=""><a href="https://www.facebook.com/USIgnite" class="socialicon facebook" target="_blank"><span class="icon-uniE607"></span></a></li>
			<li class=""><a href="https://twitter.com/US_Ignite" class="socialicon twitter" target="_blank"><span class="icon-uniE608"></span></a></li>
			<li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="socialicon google-plus" target="_blank"><span class="icon-googleplus"></span></a></li>
			<li class=""><a href="http://www.youtube.com/user/USIgnite1" class="socialicon youtube" target="_blank"><span class="icon-youtube"></span></a></li>
		</ul>
	</div>
	<!-- end .summit-top-bar -->

	<div class="summit-content">

	</div>
	<!-- end .summit-content -->

</div>
<!-- end .summit-container -->


{% endblock content %}