<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Welcome</title>
<!-- Bootstrap -->
<link href="{{ STATIC_URL }}awt/css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}awt/css/style.css" rel="stylesheet">
<link href="{{ STATIC_URL }}awt/css/custom.css" rel="stylesheet">
<link href="{{ STATIC_URL }}awt/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
<!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}awt/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}awt/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">
    <!-- Left -->
    <div class="left_info">
        <div class="left_info_inn">
            <!-- Logo -->
            <div class="logo">
                <h1>Advanced Wireless<br>Testbed Partnership</h1>
                <i><img src="{{ STATIC_URL }}awt/images/awt_logo.png" alt=""></i>            </div>
            
            <!-- Nav Sec -->
            <div class="nav_sec">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        </button>
                        <div class="navbar-brand">
                            <a href="#">
                            <i><img src="{{ STATIC_URL }}awt/images/awt_logo_small.png" alt=""></i>
                            <h1>Advanced Wireless<br>Testbed Partnership</h1>
                            </a>                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#sec_one">Top</a></li>
                            <li><a href="#sec_two">About</a></li>
                            <li><a href="#sec_tharee">Partners</a></li>
                            <li><a href="#sec_four">Get Involved</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    
<!-- Right -->
    <div class="right_info" id="sec_one">
        <!-- Detail 1 -->
        <div class="detail_1">
            <div class="right_container">
                <a target="_blank" class="default" href="http://usignite.org"><span>US Ignite</span></a> is working with the <a target="_blank" class="default" href="http://nsf.gov"><span>National Science Foundation</span></a> and other public agencies to convene a public-private partnership to advance development of next-generation wireless technologies and services, some of which promise up to 1000x improvements in throughput over current wireless networks. 
            </div>
        </div>
        
        <!-- Detail 2 -->
        <div class="about_main_sec" id="sec_two">
        <div class="detail_2">
            <div class="right_container">
                <h2>What is it?</h2>
                <p>This public-private partnership will offer the benefit of addressing pre-competitive research challenges on at-scale research platforms, increasing education about wireless technologies and data networking, increasing industry-academic cooperative partnerships, and enabling technology commercialization and transfer from academia to industry. Participating companies will benefit by: helping to sustain U.S. industry leadership; shaping design of research platforms; assisting in selection of platform participants; and securing cutting-edge research returns well in excess of initial investment; helping to maintain U.S. industry leadership.</p>

                <h2 style="margin-top: 30px;">How does it work?</h2>
                <p><img src="{{ STATIC_URL }}awt/images/Governance Process.png" /></p>
            </div>
        </div>
        
        <!-- Detail 3 -->
        <div class="detail_3">
        <div class="right_container">
            <h2>TESTBEDS CURRENTLY BEING CONSIDERED FOR THE 2017-2022 PERIOD:</h2>
            
            <!-- Block -->
            <div class="block">
                <i><img src="{{ STATIC_URL }}awt/images/detail_icon_1.png" alt="Testbed A"></i>
                <h3>Testbed A: Mm-Wave</h3>
                <p>Mm-Wave to enable R&D and systems testing at the millimeter-wave bands that are above 26 GHz, with a target of 100 Gbps in data rates for small-cell networks that cover a few city blocks.</p>
            </div>
            
            <!-- Block -->
            <div class="block">
                <i><img src="{{ STATIC_URL }}awt/images/detail_icon_2.png" alt=""></i>
                <h3>Testbed B: Dynamic Spectrum</h3>
                <p>Dynamic Spectrum to focus on the spectral bands that are sub-6GHz, and aim to identify spectral opportunities in existing networks and establish usage models for novel spectrum-driven applications, while also studying co-existence and protection issues.</p>
            </div>
            
            <!-- Block -->
            <div class="block">
                <i><img src="{{ STATIC_URL }}awt/images/detail_icon_3.png" alt=""></i>
                <h3>Testbed C: Architecture</h3>
                <p>Architecture to test data network architectures for next-generation networks that operate with a wireless edge. </p>
            </div>
            
            <!-- Block -->
            <div class="block">
                <i><img src="{{ STATIC_URL }}awt/images/detail_icon_4.png" alt=""></i>
                <h3>Testbed D: Mobility-at-Scale</h3>
                <p>Mobility-at-Scale to address larger issues with network-mobility from the transport to MAC layers, including evaluation of large-scale, dense, heterogeneous wireless networks, including issues such as connection management, load balancing, and mobility management.</p>
            </div>
            
            <!-- Block -->
            <div class="block">
                <i><img src="{{ STATIC_URL }}awt/images/detail_icon_5.png" alt=""></i>
                <h3>Testbed E: Wide-area Whitespace</h3>
                <p>Wide-area Whitespace to utilize novel whitespace-based wireless networks to design, build and demonstrate 1Gbps connectivity to remote locations via long-range wireless mesh connections.</p>
            </div>
            
            <!-- Block -->
            <div class="block">
                <i><img src="{{ STATIC_URL }}awt/images/detail_icon_6.png" alt=""></i>
                <h3>Testbed F: Network Metrology</h3>
                <p>Network Metrology to advance capabilities to measure and monitor wireless network performance and support research on methods to improve the security, reliability and performance of wireless networks.</p>
            </div>
            
            <!-- Block -->
            <div class="block">
                <i><img src="{{ STATIC_URL }}awt/images/detail_icon_7.png" alt=""></i>
                <h3>City-scale Testbed</h3>
                <p>CityNet to serve as an integration platform and application demonstrator for various wireless technologies (5G and beyond). The platform will serve as an example for a Smart and Connected Community network that will serve various scientific communities including Cyber-Physical Systems, Cyber-Security, Internet of Things, Robotics, Smart and Connected Health, and Big Data.</p>
            </div>
        </div>
    </div>
    </div>
        
        <!-- Partner Sec -->
        <div class="partner_sec" id="sec_tharee">
            <div class="right_container">
                <h2>Partners</h2>
                <ul>
                    <li><img src="{{ STATIC_URL }}awt/images/01_NSF.png" alt="NSF"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/02_nokia bell labs.jpg" alt="Nokia Bell Labs"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/03_samsung.png" alt="Samsung"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/04_Keysight.png" alt="Keysight"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/05_juniper.png" alt="Juniper"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/06_interdigital_logo.jpg" alt="Interdigital"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/07_national instruments.png" alt="National Instruments"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/08_qualcomm.png" alt="Qualcomm"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/09_viavi.png" alt="Viavi Solutions"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/10_sprint.png" alt="Sprint"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/11_ctia.jpg" alt="CTIA"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/12_att.png" alt="AT&T"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/13_intel.png" alt="Intel"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/14_verizon.png" alt="Verizon"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/15_tmobile.png" alt="T-Mobile"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/16_htc.png" alt="HTC America"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/17_carlson.png" alt="Carlson Wireless"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/18_ssc.gif" alt="Shared Spectrum"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/19_brocade.png" alt="Brocade"></li>
                    <li><img src="{{ STATIC_URL }}awt/images/20_ruckus.png" alt="Ruckus Wireless"></li>
                </ul>
            </div>
        </div>
        
        <!-- Involed Sec -->
        <div class="involed_sec" id="sec_four">
            <div class="right_container">
                <h3>Get Involved</h3>
                <p>Wireless solutions have and will continue to provide essential services, supporting the emerging Internet of Things and the Smart and Connected Communities of the future.</p>
                <p>The platforms for advanced wireless research will drive new opportunities for innovation, high-skilled jobs, high-growth startups, and smart, connected community services.</p>
                
                <button class="call_btn">GET INVOLVED TODAY</button>
            </div>
        </div>
        
    </div>
</div>

    
<!-- Js -->
<script src="{{ STATIC_URL }}awt/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}awt/js/bootstrap.min.js"></script>  
<script>
$(window).scroll(function() {
    var topHeight = $( '.logo' ).height();
    if ($(this).scrollTop() > topHeight){  
        $('.nav_sec').addClass("sticky");
    }
    else{
        $('.nav_sec').removeClass("sticky");
    }
});
/*
$(window).scroll(function() {
    if ($(this).scrollTop() > 1){  
        $('.nav_sec').addClass("sticky");
    }
    else{
        $('.nav_sec').removeClass("sticky");
    }
});*/



        var aChildren = $("nav li").children(); // find the a children of the list items
        var aArray = []; // create the empty aArray
        for (var i=0; i < aChildren.length; i++) {    
            var aChild = aChildren[i];
            var ahref = $(aChild).attr('href');
            aArray.push(ahref);
        } // this for loop fills the aArray with attribute href values
        
        $(window).scroll(function(){
            var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
            var windowHeight = $(window).height(); // get the height of the window
            var docHeight = $(document).height();
            
            for (var i=0; i < aArray.length; i++) {
                var theID = aArray[i];
                var divPos = $(theID).offset().top; // get the offset of the div from the top of page
                var divHeight = $(theID).height(); // get the height of the div in question
                if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
                    $(".nav li").removeClass("active");
                    $("a[href='" + theID + "']").addClass("nav-active");
                    //$("a[href='" + theID + "']").closest('li').addClass('active');
                    $("a[href='" + theID + "']").parent().addClass('active');
                } else {
                    $("a[href='" + theID + "']").removeClass("nav-active");
                    //$("a[href='" + theID + "']").closest('li').removeClass('active');
                    $("a[href='" + theID + "']").parent().removeClass('active');
                }
            }
            
            if(windowPos + windowHeight == docHeight) {
                if (!$("nav li:last-child a").hasClass("nav-active")) {
                    var navActiveCurrent = $(".nav-active").attr("href");
                    $("a[href='" + navActiveCurrent + "']").removeClass("nav-active");
                    $("nav li:last-child a").addClass("nav-active");
                }
            }
        });

$('a:not(.default)').click(function(){
    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
});

$(document).ready(function () {
  $(".navbar-nav li a").click(function(event) {
    $(".navbar-collapse").collapse('hide');
  });
});

</script>
</body>
</html>
