<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}US Ignite{% endblock title %}</title>
    {% block meta %}
    <meta name="description" content="Developing Gigabit-ready digital experiences and applications.">
    {% endblock meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/normalize.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
    <script type="text/javascript">document.documentElement.className = "js"</script>
  </head>
  <body>
    {% block content %}
    <h1>US Ignite</h1>


    <div class="">
          {% if request.user.is_authenticated %}
          Logged in as: {{ request.user.email }}
          {% endif %}
    </div>

    <ul>
      <li><a href="{% url 'registration_register' %}">Registration</a></li>
      <li><a href="{% url 'auth_login' %}">Login</a></li>
      <li><a href="{% url 'auth_logout' %}">Logout</a></li>
    </ul>
    {% endblock content %}
  </body>
</html>
