<!doctype html>{% load sections_tags %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}US Ignite{% endblock title %}</title>
    {% block meta %}
    <meta name="description" content="{% block meta_description %}Developing Gigabit-ready digital experiences and applications.Developing Gigabit-ready digital experiences and applications.{% endblock meta_description %}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
    {% endblock meta %}

    <script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>

    <!--[if lt IE 9]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" />
      <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
      <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
    <!--<![endif]-->
    
    {% block extra_styles %}{% endblock extra_styles %}
  </head>
  <body>

    <!-- quicklinks and social links -->
    <nav class="quicklinks">
      <div class="row ">
        <div class="large-12 columns right">
          {% include "includes/status_bar.html" %}
        </div>
      </div>
    </nav>
    <!-- /quicklinks -->

    <!-- top-bar -->
    <div class="contain-to-grid border-bottom">
      <nav role="banner" class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="{% if request.user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'home' %}{% endif %}" class="top-bar__logo"><span>US Ignite</span></a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Main Menu</a></li>
        </ul>

        <section class="top-bar-section">
          {% include "includes/navigation.html" %}
          <ul class="left">
          </ul>

        </section>
      </nav>
    </div>
    <!-- /top-bar -->

    {# Mesages are used to display any user notification. #}
    {% include "includes/messages.html" %}

    {% block content %}{% endblock content %}

    <!-- footer -->
    <footer class="footer">
      <div class="row footer__intro">
        <div class="large-12 columns">
          <h6 class="footer__heading">US IGNITE PARTNERS:</h6>
        </div>
      </div>

      <div class="row border-bottom border-bottom--dark partner-logos">
        <div class="columns">
          {% render_sponsors "sections/sponsor_list.html" %}
        </div>
      </div>

      <div class="row show-for-medium-up">
        <div class="columns">
          <ul class="small-block-grid-3 large-block-grid-6">
            <li class="">
              <h6 class="footer__heading">ABOUT</h6>
              <ul class="no-bullet">
                <li><a href="#">What is US Ignite?</a></li>
                <li><a href="#">Staff</a></li>
                <li><a href="#">Board of Directors</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Sponsors/Partners</a></li>
              </ul>
            </li>

            <li class="">
              <h6 class="footer__heading">GET INVOLVED</h6>
              <ul class="no-bullet">
                <li><a href="#">Developers</a></li>
                <li><a href="#">Partner/Sponsor</a></li>
                <li><a href="#">Community Leader</a></li>
                <li><a href="#">Community Member</a></li>
                <li><a href="#">Get Started in My Community</a></li>
              </ul>
            </li>

            <li class="">
              <h6 class="footer__heading">APPLICATIONS</h6>
              <ul class="no-bullet">
                <li><a href="#">Submit an App Idea</a></li>
                <li><a href="#">App Projects</a></li>
              </ul>
            </li>

            <li class="">
              <h6 class="footer__heading">CITIES</h6>
              <ul class="no-bullet">
                <li><a href="#">Apply to become an US Ignite City</a></li>
                <li><a href="#">Map of Cities</a></li>
              </ul>
            </li>

            <li class="">
              <h6 class="footer__heading">RESOURCES</h6>
              <ul class="no-bullet">
                <li><a href="#">Submit a Resource</a></li>
                <li><a href="#">Resource List</a></li>
              </ul>
            </li>

            <li>
              <ul class="no-bullet">
                <li><a href="{%url 'blog_post_list' %}">BLOG</a></li>
                <li><a href="{% url 'event_list' %}">EVENTS</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{{ request.user.profile.get_absolute_url }}">PROFILE</a></li>
                <li><a href="{% url 'auth_logout' %}">LOGOUT</a></li>
                {% else %}
                <li><a href="{% url 'registration_register' %}">REGISTER</a></li>
                <li><a href="{% url 'auth_login' %}">SIGN IN</a></li>
                {% endif %}
                <li><a href="#">CONTACT US</a></li>
              </ul>
            </li>

            <li class="right">
              <h6 class="footer__heading">FOLLOW US:</h6>

              <ul class="inline-list">
                <li><a href="https://www.facebook.com/USIgnite" class="socialicon dark"><span class="socialicon-facebook"></span></a></li>
                <li class="squeeze"><a href="https://twitter.com/US_Ignite" class="socialicon dark"><span class="socialicon-twitter"></span></a></li>
                <li class="squeeze"><a href="http://facebook.com" class="socialicon dark"><span class="socialicon-google-plus"></span></a></li>
                <li class="squeeze"><a href="http://www.youtube.com/user/USIgnite1" class="socialicon dark"><span class="socialicon-youtube"></span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="row footer__outro">
        <div class="large-12 columns">
          <p><strong>©Copyright 2013 US Ignite. All Rights Reserved</strong></p>
        </div>
      </div>
    </footer>
<!-- /footer -->


  <!--[if (gte IE 9) | (!IE)]><!-->
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
  <!--<![endif]-->

  <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation.min.js"></script>
  <script src="{{ STATIC_URL }}js/app.js"></script>

  <script type="text/javascript">
    WebFontConfig = {
    google: { families: [ 'Lato:400,700,900:latin' ] }
    };
    (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}bower_components/jquery-1.9.1/index.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <![endif]-->

  {% block extra_scripts  %}{% endblock extra_scripts  %}

  <script src="{{ STATIC_URL }}/js/vendor/jquery-ui-1.10.4.custom.js"></script>
</body>
</html>
