<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Global City Teams Challenge Festival - US Ignite</title>

	<meta name="description" content="Developing Gigabit-ready digital experiences and applications. Developing Gigabit-ready digital experiences and applications.">
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />

	<script type="text/javascript">__SITEURL__ = "{{ SITE_URL }}";</script>
	<script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>

    <!--[if lt IE 9]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" />
      <![endif]-->
      <!--[if (gte IE 9) | (!IE)]><!-->
      <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/icons-style.css"/>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/slick.css"/>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/style.css"/>
      <!--<![endif]-->

  </head>
  <body class="gctc-festival">

  	<div class="gctc-festival-splash">

  		<div class="social-bar show-for-medium-up">
  			<div class="row">
  				<div class="columns small-12">
  					<ul class="inline-list quicklinks__list right splash">
  						<li class=""><a href="https://www.facebook.com/USIgnite" class="socialicon facebook" target="_blank"><span class="icon-uniE607"></span></a></li>
  						<li class=""><a href="https://twitter.com/US_Ignite" class="socialicon twitter" target="_blank"><span class="icon-uniE608"></span></a></li>
  						<li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="socialicon google-plus" target="_blank"><span class="icon-googleplus"></span></a></li>
  						<li class=""><a href="http://www.youtube.com/user/USIgnite1" class="socialicon youtube" target="_blank"><span class="icon-youtube"></span></a></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		<!-- end .social-bar -->

  		<div class="logos-bar">
  			<div class="row">
  				<div class="small-10 columns small-centered columns medium-6">
  					<img src="{{ STATIC_URL }}img/us_ignite-geni-nsf.png" />
  				</div>
  			</div>
  		</div>

  		<div class="header-image"></div>

  		<div class="row">
  			<div class="columns small-12">
  				<h1 class="event-title">Global City Teams Challenge Festival</h1>
  			</div>

  		</div>

  		<div class="row">
  			<div class="columns small-12 medium-8 small-centered">
  				<h2 class="event-subtitle">

  					Join <a href="https://us-ignite.org/">US Ignite</a> and <a href="http://nist.gov">NIST</a> June 1st in Washington for the Global City Teams Challenge Festival to see the future of Smart City / Internet of Things technology .

  				</h2>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 medium-8 small-centered">
  				<p class="center">
  					US Ignite and NIST, with the help of our partners, will showcase new IoT technologies that are transforming decision making within a smart city / smart community environment here in the US and around the world. 
  				</p>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 center">
  				<a href="https://www.eventbrite.com/e/global-city-teams-challenge-festival-tickets-16151238790)" class="button register">Register Today!</a>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 small-centered ">
  				<div class="tabs-container row show-for-medium-up">
  					<div class="tab-bar">
  						<a href="#" class="active columns small-2" data-section="overview">Overview</a>
  						<a href="#" class=" columns small-2" data-section="agenda">Agenda</a>
  						{% comment %} <a href="#" class="columns small-2" data-section="hotels">Travel/Hotel</a> {% endcomment %}
  						<a href="#" class=" columns small-2" data-section="partners">Partners</a>
  						<a href="#" class="columns small-2" data-section="speakers">Speakers</a>
  						<a href="#" class=" columns small-2" data-section="demos">Demos</a>
  					</div>
  					<!-- end .tab-bar -->
  					<div class="tab-content">
  						<div data-section-name="overview" class="active">
  							
  							<p>
  								Please join us on June 1, 2015 for an international showcase of innovative Smart City and Internet of Things applications featuring:
  							</p>

  							<ul>
  								<li>Project demonstrations from 40+ GCTC teams offering a chance to see and touch key components of unmanned aerial vehicle networks for firefighters, autonomous vehicles and other Internet of Things applications
</li>
  								<li>Rapid-fire presentations delivered by city officials and team members researching and deploying technologies related to sectors including healthcare, energy and disaster recovery among others.</li>
  								<li>Opportunities to engage thought leaders from industry, government and the university research sectors as well as 30+ participating cities around the world
</li>
  								<li>Keynotes and announcements regarding opportunities for municipalities and innovators to participate in smart city initiatives in 2015-2016 and beyond</li>
  							</ul>

  							<h4> Who Should Attend the GCTC Festival?</h4>
  							<ul>
  								<li>Mayors, CIOs, CTOs, Innovation Directors, Managers from local, state, federal governments working on smart city deployments</li>
  								<li>Corporations, educational institutions, non-profits with an interest in smart city projects.</li>
  								<li>Members of the media</li>
  								<li>All parties interested in participating in Smart City and IoT collaborations</li>
  								<li>Students, teachers and others curious about the Internet of Things and Smart City applications</li>
  							</ul>

  							<p>
  								Questions about GCTC Festival? Please email <a href="mailto:sokwoo.rhee@nist.gov">sokwoo.rhee@nist.gov</a> or <a href="mailto:william.maguire@us-ignite.org">william.maguire@us-ignite.org</a>.

  							</p>
  							
  							<p>
  								<em>
  									About the National Building Museum: The National Building Museum is America’s leading cultural institution devoted to the history and impact of the built environment. The Museum occupies a magnificent building with a soaring Great Hall, colossal 75-foot-tall Corinthian columns, and a 1,200-foot terra cotta frieze. <a href="http://www.nbm.org/">http://www.nbm.org/</a>
  								</em>
  							</p>
  							
  						</div>

  						<!-- end [data-section-name] -->
  						<div class="row agenda-content" data-section-name="agenda">  
  							<h3> Coming Soon! </h3>            
  							<div class="small-12 medium-8 medium-centered columns">
  								{% comment %}
  								<div class="center">
  									<h3 class="date">Tuesday, March 24th</h3>
  									<div class="address">
  										GWU Marvin Center<br>
  										800 21st Street, NW, Washington, DC<br>
  										Arlington, VA
  									</div>
  								</div>   
  								
  								<div class="time ">9:00 AM - 9:30 AM</div> 
  								<h4>Welcome/How Gigabit Applications Make a Difference</h4>
  								<ul>
  									<li>
  										Lev Gonick, CEO, OneCommunity
  									</li>
  								</ul>
  								{% endcomment %}
  								
  							</div>
  						</div> 

                  		{% comment %}
  						<div data-section-name="hotels">
  							<h4>Venue and Logistics</h4>
  							<p>
			  					Get ready for panels/talks, demos and action when you join us for the Smart Future Summit in Washington, DC! 
			  				</p>
			  				
			  				<h4>Meeting Location</h4>
  							<p>
			  					We are partnering with GENI and George Washington University to host the Summit on the GWU campus in Washington, DC.
			  				</p>
			  				
			  				<h4>Hotel Information</h4>
  							<p>
			  					<strong>Hilton Crystal City Hotel at Washington Reagan National Airport</strong><br>
								Reservation can be made at this link: <a href="http://www.hilton.com/en/hi/groups/personalized/D/DCANAHF-GENI-20150322/index.jhtml?WT.mc_id=POG">Hilton Crystal City Hotel Room Reservation</a>
			  				</p>

			  				<p>
			  					A block of rooms has been reserved for March 22, 2015 - March 27, 2015.
			  				</p>

			  				<p>
			  					Address:<br>
								2399 Jefferson Davis HighwayArlington, Virginia, 22202<br>
								Tel: +1-703-418-6800
							</p>

			  				<h4>Travel Awards</h4>
			  				<p>Applications are now closed and all travel awards have been issued.</p>
  							<p>
			  					We have a very limited number of travel awards available for academics and students of US institutions who wish to attend the US Ignite Application Summit. Due to hotel availability and deadline, your travel grant applications should be submitted by February 6th, 2015. Travel grant applications may be reviewed after the deadline but acceptance will be based on funding availability. Applications received by February 6 will be reviewed by the GENI Project Office and US Ignite and will be notified by no later than February 13th, 2015. Learn more: <a href="http://www.geni.net/wp-content/uploads/2015/01/Travel-Grant-Application-Instructions-GEC-22.docx">http://www.geni.net/wp-content/uploads/2015/01/Travel-Grant-Application-Instructions-GEC-22.docx</a>
			  				</p>

			  				<h4>Transportation</h4>
  							<p>
			  					Washington, DC is accessible from Baltimore, Dulles and Ronald Reagan National airports. Consider the cost of ground transportation when making your flight selections.
			  				</p>
			  				
  						</div>
  						<!-- end [data-section-name] -->
  						{% endcomment %}

  						<div data-section-name="partners" >
  							
  							<div class="partners-grid">
  							 
								<a href="http://www.nist.gov/" target="_blank" class="medium-4 small-6 columns"><img title="nist" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/nist.png" alt="" width="150" height="75"></a>

								<a href="http://www.nsf.gov/" target="_blank" class="medium-4 small-6 columns"><img title="nsf" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/NSF.png" alt="" width="150" height="75"></a>

								<a href="http://trade.gov/" target="_blank" class="medium-4 small-6 columns"><img title="ita" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ita.png" alt="" width="150" height="75"></a>

								<a href="http://www.energy.gov/" target="_blank" class="medium-4 small-6 columns"><img title="department of energy" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/us-dept-energy.png" alt="" width="150" height="75"></a>

								<a href="http://www.hhs.gov/" target="_blank" class="medium-4 small-6 columns end"><img title="health and human services" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/department-health-human.png" alt="" width="150" height="75"></a>

								<a href="http://www.arm.com/" target="_blank" class="medium-4 small-6 columns"><img title="arm" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/arm.png" alt="" width="150" height="75"></a>

								<a href="http://www.cisco.com/" target="_blank" class="medium-4 small-6 columns"><img title="cisco" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/cisco.png" alt="" width="150" height="75"></a>

								<a href="http://www.extremenetworks.com/" target="_blank" class="medium-4 small-6 columns"><img title="extreme" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/extreme-networks.png" alt="" width="150" height="75"></a>

								<a href="http://www.ge.com/" target="_blank" class="medium-4 small-6 columns"><img title="ge" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ge.png" alt="" width="150" height="75"></a>

								<a href="http://www.ibm.com/us/en/" target="_blank" class="medium-4 small-6 columns"><img title="ibm" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ibm.png" alt="" width="150" height="75"></a>

								<a href="http://www.intel.com/content/www/us/en/homepage.html?cid=sem117p251942g-c&gclid=CMOO0NC1jMICFSMA7AodE2YAHA" target="_blank" class="medium-4 small-6 columns"><img title="intel" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/intel.png" alt="" width="150" height="75"></a>

								<a href="http://www.juniper.net/us/en/homepage-campaign.page" target="_blank" class="medium-4 small-6 columns"><img title="juniper networks" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/juniper.png" alt="" width="150" height="75"></a>



								<a href="https://www.qualcomm.com/" target="_blank" class="medium-4 small-6 columns end"><img title="qualcomm" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/qualcomm.png" alt="" width="150" height="75"></a>
							
  							</div>
  							

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="speakers">
  							<h3> Coming Soon! </h3>
  							{% comment %}
  							<p>
  								We are adding speakers on a daily bases, so be sure to check back often to learn more about the exciting speakers at the Summit. 
  							</p>
  							<h4>Mark Berman</h4>
  							<div class="speaker">
  								<div class="callout">
  									<img src="{{ STATIC_URL }}img/staff/berman.jpg" class="callout__image">
  								</div>
  								<p>
  									Mark Berman is GENI Project Director. As Project Director, he has overall responsibility for GENI’s technical direction and successful implementation. Mark works with the GENI community, which spans dozens of universities, government and industry partners, to ensure that GENI is well designed, technically feasible, and satisfies its research requirements.
  								</p>
  							</div>
  							{% endcomment %}

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="demos" >
  							<h3> Coming Soon! </h3>
  							{% comment %}
  							<ul class="list">

  								
  								<li><strong>SeaCat: Securing Access to Medical Records</strong> - Shows how access to a medical record system can be secured from handheld devices like tablets and mobile phones. Stop by this demo if you are interested in how end-to-end isolation on both the network and the device can be used to provide secure access to sensitive data from mobile devices thus providing strong protection against data exfiltration. Securing access to an OpenMRS system (an open source medical record system) by deploying it in the SeaCat Application Containment framework.</li>
  								
  								
  							</ul>	
  							{% endcomment %}  				
  						</div>
  						<!-- end [data-section-name] -->
  					</div>
  					<!-- end .tab-content -->
  				</div>
  				<!-- .tabs-container -->
  			</div>
  		</div>
  		<!-- end .row -->

  		<!-- TEMPLATE MARKUP FOR MOBILE TABS
  		<div class="row">
  			<div class="columns small-12 small-centered ">
  				<div class="mobile-tabs-container">
  					<div class="tabs">
  						<div>
  							<a href="#" class="handle" data-section="description">Description <div class="close">&#215;</div></a>
  							<div data-section-name="description" class="tab-content active">
  								TAB CONTENT HERE
  							</div>
  						</div>
  						
  				</div>
  			</div>
  		</div>
  	-->

  	<div class="row">
  		<div class="share-buttons">
  			<h2 class="center">Share This Event</h2>
  			<a href="http://twitter.com/intent/tweet?text=App Summit 2015&url={{ SITE_URL }}/appsummit2015&utm_source=TWSH" class="share-button twitter"> 
  				<span class="icon-uniE608"></span> 
  			</a>
  			<a href="http://www.facebook.com/sharer.php?u=https://us-ignite.org/appsummit2015&utm_source=FBSH" class="share-button facebook"> 
  				<span class="icon-uniE607"></span> 
  			</a>
  			<a href="https://plus.google.com/share?url=https://us-ignite.org/appsummit2015&utm_source%3DGPSH" class="share-button google"> 
  				<span class="icon-googleplus"></span> 
  			</a>
  		</div>
  	</div>
  	<!-- end .row -->

  </div>
  <!-- end .gctc-festival-splash -->




  <!-- footer -->
  <footer class="footer">
  {% comment %}
  	<p class="center sponsors-partners">PARTNERS:</p>

  	<div class="row">
  		<div class="carousel small-10 small-centered columns">
  			<div><img src="{{ STATIC_URL }}images/amazon.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/cenic.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/charlesstewartmott.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/cisco.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/comcast.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/epb.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/extreme-networks.png" /></div>
  			<!-- <div><img src="{{ STATIC_URL }}images/google-fiber.png" /></div> -->
  			<div><img src="{{ STATIC_URL }}images/hp.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/internet2.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/jdsu.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/juniper.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/lafayette.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/lakenona.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/lit.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/merit.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/mozilla.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/orange.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/sanleandro.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/verizon.png" /></div>
  			<div><img src="{{ STATIC_URL }}images/wilson.png" /></div>

  		</div>
  	</div>
  	<div class="footer-separator"></div>
	{% endcomment %}
  	<div class="hide-for-medium-up">
  		<p class="center sponsors-partners">FOLLOW US</p>
  		<div class="footer-social">
  			<a target="_blank" href="https://www.facebook.com/USIgnite"><span class="icon-uniE607"></span></a>
  			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  			<a target="_blank" href="https://twitter.com/US_Ignite"><span class="icon-uniE608"></span></a>
  			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  			<a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><span class="icon-googleplus"></span></a>
  		</div>

  		<p class="center sponsors-partners" id="top-arrow">TOP OF THE PAGE</p>

  		<p class="center sponsors-partners"><a class="" href="/globalcityteams">HOME</a></p>
  		<br>
  	</div>

  	<p class="copyright center">© Copyright 2014 US Ignite. All Rights Reserved </p>
  </footer>
  <!-- /footer -->

  <script type="text/javascript">var switchTo5x=true;</script>
  	<!--<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
  	<script type="text/javascript">stLight.options({publisher: "433be1f0-4429-4a51-8401-307c2652339c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script> -->

  	<!--[if (gte IE 9) | (!IE)]><!-->
  	<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
  	<script src="{{ STATIC_URL }}bower_components/fastclick/lib/fastclick.js"></script>
  	<!--<![endif]-->

    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}bower_components/jquery-1.9.1/index.js"></script>

      <script src="{{ STATIC_URL }}js/vendor/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/nwmatcher-1.2.5-min.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/selectivizr-1.0.3b.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
      <![endif]-->

      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.orbit.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.topbar.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.js"></script>
      <script src="{{ STATIC_URL }}js/app.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/slick.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/jquery.validate.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/jquery.dataTables.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/dataTables.responsive.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/jquery.matchHeight-min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/gctc.js"></script>



      <script type="text/javascript">
      	WebFontConfig = {
      		google: { families: [ 'Lato:100,300,400,700,900:latin' ] }
      	};
      	(function() {
      		var wf = document.createElement('script');
      		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      		'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      		wf.type = 'text/javascript';
      		wf.async = 'true';
      		var s = document.getElementsByTagName('script')[0];
      		s.parentNode.insertBefore(wf, s);
      	})();
      </script>

      {% include "includes/google_analytics.html" %}
  </body>
  </html>