<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Global City Teams Challenge 2016 Kickoff - US Ignite</title>

    <meta name="description" content="Developing Gigabit-ready digital experiences and applications. Developing Gigabit-ready digital experiences and applications.">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />

    <script type="text/javascript">__SITEURL__ = "{{ SITE_URL }}";</script>
    <script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>

<!--[if lt IE 9]>
<link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" />
<![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/icons-style.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/style.css"/>
<!--<![endif]-->

</head>
<body class="gctc-festival">

    <div class="gctc-festival-splash">

        <div class="social-bar show-for-medium-up">
            <div class="row">
                <div class="columns small-12">
                    <ul class="inline-list quicklinks__list right splash">
                        <li class=""><a href="https://www.facebook.com/USIgnite" class="socialicon facebook" target="_blank"><span class="icon-uniE607"></span></a></li>
                        <li class=""><a href="https://twitter.com/US_Ignite" class="socialicon twitter" target="_blank"><span class="icon-uniE608"></span></a></li>
                        <li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="socialicon google-plus" target="_blank"><span class="icon-googleplus"></span></a></li>
                        <li class=""><a href="http://www.youtube.com/user/USIgnite1" class="socialicon youtube" target="_blank"><span class="icon-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end .social-bar -->

        <div class="logos-bar">
            <div class="row">
                <div class="small-10 columns small-centered columns medium-6">
                    <img src="{{ STATIC_URL }}images/nist-usignite-gctc-logo.png" />
                </div>
            </div>
        </div>

        <div class="header-image"></div>

        <div class="row">
            <div class="columns small-12">
                <h1 class="event-title">Global City Teams Challenge 2016 Kickoff</h1>
            </div>

        </div>
        {% comment %}
        <div class="row">
            <div class="columns small-12 medium-8 small-centered">
                <h2 class="event-subtitle">

                    Join <a href="https://us-ignite.org/">US Ignite</a> and <a href="http://nist.gov">NIST</a> June 1st in Washington for the Global City Teams Challenge Expo to see the future of Smart City / Internet of Things technology.

                </h2>
            </div>
        </div>

        <div class="row">
            <div class="columns small-12 medium-8 small-centered">
                <p class="center">
                    US Ignite and NIST, with the help of our partners, will showcase new IoT technologies that are transforming decision making within a smart city / smart community environment here in the US and around the world. 
                </p>
            </div>
        </div>
        {% endcomment %}

        <div class="row">
            <div class="columns small-12 center">
                <div id="kaltura_player_1447174755" style="width: 480px; height: 430px; position: relative; max-width: 100%; margin: 15px auto 15px auto;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                <span itemprop="name" content="Global Cities Challenge 2017"></span>
                <span itemprop="description" content="NIST is inviting representatives from both industry and local governments to join an initial team-building workshop on Nov. 12 and 13, 2015, at NIST’s campus in Gaithersburg, Maryland. Attending the workshop will help participants find the right partners to solve their specific problems and create “smart cities” that take advantage of what IoT has to offer."></span>
                <span itemprop="duration" content="0"></span>
                <span itemprop="thumbnail" content="https://cdnsecakmi.kaltura.com/p/684682/sp/68468200/thumbnail/entry_id/1_mzpmv2i3/version/100000/acv/22"></span>
                <span itemprop="width" content="480"></span>
                <span itemprop="height" content="430"></span>
                </div>
                <script src="https://cdnapisec.kaltura.com/p/684682/sp/68468200/embedIframeJs/uiconf_id/28137571/partner_id/684682?autoembed=true&entry_id=1_mzpmv2i3&playerId=kaltura_player_1447174755&cache_st=1447174755&width=480&height=430&flashvars[streamerType]=auto"></script>
            </div>
        </div>

        <div class="row">
            <div class="share-buttons">
                <h2 class="center">Share This Event</h2>
                <a href="http://twitter.com/intent/tweet?text=App Summit 2015&url={{ SITE_URL }}/appsummit2015&utm_source=TWSH" class="share-button twitter"> 
                    <span class="icon-uniE608"></span> 
                </a>
                <a href="http://www.facebook.com/sharer.php?u=https://us-ignite.org/appsummit2015&utm_source=FBSH" class="share-button facebook"> 
                    <span class="icon-uniE607"></span> 
                </a>
                <a href="https://plus.google.com/share?url=https://us-ignite.org/appsummit2015&utm_source%3DGPSH" class="share-button google"> 
                    <span class="icon-googleplus"></span> 
                </a>
            </div>
        </div>
        <!-- end .row -->

    </div>
    <!-- end .gctc-festival-splash -->

    <!-- footer -->
    <footer class="footer">
        {% comment %}
        <p class="center sponsors-partners">PARTNERS:</p>

        <div class="row">
            <div class="carousel small-10 small-centered columns">
                <div><img src="{{ STATIC_URL }}images/amazon.png" /></div>
                <div><img src="{{ STATIC_URL }}images/cenic.png" /></div>
                <div><img src="{{ STATIC_URL }}images/charlesstewartmott.png" /></div>
                <div><img src="{{ STATIC_URL }}images/cisco.png" /></div>
                <div><img src="{{ STATIC_URL }}images/comcast.png" /></div>
                <div><img src="{{ STATIC_URL }}images/epb.png" /></div>
                <div><img src="{{ STATIC_URL }}images/extreme-networks.png" /></div>
                <!-- <div><img src="{{ STATIC_URL }}images/google-fiber.png" /></div> -->
                <div><img src="{{ STATIC_URL }}images/hp.png" /></div>
                <div><img src="{{ STATIC_URL }}images/internet2.png" /></div>
                <div><img src="{{ STATIC_URL }}images/jdsu.png" /></div>
                <div><img src="{{ STATIC_URL }}images/juniper.png" /></div>
                <div><img src="{{ STATIC_URL }}images/lafayette.png" /></div>
                <div><img src="{{ STATIC_URL }}images/lakenona.png" /></div>
                <div><img src="{{ STATIC_URL }}images/lit.png" /></div>
                <div><img src="{{ STATIC_URL }}images/merit.png" /></div>
                <div><img src="{{ STATIC_URL }}images/mozilla.png" /></div>
                <div><img src="{{ STATIC_URL }}images/orange.png" /></div>
                <div><img src="{{ STATIC_URL }}images/sanleandro.png" /></div>
                <div><img src="{{ STATIC_URL }}images/verizon.png" /></div>
                <div><img src="{{ STATIC_URL }}images/wilson.png" /></div>

            </div>
        </div>
        <div class="footer-separator"></div>
        {% endcomment %}
        <div class="hide-for-medium-up">
            <p class="center sponsors-partners">FOLLOW US</p>
            <div class="footer-social">
                <a target="_blank" href="https://www.facebook.com/USIgnite"><span class="icon-uniE607 footer-icon"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://twitter.com/US_Ignite"><span class="icon-uniE608 footer-icon"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><span class="icon-googleplus footer-icon"></span></a>
            </div>

            <p class="center sponsors-partners" id="top-arrow">TOP OF THE PAGE</p>

            <p class="center sponsors-partners"><a class="" href="/globalcityteams">HOME</a></p>
            <br>
        </div>

        <p class="copyright center">© Copyright 2015 US Ignite. All Rights Reserved </p>
    </footer>
    <!-- /footer -->

    <script type="text/javascript">var switchTo5x=true;</script>
    <!--<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "433be1f0-4429-4a51-8401-307c2652339c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script> -->

        <!--[if (gte IE 9) | (!IE)]><!-->
        <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}bower_components/fastclick/lib/fastclick.js"></script>
        <!--<![endif]-->

    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}bower_components/jquery-1.9.1/index.js"></script>

    <script src="{{ STATIC_URL }}js/vendor/html5shiv.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/nwmatcher-1.2.5-min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/selectivizr-1.0.3b.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
    <![endif]-->

    <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script src="{{ STATIC_URL }}globalcityteams/js/slick.min.js"></script>
    <script src="{{ STATIC_URL }}globalcityteams/js/jquery.validate.min.js"></script>
    <script src="{{ STATIC_URL }}globalcityteams/js/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}globalcityteams/js/dataTables.responsive.min.js"></script>
    <script src="{{ STATIC_URL }}globalcityteams/js/jquery.matchHeight-min.js"></script>
    <script src="{{ STATIC_URL }}globalcityteams/js/gctc.js"></script>



    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Lato:100,300,400,700,900:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    {% include "includes/google_analytics.html" %}
</body>
</html>