<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>March 2015 - US Ignite</title>

	<meta name="description" content="Developing Gigabit-ready digital experiences and applications. Developing Gigabit-ready digital experiences and applications.">
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />

	<script type="text/javascript">__SITEURL__ = "{{ SITE_URL }}";</script>
	<script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>

    <!--[if lt IE 9]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" />
      <![endif]-->
      <!--[if (gte IE 9) | (!IE)]><!-->
      <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/icons-style.css"/>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/slick.css"/>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/style.css"/>
      <!--<![endif]-->

  </head>
  <body class="march-2015">

  	<div class="march-2015-splash">

  		<div class="social-bar show-for-medium-up">
  			<div class="row">
  				<div class="columns small-12">
  					<ul class="inline-list quicklinks__list right splash">
  						<li class=""><a href="https://www.facebook.com/USIgnite" class="socialicon facebook" target="_blank"><span class="icon-uniE607"></span></a></li>
  						<li class=""><a href="https://twitter.com/US_Ignite" class="socialicon twitter" target="_blank"><span class="icon-uniE608"></span></a></li>
  						<li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="socialicon google-plus" target="_blank"><span class="icon-googleplus"></span></a></li>
  						<li class=""><a href="http://www.youtube.com/user/USIgnite1" class="socialicon youtube" target="_blank"><span class="icon-youtube"></span></a></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		<!-- end .social-bar -->

  		<div class="logo-bar"><div></div></div>
  		<div class="header-image"></div>

  		<div class="row">
  			<div class="columns small-12">
  				<h1 class="event-title">Event Name </h1>
  			</div>

  		</div>

  		<div class="row">
  			<div class="columns small-12 medium-8 small-centered">
  				<h2 class="event-subtitle">
  					Lorem ipsum dolro sit amet, conscetuetur adipisicing elit, sed do eiusmod tempor incidint ut.
  				</h2>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 medium-8 small-centered">
  				<p class="center">
  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales malesuada justo, quis pretium diam efficitur non. Aliquam commodo felis at iaculis faucibus. Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
  				</p>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 center">
  				<a href="#" class="button register">Register</a>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 small-centered ">
  				<div class="tabs-container row show-for-medium-up">
  					<div class="tab-bar">
  						<a href="#" class="active columns small-2" data-section="description">Description</a>
  						<a href="#" class=" columns small-2" data-section="agenda">Agenda</a>
  						<a href="#" class="columns small-2" data-section="hotels">Hotel</a>
  						<a href="#" class=" columns small-2" data-section="partners">Partners</a>
  						<a href="#" class="columns small-2" data-section="speakers">Speakers</a>
  						<a href="#" class=" columns small-2" data-section="demos">Demos</a>
  					</div>
  					<!-- end .tab-bar -->
  					<div class="tab-content">
  						<div data-section-name="description" class="active">
  							<h3>Lorem ipusum dolor sit amet, consectetur adipisicing elit, sed od eiusmod tempor incididunt ut laore et dolore magna laiqua.</h3>
  							<br>
  							<p>
			  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales malesuada justo, quis pretium diam efficitur non. Aliquam commodo felis at iaculis faucibus. Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<h4>SUBHEADING GOES HERE </h4>

			  				<p>
			  					Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<ul>
			  					<li>Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue.</li>
			  					<li>Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.</li>
			  					<li>Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue.</li>
			  					<li>Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus.</li>
			  				</ul>

			  				<p>
			  					Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<p>
			  					Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="agenda" >
  							<h3>Agenda</h3>
  							<br>
  							<p>
			  					Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<div class="row">
			  					<div class="columns medium-6">
			  						<h4>DAY 1</h4>
			  						<br>
			  						<table class="agenda-table small-12">
			  							<tbody>
			  								<tr>
			  									<td>8:00am-9:00am</td>
			  									<td>Registration</td>
			  								</tr>
			  								<tr>
			  									<td>9:00am-9:20am</td>
			  									<td>Welcome</td>
			  								</tr>
			  								<tr>
			  									<td>9:20am-10:30am</td>
			  									<td>Keynote</td>
			  								</tr>
			  								<tr>
			  									<td>10:30:00am-10:45am</td>
			  									<td>Break</td>
			  								</tr>
			  								<tr>
			  									<td>10:45am-11:45am</td>
			  									<td>Keynote</td>
			  								</tr>
			  								<tr>
			  									<td>11:45am-1:00pm</td>
			  									<td>Lunch</td>
			  								</tr>
			  								<tr>
			  									<td>1:00pm-1:45am</td>
			  									<td>Breakout 1</td>
			  								</tr>
			  								<tr>
			  									<td>2:00pm-2:45pm</td>
			  									<td>Breakout 2</td>
			  								</tr>
			  								<tr>
			  									<td>2:45pm-3:15pm</td>
			  									<td>Break</td>
			  								</tr>
			  								<tr>
			  									<td>3:15pmm-4:00pm</td>
			  									<td>Fireside Chat with Donna Shalala*</td>
			  								</tr>
			  								<tr>
			  									<td>4:00pmm-5:30pm</td>
			  									<td>Cocktail Reception</td>
			  								</tr>
			  							</tbody>
			  						</table>
			  					</div>
			  					<div class="columns medium-6">
			  						<h4>DAY 2</h4>
			  						<br>
			  						<table class="agenda-table small-12">
			  							<tbody>
			  								<tr>
			  									<td>8:00am-9:00am</td>
			  									<td>Registration</td>
			  								</tr>
			  								<tr>
			  									<td>9:00am-9:20am</td>
			  									<td>Welcome</td>
			  								</tr>
			  								<tr>
			  									<td>9:20am-10:30am</td>
			  									<td>Keynote</td>
			  								</tr>
			  								<tr>
			  									<td>10:30:00am-10:45am</td>
			  									<td>Break</td>
			  								</tr>
			  								<tr>
			  									<td>10:45am-11:45am</td>
			  									<td>Keynote</td>
			  								</tr>
			  								<tr>
			  									<td>11:45am-1:00pm</td>
			  									<td>Lunch</td>
			  								</tr>
			  								<tr>
			  									<td>1:00pm-1:45am</td>
			  									<td>Breakout 1</td>
			  								</tr>
			  								<tr>
			  									<td>2:00pm-2:45pm</td>
			  									<td>Breakout 2</td>
			  								</tr>
			  								<tr>
			  									<td>2:45pm-3:15pm</td>
			  									<td>Break</td>
			  								</tr>
			  								<tr>
			  									<td>3:15pmm-4:00pm</td>
			  									<td>Fireside Chat with Donna Shalala*</td>
			  								</tr>
			  								<tr>
			  									<td>4:00pmm-5:30pm</td>
			  									<td>Cocktail Reception</td>
			  								</tr>
			  							</tbody>
			  						</table>

			  					</div>
			  				</div>

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="hotels">
  							<h3>Lorem ipusum dolor sit amet, consectetur adipisicing elit, sed od eiusmod tempor incididunt ut laore et dolore magna laiqua.</h3>
  							<h4>HOTEL INDIGO MIAMI </h4>
  							<p>
			  					50 Alhambra Plaza <br>
			  					Coral Gables, FL 33134 <br>
			  					Rate: $289/night <br>
			  					Reservations link: http://bit.ly/1vK9VvM <br>
			  					Distance to Campus: 3 miltes
			  				</p>
			  				
			  				<h4>HOTEL INDIGO MIAMI</h4>
  							<p>
			  					50 Alhambra Plaza <br>
			  					Coral Gables, FL 33134 <br>
			  					Rate: $289/night <br>
			  					Reservations link: http://bit.ly/1vK9VvM <br>
			  					Distance to Campus: 3 miltes
			  				</p>
			  				
			  				<h4>HOTEL INDIGO MIAMI</h4>
  							<p>
			  					50 Alhambra Plaza <br>
			  					Coral Gables, FL 33134 <br>
			  					Rate: $289/night <br>
			  					Reservations link: http://bit.ly/1vK9VvM <br>
			  					Distance to Campus: 3 miltes
			  				</p>

			  				
  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="partners" >
  							<h3>Lorem ipusum dolor sit amet, consectetur adipisicing elit, sed od eiusmod tempor incididunt ut laore et dolore magna laiqua.</h3>

  							<div class="partners-grid">
	  							<a href="http://www.arm.com/" target="_blank" class="medium-4 small-6 columns"><img title="arm" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/arm.png" alt="" ></a>

								<a href="http://www.cisco.com/" target="_blank" class="medium-4 small-6 columns"><img title="cisco" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/cisco.png" alt="" ></a>

								<a href="http://www.hhs.gov/" target="_blank" class="medium-4 small-6 columns end"><img title="health and human services" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/department-health-human.png" alt=""></a>

								<a href="http://www.extremenetworks.com/" target="_blank" class="medium-4 small-6 columns"><img title="extreme" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/extreme-networks.png" alt="" ></a>

								<a href="http://www.ge.com/" target="_blank" class="medium-4 small-6 columns"><img title="ge" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ge.png" alt="" ></a>

								<a href="http://www.ibm.com/us/en/" target="_blank" class="medium-4 small-6 columns"><img title="ibm" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ibm.png" alt="" ></a>

								<a href="http://www.intel.com/content/www/us/en/homepage.html?cid=sem117p251942g-c&gclid=CMOO0NC1jMICFSMA7AodE2YAHA" target="_blank" class="medium-4 small-6 columns"><img title="intel" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/intel.png" alt="" ></a>

								<a href="http://trade.gov/" target="_blank" class="medium-4 small-6 columns"><img title="ita" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/ita.png" alt="" ></a>

								<a href="http://www.juniper.net/us/en/homepage-campaign.page" target="_blank" class="medium-4 small-6 columns end"><img title="juniper networks" src="{{ STATIC_URL }}globalcityteams/images/partner-logos/juniper.png" alt=""></a>
							</div>

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="speakers">
  							<h3>Speakers</h3>
  							<br>
  							<p>
			  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales malesuada justo, quis pretium diam efficitur non. Aliquam commodo felis at iaculis faucibus. Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<h4>NAME</h4>

			  				<p>
			  					Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<h4>NAME</h4>

			  				<p>
			  					Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<h4>NAME</h4>

			  				<p>
			  					Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<h4>NAME</h4>

			  				<p>
			  					Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>
  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="demos" >
  							<h3>Lorem ipusum dolor sit amet, consectetur adipisicing elit, sed od eiusmod tempor incididunt ut laore et dolore magna laiqua.</h3>
  							<br>
  							<p>
			  					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales malesuada justo, quis pretium diam efficitur non. Aliquam commodo felis at iaculis faucibus. Vivamus nunc lectus, pretium congue diam vitae, faucibus blandit neque. <a href="#">Nam luctus nunc</a> at felis congue, non mattis eros tempus. Donec vel diam quam. Donec non laoreet ipsum. Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<h4>DEMO VIDEO FROM YOUTUBE</h4>
			  				<br>
			  				<figure class="responsive-video">
			  					<iframe width="640" height="360" src="//www.youtube.com/embed/E1XAaToT5lY" frameborder="0" allowfullscreen></iframe>
			  				</figure>
  						</div>
  						<!-- end [data-section-name] -->
  					</div>
  					<!-- end .tab-content -->
  				</div>
  				<!-- .tabs-container -->
  			</div>
  		</div>
  		<!-- end .row -->

  		<!-- TEMPLATE MARKUP FOR MOBILE TABS
  		<div class="row">
  			<div class="columns small-12 small-centered ">
  				<div class="mobile-tabs-container">
  					<div class="tabs">
  						<div>
  							<a href="#" class="handle" data-section="description">Description <div class="close">&#215;</div></a>
  							<div data-section-name="description" class="tab-content active">
  								TAB CONTENT HERE
  							</div>
  						</div>
  						
  				</div>
  			</div>
  		</div>
		-->

  		<div class="row">
	  		<div class="share-buttons">
		  		<h2 class="center">Share This Event</h2>
		  		<a href="http://twitter.com/intent/tweet?text=App Summit 2015&url={{ SITE_URL }}/appsummit2015&utm_source=TWSH" class="share-button twitter"> 
					<span class="icon-uniE608"></span> 
				</a>
				<a href="http://www.facebook.com/sharer.php?u=https://us-ignite.org/appsummit2015&utm_source=FBSH" class="share-button facebook"> 
					<span class="icon-uniE607"></span> 
				</a>
				<a href="https://plus.google.com/share?url=https://us-ignite.org/appsummit2015&utm_source%3DGPSH" class="share-button google"> 
					<span class="icon-googleplus"></span> 
				</a>
	  		</div>
  		</div>
  		<!-- end .row -->

  	</div>
  	<!-- end .march-2015-splash -->




  	<!-- footer -->
  	<footer class="footer">
  		<p class="center sponsors-partners">PARTNERS:</p>

  		<div class="row">
  			<div class="carousel small-10 small-centered columns">
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/arm.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/cisco.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/extreme-networks.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/ibm.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/intel.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/juniper.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/qualcomm.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/ge.png" /></div>

  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/nist-footer.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/NSF.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/ita-footer.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/health-and-human-footer.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/us-dept-energy-footer.png" /></div>
  			</div>
  		</div>
  		<div class="footer-separator"></div>

  		<div class="hide-for-medium-up">
  			<p class="center sponsors-partners">FOLLOW US</p>
  			<div class="footer-social">
  				<a target="_blank" href="https://www.facebook.com/USIgnite"><span class="icon-uniE607"></span></a>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				<a target="_blank" href="https://twitter.com/US_Ignite"><span class="icon-uniE608"></span></a>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				<a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><span class="icon-googleplus"></span></a>
  			</div>

  			<p class="center sponsors-partners" id="top-arrow">TOP OF THE PAGE</p>

  			<p class="center sponsors-partners"><a class="" href="/globalcityteams">HOME</a></p>
  			<br>
  		</div>

  		<p class="copyright center">© Copyright 2014 US Ignite. All Rights Reserved</p>
  	</footer>
  	<!-- /footer -->

  	<script type="text/javascript">var switchTo5x=true;</script>
  	<!--<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
  	<script type="text/javascript">stLight.options({publisher: "433be1f0-4429-4a51-8401-307c2652339c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script> -->

  	<!--[if (gte IE 9) | (!IE)]><!-->
  	<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
  	<script src="{{ STATIC_URL }}bower_components/fastclick/lib/fastclick.js"></script>
  	<!--<![endif]-->

    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}bower_components/jquery-1.9.1/index.js"></script>

      <script src="{{ STATIC_URL }}js/vendor/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/nwmatcher-1.2.5-min.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/selectivizr-1.0.3b.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
      <![endif]-->

      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.orbit.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.topbar.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.js"></script>
      <script src="{{ STATIC_URL }}js/app.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/slick.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/jquery.validate.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/jquery.dataTables.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/dataTables.responsive.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/jquery.matchHeight-min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/gctc.js"></script>



      <script type="text/javascript">
      	WebFontConfig = {
      		 google: { families: [ 'Lato:100,300,400,700,900:latin' ] }
      	};
      	(function() {
      		var wf = document.createElement('script');
      		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      		'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      		wf.type = 'text/javascript';
      		wf.async = 'true';
      		var s = document.getElementsByTagName('script')[0];
      		s.parentNode.insertBefore(wf, s);
      	})();
      </script>

      {% include "includes/google_analytics.html" %}
  </body>
  </html>