{% extends "base.html" %}{% load snippets_tags thumbnail %}

{% block title %}App Summit 2015 - {{ block.super }}{% endblock title %}

{% block content %}

<style> body { display: none; } </style>


<div class="summit-container">

	<div class="summit-top-bar">
		<ul class="inline-list quicklinks__list right">
			<li class=""><a href="https://www.facebook.com/USIgnite" class="socialicon facebook" target="_blank"><span class="icon-uniE607"></span></a></li>
			<li class=""><a href="https://twitter.com/US_Ignite" class="socialicon twitter" target="_blank"><span class="icon-uniE608"></span></a></li>
			<li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="socialicon google-plus" target="_blank"><span class="icon-googleplus"></span></a></li>
			<li class=""><a href="http://www.youtube.com/user/USIgnite1" class="socialicon youtube" target="_blank"><span class="icon-youtube"></span></a></li>
		</ul>
	</div>
	<!-- end .summit-top-bar -->

	

	<div class="us-ignite-logo"></div>

	<div class="title"> Save The Date </div>

	<div class="ribbon"><span> March 23-26 &#8226; 2015 Washington, DC</span></div>

	<div class="summit-content">
		<div class="heading">
			Join US Ignite and GENI in Washington, DC as we bring together the top minds in next-generation and cyberinfrastructure, and show you the future of the Internet!
		</div>

		<p>
			This event is a great opportunity for innovative developers, entrepreneurs, technology companies, forward-thinking communities, leading university researchers, students, and federal agency leaders that are interested in showcasing, networking, and learning about advanced networking technologies.

		</p>

		<p>
			We will demonstrate how these new technologies are transforming how we work, live, learn, and play.
		</p>

		<h3>Get involved:</h3>

		<p>
			To learn more about the event, submit your application, or get your organization involved, contact Joe Kochan at <a href="mailto:joe.kochan@us-ignite.org">joe.kochan@us-ignite.org</a>.
		</p>

		<p>
			To learn more about US Ignite, visit <a href="www.us-ignite.org">www.us-ignite.org</a>, <a href="https://www.facebook.com/USIgnite">Facebook</a>, <a href="https://twitter.com/US_Ignite">Twitter</a>, or <a href="https://plus.google.com/115026873083967953743/posts">Google+</a>. To see highlights from the 2014 Application Summit visit <a href="https://www.youtube.com/watch?v=E1XAaToT5lY">https://www.youtube.com/watch?v=E1XAaToT5lY</a>.
		</p>

		<p>
			Make a Community Collaboration Exchange profile (CCX) and get involved with the US Ignite community! 
		</p>


		<div class="share-row">
			<div href="http://twitter.com/intent/tweet?text=App Summit 2015&url=https://us-ignite.org/march2015&utm_source=TWSH" class="share-button twitter"> 
				<span class="icon-uniE608"></span> 
				<span class="label">Share This</span>
			</div>
			<div href="http://www.facebook.com/sharer.php?u=https://us-ignite.org/march2015&utm_source=FBSH" class="share-button facebook"> 
				<span class="icon-uniE607"></span> 
				<span class="label">Share This</span>
			</div>
			<div href="https://plus.google.com/share?url=https://us-ignite.org/march2015&utm_source%3DGPSH" class="share-button google"> 
				<span class="icon-googleplus"></span> 
				<span class="label">Share This</span>
			</div>
		</div>
		<!-- end .share-row -->

		<div class="copyright">
			©Copyright 2014 US Ignite. All Rights Reserved.
			<br>
			Go to <a href="https://us-ignite.org">us-ignite.org</a>
		</div>
		<!-- end .copyright -->
	</div>
	<!-- end .summit-content -->

</div>
<!-- end .summit-container -->


{% endblock content %}