<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>March 2015 - US Ignite</title>

	<meta name="description" content="Developing Gigabit-ready digital experiences and applications. Developing Gigabit-ready digital experiences and applications.">
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />

	<script type="text/javascript">__SITEURL__ = "{{ SITE_URL }}";</script>
	<script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>

    <!--[if lt IE 9]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" />
      <![endif]-->
      <!--[if (gte IE 9) | (!IE)]><!-->
      <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/icons-style.css"/>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/slick.css"/>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/style.css"/>
      <!--<![endif]-->

  </head>
  <body class="march-2015">

  	<div class="march-2015-splash">

  		<div class="social-bar show-for-medium-up">
  			<div class="row">
  				<div class="columns small-12">
  					<ul class="inline-list quicklinks__list right splash">
  						<li class=""><a href="https://www.facebook.com/USIgnite" class="socialicon facebook" target="_blank"><span class="icon-uniE607"></span></a></li>
  						<li class=""><a href="https://twitter.com/US_Ignite" class="socialicon twitter" target="_blank"><span class="icon-uniE608"></span></a></li>
  						<li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="socialicon google-plus" target="_blank"><span class="icon-googleplus"></span></a></li>
  						<li class=""><a href="http://www.youtube.com/user/USIgnite1" class="socialicon youtube" target="_blank"><span class="icon-youtube"></span></a></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		<!-- end .social-bar -->

  		<div class="logo-bar"><div></div></div>
  		<div class="header-image"></div>

  		<div class="row">
  			<div class="columns small-12">
  				<h1 class="event-title">Beyond Today's Internet: Experiencing a Smart Future!</h1>
  			</div>

  		</div>

  		<div class="row">
  			<div class="columns small-12 medium-8 small-centered">
  				<h2 class="event-subtitle">
  					Join <a href="http://www.geni.net/">US Ignite</a> and <a href="http://www.geni.net/ ">GENI</a> March 23-26 in Washington, DC to experience the future of the Internet and the next-generation applications it enables.
  				</h2>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 medium-8 small-centered">
  				<p class="center">
  					US Ignite and GENI, with the help of our partners at the National Science Foundation and Mozilla Foundation, will showcase new applications running on deeply programmable cyberinfrastructure that transcends the current Internet and has the potential to completely transform how we live, work, learn, and play.

  				</p>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 center">
  				<a href="#" class="button register">Register</a>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns small-12 small-centered ">
  				<div class="tabs-container row show-for-medium-up">
  					<div class="tab-bar">
  						<a href="#" class="active columns small-2" data-section="overview">Overview</a>
  						<a href="#" class=" columns small-2" data-section="agenda">Agenda</a>
  						<a href="#" class="columns small-2" data-section="hotels">Travel/Hotel</a>
  						<a href="#" class=" columns small-2" data-section="partners">Partners</a>
  						<a href="#" class="columns small-2" data-section="speakers">Speakers</a>
  						<a href="#" class=" columns small-2" data-section="demos">Demos</a>
  					</div>
  					<!-- end .tab-bar -->
  					<div class="tab-content">
  						<div data-section-name="overview" class="active">
  							
  							<p>
			  					The Beyond Today's Internet: Experiencing a Smart Future summit gives developers, industry, communities, government, foundations and universities working with software defined networks (SDN), cloud computing and gigabit networks a place to gather, learn and showcase their work.  As these new technologies become a cornerstone of next-generation application development there’s a lot of new information to learn and share. The best way to learn is to spend time with people who are actually working with these new technologies and inventing ways to apply them to new products and services.
			  				</p>

			  				<p>
			  					During the Summit, you will experience first-hand demos of next-generation applications run on this new network. Learn from engaging keynotes, tech presentations, and workshops lead by visionaries in the field. Hear from community leaders highlighting recent case studies, success stories, and best practices to improve your group’s next-generation technology initiatives.

			  				</p>
			  				<h4>See the highlights from last year’s Summit</h4>
			  				<br>
			  				<figure class="responsive-video">
			  					<iframe width="640" height="360" src="//www.youtube.com/embed/E1XAaToT5lY" frameborder="0" allowfullscreen></iframe>
			  				</figure>

			  				<h4> Why You Should Attend:</h4>
			  				<ul>
			  					<li>One day of in-depth panels and discussions focused on technology, application development and communities.</li>
			  					<li>Two days of keynotes and sessions that explore US Ignite technology, real-world case studies, and best practices</li>
			  					<li>Two days of demo showcases highlighting current application in production or newly released</li>
			  					<li>Networking opportunities with hundreds of other US Ignite developers, industry, communities, foundations and universities</li>
			  					<li>Highlights from US Ignite communities, agencies and universities on the impact and implementation process of new technologies</li>
			  					<li>Fun evening receptions providing opportunities for more face time with attendees and presenters</li>
			  				</ul>

			  				<h4>Who Is the Summit for: </h4>
			  				<p>
			  					The Summit is for individuals and organizations who work with next-generation technologies including software defined networking, local clouds and gigabit to end-user.  If you are an application developer, university researcher, US Ignite community, foundation, corporation or government agency with a focus on advanced technologies, the Smart Future Summit is for you.
			  				</p>
			  				<p>
								The program has been carefully designed to offer value to all experience levels, from students to senior researchers, software architects, network engineers and senior management. We look forward to having you join for this exciting event. 
								m nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
							</p>
			  				

			  				

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="agenda" >
  							<h3>TBD</h3>
  							{% comment "TBD" %}
  							<br>
  							<p>
			  					Mauris vel ipsum vel metus blandit auctor ut quis augue. Nam tristique commodo dolor ut pretium. Nam sit amet nisl non enim lacinia rutrum nec ac risus. Cras mattis fermentum augue, sit amet hendrerit lectus posuere id. Vivamus molestie tortor nec blandit tincidunt.
			  				</p>

			  				<div class="row">
			  					<div class="columns medium-6">
			  						<h4>DAY 1</h4>
			  						<br>
			  						<table class="agenda-table small-12">
			  							<tbody>
			  								<tr>
			  									<td>8:00am-9:00am</td>
			  									<td>Registration</td>
			  								</tr>
			  								<tr>
			  									<td>9:00am-9:20am</td>
			  									<td>Welcome</td>
			  								</tr>
			  								<tr>
			  									<td>9:20am-10:30am</td>
			  									<td>Keynote</td>
			  								</tr>
			  								<tr>
			  									<td>10:30:00am-10:45am</td>
			  									<td>Break</td>
			  								</tr>
			  								<tr>
			  									<td>10:45am-11:45am</td>
			  									<td>Keynote</td>
			  								</tr>
			  								<tr>
			  									<td>11:45am-1:00pm</td>
			  									<td>Lunch</td>
			  								</tr>
			  								<tr>
			  									<td>1:00pm-1:45am</td>
			  									<td>Breakout 1</td>
			  								</tr>
			  								<tr>
			  									<td>2:00pm-2:45pm</td>
			  									<td>Breakout 2</td>
			  								</tr>
			  								<tr>
			  									<td>2:45pm-3:15pm</td>
			  									<td>Break</td>
			  								</tr>
			  								<tr>
			  									<td>3:15pmm-4:00pm</td>
			  									<td>Fireside Chat with Donna Shalala*</td>
			  								</tr>
			  								<tr>
			  									<td>4:00pmm-5:30pm</td>
			  									<td>Cocktail Reception</td>
			  								</tr>
			  							</tbody>
			  						</table>
			  					</div>
			  					<div class="columns medium-6">
			  						<h4>DAY 2</h4>
			  						<br>
			  						<table class="agenda-table small-12">
			  							<tbody>
			  								<tr>
			  									<td>8:00am-9:00am</td>
			  									<td>Registration</td>
			  								</tr>
			  								<tr>
			  									<td>9:00am-9:20am</td>
			  									<td>Welcome</td>
			  								</tr>
			  								<tr>
			  									<td>9:20am-10:30am</td>
			  									<td>Keynote</td>
			  								</tr>
			  								<tr>
			  									<td>10:30:00am-10:45am</td>
			  									<td>Break</td>
			  								</tr>
			  								<tr>
			  									<td>10:45am-11:45am</td>
			  									<td>Keynote</td>
			  								</tr>
			  								<tr>
			  									<td>11:45am-1:00pm</td>
			  									<td>Lunch</td>
			  								</tr>
			  								<tr>
			  									<td>1:00pm-1:45am</td>
			  									<td>Breakout 1</td>
			  								</tr>
			  								<tr>
			  									<td>2:00pm-2:45pm</td>
			  									<td>Breakout 2</td>
			  								</tr>
			  								<tr>
			  									<td>2:45pm-3:15pm</td>
			  									<td>Break</td>
			  								</tr>
			  								<tr>
			  									<td>3:15pmm-4:00pm</td>
			  									<td>Fireside Chat with Donna Shalala*</td>
			  								</tr>
			  								<tr>
			  									<td>4:00pmm-5:30pm</td>
			  									<td>Cocktail Reception</td>
			  								</tr>
			  							</tbody>
			  						</table>

			  					</div>
			  				</div>
			  				{% endcomment %}

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="hotels">
  							<h4>Venue and Logistics</h4>
  							<p>
			  					Get ready for panels/talks, demos and action when you join us for the Smart Future Summit in Washington, DC! 
			  				</p>
			  				
			  				<h4>Meeting Location</h4>
  							<p>
			  					We are partnering with GENI and George Washington University to host the Summit on the GWU campus in Washington, DC.
			  				</p>
			  				
			  				<h4>Hotel Information</h4>
  							<p>
			  					Hotel block information coming soon.
			  				</p>

			  				<h4>Travel Awards</h4>
  							<p>
			  					We have a very limited number of travel awards available for academics and students of US institutions who wish to attend the US Ignite Application Summit. If selected for a travel award your registration fees will be reimbursable.
			  				</p>

			  				<h4>Transportation</h4>
  							<p>
			  					Washington, DC is accessible from Baltimore, Dulles and Ronald Reagan National airports. Consider the cost of ground transportation when making your flight selections.
			  				</p>
			  				
  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="partners" >
  							<h3>Thank you to our partners, we could not hold the Smart Future Summit without you!</h3>

  							<div class="partners-grid">
	  							<a href="http://nsf.gov/" target="_blank" class="medium-4 small-6 columns"><img title="arm" src="{{ STATIC_URL }}img/nsf.png" alt="" ></a>

								<a href="http://mozilla.org/" target="_blank" class="medium-4 small-6 columns"><img title="cisco" src="{{ STATIC_URL }}img/mozilla.png" alt="" ></a>

								<a href="http://geni.net/" target="_blank" class="medium-4 small-6 columns end"><img title="health and human services" src="{{ STATIC_URL }}img/geni_logo.png" alt=""></a>

								
							</div>

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="speakers">
  						
  							<p>
			  					We are adding speakers on a daily bases, so be sure to check back often to learn more about the exciting speakers at the Summit. 
			  				</p>

			  				<h4>Joe Kochan</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="{{ STATIC_URL }}img/staff/IMG_7898-2.jpg" class="callout__image">
								</div>
				  				<p>
				  					Joseph (Joe) Kochan joins US Ignite as management consultant from Widelity, Inc. specializing in business strategy, business plan development and modeling, project management, network deployment and operations, and federal grant compliance.
				  				</p>
				  				<p>
									Prior to joining Widelity, Mr. Kochan worked as part of the Department of Commerce’s BTOP grant program. Prior to that role, he was a founder and Vice President–Operations of DigitalBridge Communications (DBC), a Virginia-based startup backed by over $40M in venture funding dedicated to bringing broadband services to small, underserved markets nationwide using broadband wireless technology. At DBC, Mr. Kochan managed the design and deployment of 4G wireless networks covering over 600,000 people in 6 states, as well as the acquisition of the company’s first 20,000 customers.
				  				</p>
				  			</div>

			  				<h4>Glenn Ricart</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="{{ STATIC_URL }}img/staff/20130924-GR-headshot-1.jpg" class="callout__image">
								</div>
				  				<p>
				  					Glenn Ricart brings forty years of innovation in computer networking and related fields to US Ignite. Glenn is an Internet pioneer who implemented the first Inter-net interconnection point (the FIX in College Park, Maryland) and was recognized for this achievement by being inducted into the Internet Hall of Fame in August 2013. In one of his previous roles where he was academic CIO at the University of Maryland, his campus implemented the first institution-wide TCP/IP (Internet) network in 1983 using low-cost PDP-11 routers (“Fuzballs”) with software devised at the University of Maryland. Glenn was principal investigator of SURAnet, the first regional TCP/IP (Internet) network of academic and commercial institutions. 

				  				</p>
				  			</div>

			  				<h4>William Wallace</h4>
			  				<div class="speaker">
				  				<div class="callout">
									<img src="{{ STATIC_URL }}img/staff/billwallace.jpg" class="callout__image">
								</div>
				  				<p>
				  					William Wallace is Executive Director and brings to US Ignite more than 30 years of experience in the telecommunications industry, most recently as co-founder of DigitalBridge Communications (DBC), a venture-backed startup dedicated to bringing 4G broadband wireless services to underserved portions of the U.S.
				  				</p>

				  				<p>
				  					Prior to DBC, Mr. Wallace was co-founder and CEO of OnePoint Communications, which was purchased by Verizon Communications in 2000. OnePoint and its successor company, Verizon Avenue, provide bundled communications services to concentrated communities nationwide, including apartment communities, military bases, and rural areas.

				  				</p>
			  				</div>

  						</div>
  						<!-- end [data-section-name] -->

  						<div data-section-name="demos" >
  							<h3>Please check back shortly to learn about the exciting next-generation demos being showcased on our stage!</h3>			  				
  						</div>
  						<!-- end [data-section-name] -->
  					</div>
  					<!-- end .tab-content -->
  				</div>
  				<!-- .tabs-container -->
  			</div>
  		</div>
  		<!-- end .row -->

  		<!-- TEMPLATE MARKUP FOR MOBILE TABS
  		<div class="row">
  			<div class="columns small-12 small-centered ">
  				<div class="mobile-tabs-container">
  					<div class="tabs">
  						<div>
  							<a href="#" class="handle" data-section="description">Description <div class="close">&#215;</div></a>
  							<div data-section-name="description" class="tab-content active">
  								TAB CONTENT HERE
  							</div>
  						</div>
  						
  				</div>
  			</div>
  		</div>
		-->

  		<div class="row">
	  		<div class="share-buttons">
		  		<h2 class="center">Share This Event</h2>
		  		<a href="http://twitter.com/intent/tweet?text=App Summit 2015&url={{ SITE_URL }}/appsummit2015&utm_source=TWSH" class="share-button twitter"> 
					<span class="icon-uniE608"></span> 
				</a>
				<a href="http://www.facebook.com/sharer.php?u=https://us-ignite.org/appsummit2015&utm_source=FBSH" class="share-button facebook"> 
					<span class="icon-uniE607"></span> 
				</a>
				<a href="https://plus.google.com/share?url=https://us-ignite.org/appsummit2015&utm_source%3DGPSH" class="share-button google"> 
					<span class="icon-googleplus"></span> 
				</a>
	  		</div>
  		</div>
  		<!-- end .row -->

  	</div>
  	<!-- end .march-2015-splash -->




  	<!-- footer -->
  	<footer class="footer">
  		<p class="center sponsors-partners">PARTNERS:</p>

  		<div class="row">
  			<div class="carousel small-10 small-centered columns">
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/arm.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/cisco.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/extreme-networks.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/ibm.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/intel.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/juniper.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/qualcomm.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/ge.png" /></div>

  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/nist-footer.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/NSF.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/ita-footer.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/health-and-human-footer.png" /></div>
  				<div><img src="{{ STATIC_URL }}globalcityteams/images/footer-logos/us-dept-energy-footer.png" /></div>
  			</div>
  		</div>
  		<div class="footer-separator"></div>

  		<div class="hide-for-medium-up">
  			<p class="center sponsors-partners">FOLLOW US</p>
  			<div class="footer-social">
  				<a target="_blank" href="https://www.facebook.com/USIgnite"><span class="icon-uniE607"></span></a>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				<a target="_blank" href="https://twitter.com/US_Ignite"><span class="icon-uniE608"></span></a>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				<a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><span class="icon-googleplus"></span></a>
  			</div>

  			<p class="center sponsors-partners" id="top-arrow">TOP OF THE PAGE</p>

  			<p class="center sponsors-partners"><a class="" href="/globalcityteams">HOME</a></p>
  			<br>
  		</div>

  		<p class="copyright center">© Copyright 2014 US Ignite. All Rights Reserved</p>
  	</footer>
  	<!-- /footer -->

  	<script type="text/javascript">var switchTo5x=true;</script>
  	<!--<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
  	<script type="text/javascript">stLight.options({publisher: "433be1f0-4429-4a51-8401-307c2652339c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script> -->

  	<!--[if (gte IE 9) | (!IE)]><!-->
  	<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
  	<script src="{{ STATIC_URL }}bower_components/fastclick/lib/fastclick.js"></script>
  	<!--<![endif]-->

    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}bower_components/jquery-1.9.1/index.js"></script>

      <script src="{{ STATIC_URL }}js/vendor/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/nwmatcher-1.2.5-min.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/selectivizr-1.0.3b.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
      <![endif]-->

      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.orbit.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.topbar.js"></script>
      <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
      <script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.js"></script>
      <script src="{{ STATIC_URL }}js/app.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/slick.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/jquery.validate.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/jquery.dataTables.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/dataTables.responsive.min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/jquery.matchHeight-min.js"></script>
      <script src="{{ STATIC_URL }}globalcityteams/js/gctc.js"></script>



      <script type="text/javascript">
      	WebFontConfig = {
      		 google: { families: [ 'Lato:100,300,400,700,900:latin' ] }
      	};
      	(function() {
      		var wf = document.createElement('script');
      		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      		'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      		wf.type = 'text/javascript';
      		wf.async = 'true';
      		var s = document.getElementsByTagName('script')[0];
      		s.parentNode.insertBefore(wf, s);
      	})();
      </script>

      {% include "includes/google_analytics.html" %}
  </body>
  </html>