{% extends "base.html" %}

{% block title %}List of screens - {{ block.super }}{% endblock title %}

{% block content %}
<h2>Registration</h2>
<ul>
  <li><a href="{% url 'registration_register' %}">Registration</a></li>
  <li><a href="{% url 'registration_activation_complete' %}">Activation complete</a></li>
  <li><a href="{% url 'registration_activate' '1234567890123456789012345678901234567890' %}">Failed registration activation</a></li>
  <li><a href="{% url 'registration_complete' %}">Registration complete</a></li>
  <li><a href="{% url 'registration_disallowed' %}">Registration disallowed</a></li>
</ul>

<h2>Accounts</h2>
<ul>
  <li><a href="{% url 'auth_login' %}">Login</a></li>
  <li><a href="{% url 'auth_logout' %}">Logout</a></li>
  <li><a href="{% url 'auth_password_change' %}">Password change</a></li>
  <li><a href="{% url 'auth_password_change_done' %}">Completed password change</a></li>
  <li><a href="{% url 'auth_password_reset' %}">Password reset</a></li>
  {% comment %}<li><a href="{% url 'auth_password_reset_confirm' %}">Password reset confirmation</a></li>{% endcomment %}
  <li><a href="{% url 'auth_password_reset_complete'%}">Reset complete</a></li>
  <li><a href="{% url 'auth_password_reset_done'%}">Reset done</a></li>
  <li><a href="{% url 'user_profile' %}">Edit user profile</a></li>
</ul>

<h2>People</h2>
<ul>
  <li><a href="{% url 'profile_list' %}">Member list</a></li>
  {% if request.user.is_authenticated %}
  <li><a href="{{ request.user.profile.get_absolute_url }}">Profile Detail</a></li>
  {% endif %}
</ul>

{% endblock content %}
