<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Gigabit Communities - US Ignite</title>

    <meta name="description" content="Developing Gigabit-ready digital experiences and applications. Developing Gigabit-ready digital experiences and applications.">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />

    <script type="text/javascript">__SITEURL__ = "{{ SITE_URL }}";</script>
    <script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>

<!--[if lt IE 9]>
<link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" />
<![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sgc.css"/>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Roboto:400,500,700,900" rel="stylesheet">
<!--<![endif]-->

</head>
<body class="sgc-body">
    <div class="header-bar">
        <div class="row">
            <div class="columns medium-3">
                <div class="logo">
                    <img alt="" src="{{ STATIC_URL }}img/sgc-logo.png" />
                </div>
            </div>
            <div class="columns medium-5">
               <select></select>
            </div>
            <div class="columns medium-4">
                <div class="social-bar show-for-medium-up">
                 <h4>Share This</h4>
                    <ul class="show-for-medium-up">
                       
                        <li class=""><a href="https://www.facebook.com/USIgnite" class="s" target="_blank"><span class=""></span></a></li>
                        <li class=""><a href="https://twitter.com/US_Ignite" class="" target="_blank"><span class=""></span></a></li>
                        <li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="" target="_blank"><span class=""></span></a></li>
                        <li class=""><a href="http://www.youtube.com/user/USIgnite1" class="" target="_blank"><span class=""></span></a></li>
                    </ul>
                </div>
                 <!-- end .social-bar -->
            </div>
        </div>
    </div>
       
    <main>

    </main>
       

    <!-- footer -->
    <footer class="footer">
        <div class="hide-for-medium-up">
            <p class="center sponsors-partners">FOLLOW US</p>
            <div class="footer-social">
                <a target="_blank" href="https://www.facebook.com/USIgnite"><span class="icon-uniE607 footer-icon"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://twitter.com/US_Ignite"><span class="icon-uniE608 footer-icon"></span></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><span class="icon-googleplus footer-icon"></span></a>
            </div>

            <p class="center sponsors-partners" id="top-arrow">TOP OF THE PAGE</p>

            <p class="center sponsors-partners"><a class="" href="/globalcityteams">HOME</a></p>
            <br>
        </div>

        <p class="copyright center">© Copyright 2017 US Ignite. All Rights Reserved </p>
    </footer>
    <!-- /footer -->

<script type="text/javascript">var switchTo5x=true;</script>
<!--<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "433be1f0-4429-4a51-8401-307c2652339c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script> -->

    <!--[if (gte IE 9) | (!IE)]><!-->
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/fastclick/lib/fastclick.js"></script>
    <!--<![endif]-->

<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}bower_components/jquery-1.9.1/index.js"></script>

<script src="{{ STATIC_URL }}js/vendor/html5shiv.js"></script>
<script src="{{ STATIC_URL }}js/vendor/nwmatcher-1.2.5-min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/selectivizr-1.0.3b.js"></script>
<script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
<![endif]-->

<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.js"></script>
<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.orbit.js"></script>
<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>




<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Lato:100,300,400,700,900:latin' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>

{% include "includes/google_analytics.html" %}
</body>
</html>