<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart City Works - US Ignite</title>

    <meta name="description" content="Developing Gigabit-ready digital experiences and applications. Developing Gigabit-ready digital experiences and applications.">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />

    <script type="text/javascript">__SITEURL__ = "{{ SITE_URL }}";</script>
    <script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>

<!--[if lt IE 9]>
<link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" />
<![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/icons-style.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}globalcityteams/css/style.css"/>
<!--<![endif]-->

<style>
.gctc-festival-splash .tabs-container .tab-bar.expo>a {
    width: 50% !important;
}

.partner-header {
    text-transform: uppercase;
    color: #20c2e2 !important;
    font-weight: 500;
    margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
.sponsor-row {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;   
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
}



.sponsor-row a {
    display: block;
    text-align: center;
    margin-bottom: 30px;

}

.logos-bar img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.gctc-festival-splash .header-image {
     background: url("{{ STATIC_URL }}images/CC BY Anthony Quintano - M.jpg") no-repeat fixed #f4f3f1;
}

.logos-bar img.desktop {
    display: block;
}

.logos-bar img.mobile {
    display: none;   
}
@media screen and (max-width: 768px) {

    .logos-bar img.desktop {
        display: none;
    }

    .logos-bar img.mobile {
        display: block;
    }
}
</style>
</head>
<body class="gctc-festival ">

    <div class="gctc-festival-splash">

        <div class="social-bar show-for-medium-up">
            <div class="row">
                <div class="columns small-12">
                    <ul class="inline-list quicklinks__list right splash">
                        <li class=""><a href="https://www.facebook.com/USIgnite" class="socialicon facebook" target="_blank"><span class="icon-uniE607"></span></a></li>
                        <li class=""><a href="https://twitter.com/US_Ignite" class="socialicon twitter" target="_blank"><span class="icon-uniE608"></span></a></li>
                        <li class=""><a href="https://plus.google.com/115026873083967953743/posts" class="socialicon google-plus" target="_blank"><span class="icon-googleplus"></span></a></li>
                        <li class=""><a href="http://www.youtube.com/user/USIgnite1" class="socialicon youtube" target="_blank"><span class="icon-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end .social-bar -->

        <div class="logos-bar">
            <div class="row">
                <div class="small-10 columns small-centered columns medium-6">
                    <img class="mobile" src="{{ STATIC_URL }}images/nist-usignite-gctc-logo-stacked-72949.jpg" />
                    <img class="desktop" src="{{ STATIC_URL }}images/nist-usignite-gctc-logo-bkdhp.jpg" />
                </div>
            </div>
        </div>

        <div class="header-image"></div>

        <div class="row">
            <div class="columns small-12">
                <h1 class="event-title">Smart City Works</h1>
            </div>

        </div>

        <div class="row">
            <div class="columns small-12 medium-8 small-centered">
                <h2 class="event-subtitle">

                   <em>Smart City Works is partnering with NIST and US Ignite to provide a unique opportunity for qualified Global City Challenge Teams interested in commercializing their innovations to compete for and be accepted into an upcoming cohort class. </em>

                </h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="columns small-12 medium-8 small-centered">
              
                <p>
                     If your team is accepted into the accelerator you will receive the following benefits:
                     <ul>
                        <li>An intensive 5-month learning, development, and training program</li>
                        <li>Up to $40k investment in your company</li>
                        <li>Access to world class technical expertise</li>
                        <li>Access to industry leading mentors and executives</li>
                        <li>State of the art design tools from Autodesk, IBM, Interdigital, and others</li>
                        <li>Professional Services Support (product development, legal, accounting, etc.)</li>
                        <li>Direct market exposure</li>
                        <li>Opportunities for access to global test beds for testing and scaling</li>
                        <li>Access to investment capital, infrastructure companies and cities</li>
                       
                     </ul>
                </p>
                <br><br>
                <h3 class="center">
                    <b>Qualified Teams Will:</b>
                </h3>
                <p >
                    <ul>
                        <li>Need to be a registered company prior to joining a cohort</li>
                        <li>Be willing and able to travel to and participate in person for the duration of the accelerator experience.</li>  
                        <li>The next cohort will take place in the Washington, DC and Boston, Massachusetts regions in the Fall of 2016.</li>
                        <li>Have a product, service, or solution that will significantly improve civil infrastructure, its value chain, and livability in cities.</li>
                        <li>Have a product, service, or solution that has a level of maturity that has a high likelihood of leading to commercialization.</li>
                    </ul>
                </p>
                <br>
                <br>
                <p>For more information on Smart City Work and participation in a cohort, see <a target="_blank" href="http://nebula.wsimg.com/c060ef281598775eeeb9a87141951380?AccessKeyId=04B01B1C5507DCFC65F7&disposition=0&alloworigin=1">Smart Works FAQs</a>.</p>
                    <br>

            </div>
        </div>

        <div class="row">
            <div class="columns small-12 center small-centered">

                    <a href=" http://goo.gl/forms/keRFa4GmqjgSo0WC2" class="button register" style="background-color:#ff8100;" target="_blank">Press Here to Prequalify</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="columns small-12 medium-8 small-centered">
                <h3 class="center">
                    <b>About Smart City Works</b>
                </h3>
                <p>
                    Smart City Works is the world’s first business “actuator” and a premier business accelerator for improving livability and resilience in cities.  Smart City Works’ unique focus on the built environment aims to dramatically change the way society designs, build and operates civil infrastructure.  Smart City Works operates twice-yearly sessions that are designed to propel graduating companies into the marketplace, endowed with proven products, and equipped with the skills to grow and compete for funding and market share. For more information about Smart City Works, please visit: <a target="_blank" href="http://smartcityworks.io">www.smartcityworks.io</a>.

                </p>
               
            </div>
        </div>

        <div class="row">
            <div class="share-buttons">
                <h2 class="center">Share This Event</h2>
                <a href="http://twitter.com/intent/tweet?text=2016 Global City Teams Challenge Expo&url={{ SITE_URL }}/smartcityworks&utm_source=TWSH" class="share-button twitter">
                    <span class="icon-uniE608"></span>
                </a>
                <a href="http://www.facebook.com/sharer.php?u={{ SITE_URL }}/smartcityworks&utm_source=FBSH" class="share-button facebook">
                    <span class="icon-uniE607"></span>
                </a>
                <a href="https://plus.google.com/share?url={{ SITE_URL }}/smartcityworks&utm_source%3DGPSH" class="share-button google">
                    <span class="icon-googleplus"></span>
                </a>
            </div>
        </div>
        <!-- end .row -->

    </div>
    <!-- end .gctc-festival-splash -->




<!-- footer -->
<footer class="footer">
    {% comment %}
    <p class="center sponsors-partners">PARTNERS:</p>

    <div class="row">
        <div class="carousel small-10 small-centered columns">
            <div><img src="{{ STATIC_URL }}images/amazon.png" /></div>
            <div><img src="{{ STATIC_URL }}images/cenic.png" /></div>
            <div><img src="{{ STATIC_URL }}images/charlesstewartmott.png" /></div>
            <div><img src="{{ STATIC_URL }}images/cisco.png" /></div>
            <div><img src="{{ STATIC_URL }}images/comcast.png" /></div>
            <div><img src="{{ STATIC_URL }}images/epb.png" /></div>
            <div><img src="{{ STATIC_URL }}images/extreme-networks.png" /></div>
            <!-- <div><img src="{{ STATIC_URL }}images/google-fiber.png" /></div> -->
            <div><img src="{{ STATIC_URL }}images/hp.png" /></div>
            <div><img src="{{ STATIC_URL }}images/internet2.png" /></div>
            <div><img src="{{ STATIC_URL }}images/jdsu.png" /></div>
            <div><img src="{{ STATIC_URL }}images/juniper.png" /></div>
            <div><img src="{{ STATIC_URL }}images/lafayette.png" /></div>
            <div><img src="{{ STATIC_URL }}images/lakenona.png" /></div>
            <div><img src="{{ STATIC_URL }}images/lit.png" /></div>
            <div><img src="{{ STATIC_URL }}images/merit.png" /></div>
            <div><img src="{{ STATIC_URL }}images/mozilla.png" /></div>
            <div><img src="{{ STATIC_URL }}images/orange.png" /></div>
            <div><img src="{{ STATIC_URL }}images/sanleandro.png" /></div>
            <div><img src="{{ STATIC_URL }}images/verizon.png" /></div>
            <div><img src="{{ STATIC_URL }}images/wilson.png" /></div>

        </div>
    </div>
    <div class="footer-separator"></div>
    {% endcomment %}
    <div class="hide-for-medium-up">
        <p class="center sponsors-partners">FOLLOW US</p>
        <div class="footer-social">
            <a target="_blank" href="https://www.facebook.com/USIgnite"><span class="icon-uniE607 footer-icon"></span></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a target="_blank" href="https://twitter.com/US_Ignite"><span class="icon-uniE608 footer-icon"></span></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><span class="icon-googleplus footer-icon"></span></a>
        </div>

        <p class="center sponsors-partners" id="top-arrow">TOP OF THE PAGE</p>

        <p class="center sponsors-partners"><a class="" href="/globalcityteams">HOME</a></p>
        <br>
    </div>

    <p class="copyright center">© Copyright 2014 US Ignite. All Rights Reserved </p>
</footer>
<!-- /footer -->

<script type="text/javascript">var switchTo5x=true;</script>
<!--<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "433be1f0-4429-4a51-8401-307c2652339c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script> -->

    <!--[if (gte IE 9) | (!IE)]><!-->
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/fastclick/lib/fastclick.js"></script>
    <!--<![endif]-->

<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}bower_components/jquery-1.9.1/index.js"></script>

<script src="{{ STATIC_URL }}js/vendor/html5shiv.js"></script>
<script src="{{ STATIC_URL }}js/vendor/nwmatcher-1.2.5-min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/selectivizr-1.0.3b.js"></script>
<script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
<![endif]-->

<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.js"></script>
<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.orbit.js"></script>
<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
<script src="{{ STATIC_URL }}globalcityteams/js/slick.min.js"></script>
<script src="{{ STATIC_URL }}globalcityteams/js/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}globalcityteams/js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}globalcityteams/js/dataTables.responsive.min.js"></script>
<script src="{{ STATIC_URL }}globalcityteams/js/jquery.matchHeight-min.js"></script>
<script src="{{ STATIC_URL }}globalcityteams/js/gctc.js"></script>



<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Lato:100,300,400,700,900:latin' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>

{% include "includes/google_analytics.html" %}
</body>
</html>