<!-- Right Nav Section -->
<ul class="right">

  <li class="has-dropdown">
    <a href="{% url 'globalcityteams:globalcityteams_about' %}">ABOUT</a>
    <ul class="dropdown">
      <li><a href="{% url 'globalcityteams:globalcityteams_about' %}">GLOBAL CITY TEAMS CHALLENGE</a></li>
      <li><a href="{% url 'globalcityteams:globalcityteams_faq' %}">FAQ</a></li>
      <li><a href="{{ SITE_URL }}/globalcityteams/participation-guide">PARTICIPATION GUIDE</a></li>
      <li><a href="{% url 'globalcityteams:globalcityteams_partners' %}">PARTNERS</a></li>
      <li><a href="{% url 'globalcityteams:globalcityteams_sectors' %}">SECTORS</a></li>
    </ul>
  </li>

  <li class="has-dropdown">
    <a href="{% url 'actioncluster_list' %}">ACTION CLUSTERS</a>
    <ul class="dropdown">
      <li><a href="{% url 'actioncluster_list' %}">CURRENT ACTION CLUSTERS</a></li>
        <li><a href="{% url 'actioncluster_list_archive' %}">ACTION CLUSTERS 2015</a></li>
      <li><a href="{% url 'actioncluster_add' %}">ADD AN ACTION CLUSTER</a></li>
      <li><a href="{% url 'actioncluster_list_partner' %}">LOOKING FOR PARTNERS</a></li>
      <li><a href="{% url 'actioncluster_list_iot' %}">IOT PROJECT IDEAS</a></li>
      <li><a href="http://wiki.us-ignite.org/index.php?title=Global_City_Teams_Challenge&action=edit&redlink=1">WIKI</a></li>
    </ul>
  </li>

 
 <li><a href="{% url 'globalcityteams:news_list' %}">NEWS</a></li>
 <li><a href="{% url 'globalcityteams:event_list' %}">EVENTS</a></li>
 

  {% block search %}
  <li class="has-form">
    <div class="row collapse">
      <div class="small-12 columns search">
        {% include "includes/microsite_search.html" %}
      </div>
    </div>
  </li>
  {% endblock search %}

</ul>


