<h2>Navigation</h2>
<ul>
  {% if request.user.is_authenticated %}
  <li>Logged in as: {% if request.user.profile.full_name %}<a href="{{ request.user.profile.get_absolute_url }}">{{ request.user.profile.full_name }}</a>{% else %}<a href="{% url 'user_profile' %}">{{ request.user.email }}</a>{% endif %}</li>
  <li><a href="{% url 'auth_logout' %}">Logout</a></li>
  {% else %}
  <li><a href="{% url 'auth_login' %}">Login</a></li>
  <li><a href="{% url 'registration_register' %}">Registration</a></li>
  {% endif %}
  <li><a href="{% url 'apps_featured' %}">Featured Apps</a></li>
  <li><a href="{% url 'app_add' %}">Add Idea or App</a></li>
  <li><a href="{% url 'event_list' %}">Events</a></li>
  <li><a href="{%url 'hub_list' %}">Ignite Communities</a></li>
  <li><a href="{%url 'challenge_list' %}">Challenges</a></li>
</ul>
