{% if page.paginator.num_pages %}
<div class="pagination-centered">
	<ul class="pagination">
	  {% if page.has_previous %}
	  <li class="arrow"><a href="?page={{ page.previous_page_number }}{% if order %}&order={{ order|urlencode }}{% endif %}{% if pagination_qs %}{{ pagination_qs }}{% endif %}">previous</a></li>
	  {% endif %}
	  <li class="current">Page {{ page.number }} of {{ page.paginator.num_pages }}</li>
	  {% if page.has_next %}
	  <li class="arrow"><a href="?page={{ page.next_page_number }}{% if order %}&order={{ order|urlencode }}{% endif %}{% if pagination_qs %}{{ pagination_qs }}{% endif %}">next</a></li>
	  {% endif %}
	</ul>
</div>
{% endif %}