{% extends "registration/base.html" %}

{% block title %}Entry to {{ challenge.name }} - {{ block.super }}{% endblock title %}

{% block section_title %}
Entry to  {{ challenge.name }}
{% endblock section_title %}

{% block section %}
<p>{{ challenge.summary }}</p>

<h2>Application: {{ application.name }}</h2>
<p>{{ application.get_summary }}</p>
<ul>
  <li>Entered on {{ entry.created }}</li>
  {% if challenge.hide_entries %}<li>Entries will be published after the challenge has finished.</li>{% endif %}
</ul>

<h2>Challenge entry</h2>
{% for answer in answer_list %}
<h4>{{ answer.question.question }}</h4>
<p>{{ answer.answer }}</p>
{% endfor%}
{% endblock section %}
