{% extends "base.html" %}

{% block title %}Enter to {{ challenge.name }} - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Challenge: {{ challenge.name }}</h1>
<ul>
  <li>Entered on {{ entry.created }}</li>
  <li>
    <form method="post" action="{{ entry.get_withdraw_url }}">
      {% csrf_token %}
      <p>Withdraw the entry will become a draft and it will require to be moderated.</p>
      <button type="submit">Withdraw entry</button>
    </form>
  </li>
</ul>

<p>{{ challenge.get_display_status }}</p>

<p>{{ challenge.summary }}</p>

<h2>Application: {{ application.name }}</h2>
<p>{{ application.get_summary }}</p>

{% for answer in answer_list %}
<h3>{{ answer.question.question }}</h3>
<p>{{ answer.answer }}</p>
{% endfor%}

{% endblock content %}
