{% extends "base.html" %}

{% block title %}Enter to {{ challenge.name }} - {{ block.super }}{% endblock title %}

{% block content %}
<h1>Participate in challenge: <a href="{{ challenge.get_absolute_url }}">{{ challenge.name }}</a></h1>
{% if challenge.hide_entries %}<p>Entries will be published after the challenge has finished.</p>{% endif %}
<p>{{ challenge.summary }}</p>

<h2>Application: {{ application.name }}</h2>
<p>{{ application.get_summary }}</p>

<h2>Entry form:</h2>
<p>Once the application has been submitted, if edited again will need to be submitted agan for consideration.</p>
<form method="post" action="{% url 'challenge_entry' challenge.slug application.slug%}">
  {{ form.as_p }}
  <p>
    {% csrf_token %}
    <button type="submit">Enter challenge</button>
  </p>
</form>

{% endblock content %}
