{% extends "includes/lists/object_detail_base.html" %}{% load apps_urls thumbnail common_markdown %}

{% block title %}Challenge {{ object.name }} - {{ block.super }}{% endblock title %}

{% block tag_list %}
{% include "includes/tag_list.html" with tag_list=object.tags.all tag_type="search_hubs" %}
{% endblock tag_list %}

{% block intro %}
  <li>Created by {% include "includes/display_name.html" with user=object.owner %}</li>
  {% if object.organization %}
  <li>Organization: <a href="{{ object.organization.get_absolute_url }}">{{ object.organization.name }}</a></li>
  {% endif %}
  <li>Starts on {{ object.start_datetime }}</li>
  <li>Ends on {{ object.end_datetime }}</li>
  {% if object.hide_entries %}<li>Entries will be published after the challenge has finished.</li>{% endif %}
{% endblock %}

{% block detail_extras %}

  {% if object.is_external %}
  <p><a href="{{ object.url }}" class="button" target="_blank">Participate in the challenge.</a></p>
  {% else %}
  {% include "challenges/includes/challenge-open.html" %}
  {% endif %}
{% endblock %}








