{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock title %}

{% block content %}
<h1>Challenge: {{ object.name }} {% if object.is_draft %}(DRAFT){% endif %}</h1>

<ul>
  <li>Created by {% include "includes/display_name.html" with user=object.owner %}</li>
  <li>Starts on {{ object.start_datetime }}</li>
  <li>Ends on {{ object.end_datetime }}</li>
</ul>

<p>{{ object.summary }}</p>

{% if object.image %}<img src="{{ object.image.url }}" alt="" />{% endif %}

<h2>Description</h2>
{{ object.description|linebreaks }}


{% if object.is_open %}
<h2>Participate:</h2>
<p>This challenge is open for entries. </p>
{% if entry_list %}
<p>Participate with one of your apps:</p>
<ul>
  {% for entry in entry_list %}
  <li>
    {% include "challenges/object_app_entry.html" with object=object application=entry.application entry=entry.entry %}
  </li>
  {% endfor%}
</ul>
{% else %}
<a href="{% url "app_add" %}">Create an application</a> to participate.
{% endif %}

{% else %}
<p>This challenge is closed.</p>
{% endif %}

{% endblock content %}
