{% extends "includes/lists/object_list_base.html" %}

{% block title %}US Ignite Challenges - {{ block.super }}{% endblock title %}

{% block page_title %}Ignite Challenges{% endblock page_title %}


{% block top_panel %}
<div class="row panel">
  <div class="small-12 columns">
    <h2>Participate in a Challenge</h2>
    <p>Lorem ipsum.</p>
  </div>
</div>
<div class="row newsletter newsletter--primary">
  <div class="small-12 medium-8 columns newsletter__column">
    <h4 class="newsletter__heading"><strong>GOT A GREAT IDEA FOR AN APPLICATION?</strong> TELL US ABOUT IT...</h4>
  </div>
  <div class="small-12 medium-4 columns newsletter__column">
    <a href="{% url 'app_add' %}" class="button alert postfix">SUBMIT YOUR APP</a>{% csrf_token %}
  </div>
</div>
{% endblock top_panel %}

{% block add_to_list %}
<div class="row newsletter newsletter--primary">
  <div class="small-12 medium-8 columns newsletter__column">
    <h4 class="newsletter__heading"><strong>GOT A GREAT IDEA FOR AN APPLICATION?</strong> TELL US ABOUT IT...</h4>
  </div>
  <div class="small-12 medium-4 columns newsletter__column">
    <a href="{% url 'app_add' %}" class="button alert postfix">SUBMIT YOUR APP</a>{% csrf_token %}
  </div>
</div>
{% endblock add_to_list %}

{% block tags %}{% endblock tags %}
